[2016-03-31 22:48] gbiellem commented on #1338
Should we add a note then that highlights the need to add it you aren't going with the default?

[2016-04-01 02:24] mikeminutillo commented on #517
Had a case yesterday where the customer wanted to use `struct` messages. I do not know if that is supposed to be supported or not but it currently does not work. I raised https://github.com/Particular/NServiceBus/issues/3650 to track it.

If it is decided that `struct` messages are not supported then this should be included in the guidance as well.

[2016-04-01 04:11] SimonCropp commented on #517
People should not be using persistence models a communication models. They are, in the majority, conflicting requirements

[2016-04-01 06:41] weralabaj commented on #1049
Hm... so something like archiving an endpoint?

[2016-04-01 07:45] adamralph commented on #945
As far as visibility is concerned, it doesn't matter which repo the issue is in, since the board includes all of them. We're currently using the `Consider for Promotion` label to highlight issues which are candidates for next in line work.

The current criteria for an issue existing in PlatDev rather than sub-repo are

* The work spans more than one repo
* The issue is not suitable to be public

[2016-04-01 07:49] ramonsmits commented on #1338
@gbiellem What do you mean? Isn't this based on the currently configured value so will always match?

[2016-04-01 07:50] weralabaj commented on #945
But does the squad actually review and prioritize issues in the docs repo? As fair as I know it's currently done by maintainers, or the docs issue is considered the same priority as a related code change in another repo.
Either way - we can leave it here, if you think it won't get forgotten in the process.

[2016-04-01 07:52] ramonsmits commented on #1338
Are you suggesting that we should document the commandline arguments that was rejected previously in #921 ?

[2016-04-01 08:24] gbiellem commented on #1338
@ramonsmits  I meant that without the command line option there is no indication in that doco that  the `service_control_url` should be set in the config if your SC isn't setup on the default URL.

That why I'm suggesting we either add a note or as I said [here](https://github.com/Particular/docs.particular.net/commit/8a3a3f9ec1fcef27b43eded055d1b81603169afb#commitcomment-16778101)  reorder the do

[2016-04-01 08:47] SzymonPobiega commented on #1327
I think the best place is the intro to the upgrade guide where we outline key changes.

[2016-04-01 11:50] SimonCropp commented on #161
Yeah still relevant. I was planning on something like this http://docs.particular.net/nservicebus/sqlserver/operations-scripting but for NH

[2016-04-04 07:30] weralabaj opened #1378 "Update RabbitMQ guides for V6"
Includes upgrade guide and all other docs. Also extending the existing content, where necessary.

To get it ready, review the docs and identify what needs to be created/updated/removed and list it in Plan of Attack here.

PoA:
- [x] Create upgrade guide for RabbitMQ v3 to v4
- [x] Update configuration page for RabbitMQ: http://docs.particular.net/nservicebus/rabbitmq/configuration-api
- [x] Review

[2016-04-04 07:36] weralabaj commented on #1378
@WojcikMike @bording Could you form a proper TF and get it "ready" (define PoA) to work on this one? Seems like big enough to make sense to be tracked and to fall under WIP limit.

/cc: @andreasohlund

[2016-04-04 07:42] weralabaj commented on #1255
@Particular/azure-maintainers Given that effort for this one is huge, I think we need a proper TF formed that will get it done.
I volunteer from the docs mainteners side, but we need at least 2-3 people that worked on Azure. To get it ready I suggest adding info on who has knowledge to tackle each issue (e.g. "Topologies #1259 ( @Scooletz) or "Topologies #1259 (anybody, refer to this and that MSDN

[2016-04-04 07:48] weralabaj commented on #939
@SzymonPobiega could you create a brief PoA for this? A few bullet points explaining what you think should be covered? That would enable other people to work on this too.
Plus, any idea how huge effort that would be? (1hr/1day/1week/who knows?).

[2016-04-04 07:49] yvesgoeleven commented on #1255
@weralabaj count me in for this TF

[2016-04-04 07:53] weralabaj commented on #1255
OK one more thing I forgot - please, indicate when you can get started on this. There's still some dev work going on, right?

[2016-04-04 07:57] andreasohlund commented on #1378
:+1:

[2016-04-04 08:05] WojcikMike commented on #1378
@mat-mcloughlin , @bording  - I added you 2 to this TF as we planned to do this doco changes.

[2016-04-04 08:08] weralabaj commented on #1378
"Review and determine if we need more samples (currently we have only 2)" - do it as part of "getting ready" to avoid extending scope while working on the issue, as much as possible ;)

[2016-04-04 08:11] yvesgoeleven commented on #1255
@weralabaj I want to prioritize this over any additional dev work

[2016-04-04 08:40] WojcikMike commented on #1378
Ok I will ping the TF so that we can determine this. ATM I reviewed other samples and what we could build is:
* Rabbit + Outbox
* Polymorphic Events (similar to http://docs.particular.net/samples/azure/polymorphic-events-asb/)

[2016-04-04 09:14] timbussmann commented on #1178
@weralabaj I'm good with that approach on the config related pages. I could imagine users having the question how to have a config based configuration with v6+ since that was possible previously. We should probably have a page about how to read the config file as a guide we can link users to?

[2016-04-04 09:27] melkio commented on #1255
@weralabaj I'd like to help

[2016-04-04 15:19] SeanFeldman commented on #1255
I'm in @weralabaj

[2016-04-04 20:36] boblangley opened #1379 "Update NServiceBus.Host Sample to show IWantToRunWhenEndpointStartsAndStops usage"
http://docs.particular.net/samples/hosting/nservicebus-host/ enhance sample using IWantToRunWhenEndpointStartsAndStops

[2016-04-04 20:48] SimonCropp commented on #1379
Nor should it. Add that to the nsb host sample

[2016-04-04 21:07] boblangley commented on #1379
@SimonCropp That works too. Updated title/description.

[2016-04-04 23:48] #1184 closed

[2016-04-05 05:12] SimonCropp commented on #795
done http://docs.particular.net/samples/plugin-based-config/

[2016-04-05 05:12] #795 closed

[2016-04-05 05:58] SimonCropp commented on #1275
i took the liberty of creating a placeholder page for this http://docs.particular.net/nservicebus/upgrades/asq-6to7 and adding it to the menu

[2016-04-05 06:16] SimonCropp commented on #1271
i added a placeholder upgrade guide http://docs.particular.net/nservicebus/upgrades/asb-6to7

and some snippets https://github.com/Particular/docs.particular.net/commit/2069465b3ad496c669b4b65c4e50e33bcc418619
I could not work out how to convert NamingConventionsUsage and BrokeredMessageBodyConventionUsage. so i assume they should be in the upgrade guide

[2016-04-05 08:12] yvesgoeleven commented on #1271
Thank you @SimonCropp

The API for changing naming convention rules is totally different now indeed, we'll cover it

[2016-04-05 08:13] yvesgoeleven commented on #1275
Thank you @SimonCropp

[2016-04-05 11:41] Scooletz commented on #1255
@weralabaj I can't imagine not being in this TF!

[2016-04-05 11:57] yvesgoeleven commented on #1255
@Scooletz fixed :)

[2016-04-05 11:59] yvesgoeleven commented on #1255
probably best to ping @dbelcham @WilliamBZA @DavidBoike as well as they worked on the persistence part, their eyes (and eyes) will be valuable to us :)

[2016-04-05 12:19] SimonCropp commented on #1014
duplicate of https://github.com/Particular/docs.particular.net/issues/804

[2016-04-05 12:19] #1014 closed

[2016-04-05 12:39] SimonCropp commented on #1339
Samples are meant to show the smallest amount of code to get an idea across. That code base does not seem to meet that criteria.

The exception to that rule is the showcase. Which shows many features together.

So if there is some scenario in that sample that is not covered by other samples then we should add a new targeted sample with just that code.

If it is using some compelling feature then t

[2016-04-05 12:45] WilliamBZA commented on #1255
Yeah, sure. I'm in. Currently involved in another TF and a few other items, so won't be able to give full commitment but I can definitely take part.

[2016-04-05 13:02] yvesgoeleven commented on #1255
@WilliamBZA added you to the list

[2016-04-05 13:14] melkio commented on #1151
Filled `Current doco structure` section

[2016-04-05 14:08] SzymonPobiega opened #1385 "Create routing extensibility samples"
Provide samples on how to extend the V6 routing.

[2016-04-05 16:46] yvesgoeleven commented on #1255
@Particular/platform-dev-squad As documentation seems to be part of the WIP limit now, I would like to nominate this issue for next in line. Documentation is the only thing missing that would allow us to release the azure related bits to our customers, and should therefore be prioritized imo. The taskforce is defined, all subtasks are identified, we are ready to go

[2016-04-05 18:12] andreasohlund commented on #1255
It's a high prio but atm getting the beta binaries prepared and fixing the rabbit message loss bug has higher prio (next in line) but this one should be a high prio after that.

[2016-04-05 18:25] yvesgoeleven commented on #1255
@andreasohlund I don't think users will do much with binaries with at least basic doco in place

[2016-04-05 19:03] yvesgoeleven commented on #1255
In short I believe we need this before we can go into beta with azure customers

[2016-04-05 19:16] andreasohlund commented on #1255
Are all doc items on this card beta blockers?

[2016-04-05 19:19] melkio commented on #1255
ASB, for instance, has a lot of new features and a lot of changes. Without documentation users can't understand well how transport works.
Going into beta without docu in place could create issues to customers and/or a lot of questions (support cases?) to us

[2016-04-05 19:22] colin-higgins opened #1386 "Register instance of IWantToRunWhenEndpointStartsAndStops undocumented"
The below methods and behaviors is as of now undocumented. This was discovered in the initiative to move IWantToRun from core to hosts.

In v5 there is a method on the EndpointConfiguration for registering an instance of `IWantToRunWhenBusStartsAndStops`.
For only this instance to be picked up, the type needs to be excluded from assembly scanning, or else two instance will be registered.

In v6 th

[2016-04-05 19:33] andreasohlund commented on #1255
I agree that this should be a prio, but non of the azure bits are in the first beta wave

https://github.com/Particular/CustomerSuccess/issues/207

so getting the binaries ready for that wave seem more important to me:

https://github.com/Particular/PlatformDevelopment/issues/706

@Particular/platform-dev-squad thoughts?

[2016-04-05 19:35] SeanFeldman commented on #1255
Upgrade guides are needed. Modification to existing documentation is needed. Especially the doco referenced from upgrade guides. And those will be required for for the "Azure wave" which will not have the time equivalent to the time invested in the general (core) doco.

[2016-04-05 19:39] melkio commented on #1255
@andreasohlund maybe unblocking upgrade guides for transports ( #1271 and #1275 ) could be a first step to start working on Azure related docu.
We can't think to start beta without them, and we can't start working on them just before beta for azure users starts

[2016-04-05 19:55] #1379 closed

[2016-04-06 07:38] weralabaj commented on #1255
@andreasohlund how about putting perf tests on hold for a few days until we get free slot? I think this is crucial to get before beta (at least some parts of it) and it'll take a while to get done.

[2016-04-06 07:41] weralabaj commented on #1255
Scratch it - https://github.com/Particular/PlatformDevelopment/issues/673#issuecomment-206185305 - is it true that neither Azure nor Rabbit are part of beta?

[2016-04-06 07:53] andreasohlund commented on #1255
Not part of private beta phase one, but part of the public beta for the entire platform so they are part of that's the next focus once the phase 1 binaries are up

[2016-04-06 07:53] WilliamBZA commented on #1255
Stop-starting other issues to bump this into WIP is a less-than-ideal solution and I'd much rather prefer to wait for a WIP slot to open because of the completion of a previous task. If there are tasks in progress that aren't critical to V6, that highlights a problem with the WIP selection process.

If we stop another task to start this one, there is no guarantee that the previous task will still

[2016-04-06 07:55] weralabaj commented on #1255
Good point @WilliamBZA, sorry ;) I think we have two candidates for resolving soon and we should focus on them today.

[2016-04-06 07:56] andreasohlund commented on #1255
Is there anything in-progress that you would say fits this description?

[2016-04-06 07:59] weralabaj commented on #1255
3614 and 68?

[2016-04-06 08:30] andreasohlund commented on #1255
Issue raised for ASB raised https://github.com/Particular/PlatformDevelopment/issues/718, I've proposed that it will be next in line (issues for ASQ and storage etc will follow)

[2016-04-06 08:57] andreasohlund commented on #1378
Issue to get rabbit beta ready raised - https://github.com/Particular/PlatformDevelopment/issues/719

Removing the task force from this one since we'll track this from the new issue

[2016-04-07 00:55] #804 closed

[2016-04-07 12:11] weralabaj commented on #1151
@yvesgoeleven @SeanFeldman @melkio keep in mind that the same articles can be linked in a few places in the menu (as we currently do), so the question is mainly how to split the current and future content into articles. Where to put them in the menu could be discussed afterwards.

[2016-04-07 12:43] SimonCropp commented on #1357
tracked by https://github.com/Particular/docs.particular.net/issues/1378

[2016-04-07 12:43] #1357 closed

[2016-04-07 12:44] SimonCropp commented on #1282
@andreasohlund that was 2 weeks ago

[2016-04-07 12:50] weralabaj commented on #1259
Would Sean's post be a good starting point here http://weblogs.asp.net/sfeldman/choosing-topology-with-azure-service-bus?
Is authoring custom topology relevant for beta? If not is that a big effort to cover it?

[2016-04-07 12:50] weralabaj commented on #1259
/cc: @SeanFeldman

[2016-04-07 14:21] SimonCropp commented on #1080
@timbussmann ok. thanks

[2016-04-07 14:21] #1080 closed

[2016-04-07 22:06] SeanFeldman opened #1394 "Authoring a custom ASB toloplogy"
ASB has two topologies out of the box:
-  `EndpointOrientedTopology`
- `ForwardingTopology`

Document how to author a custom topology (part of #1259).

[2016-04-07 22:07] SeanFeldman commented on #1259
@weralabaj authoring a custom topology is a very advanced topic, usually would be after new version of NSB and transport are well understood. So probably not a candidate for the beta.

Authoring a custom topology should be a separate issue outside of `v6 launch`. Opened #1394 for that.

[2016-04-07 22:31] SeanFeldman commented on #1151
The whole `Azure` Section should disappear IMO. Transports should be under transports. Persistence under persistence, and so on.

[2016-04-07 22:36] SeanFeldman commented on #1151
Updated `Future doco structure` section.

[2016-04-08 01:40] #1176 closed

[2016-04-08 02:06] bording commented on #1378
Per https://github.com/Particular/docs.particular.net/pull/1395#issuecomment-207137182, we should make sure we include transaction mode changes from v3 to v4 in the upgrade guide.

[2016-04-08 02:07] bording commented on #1185
#1395 is merged, so this is done.

[2016-04-08 02:07] #1185 closed

[2016-04-08 20:18] dvdstelt opened #1402 "Update database sample to include cleanup strategy"
After some customer questions about Databus, PR #1335 was created.
During discussions it was decided that users can benefit greatly from the Databus sample if it includes an example for a cleanup strategy.

The idea is when the message with the databus property is handled, to create a deferred message with the link to the file and have the file deleted after an x-amount of days.

[2016-04-08 20:52] SeanFeldman commented on #1255
Updated ASB section to reflect what items will be handled as part of the ASB Beta [issue #718](https://github.com/Particular/PlatformDevelopment/issues/718) in PlatDev.

[2016-04-11 00:56] #532 closed

[2016-04-11 09:38] danielmarbach opened #1405 "Abort the pipeline in mutators"
https://github.com/Particular/NServiceBus/issues/2914

Every now and then we have people trying to abort the message handling pipeline in muators. For me that is a smell. @DavidBoike seems to come to the [same conclusion.](http://stackoverflow.com/questions/30075526/discard-message-from-nservicebus-mutator). Should we clarify this in the docs?

@Particular/docs-maintainers any thoughts on this one

[2016-04-11 09:47] SimonCropp commented on #1405
I think "dont abort in mutators" contradicts other adive we have given out. Eg http://docs.particular.net/samples/messagemutators/

[2016-04-11 12:33] andreasohlund commented on #1255
Removing the task force from this one, all work will be done/tracked as part of

https://github.com/Particular/PlatformDevelopment/issues/718
https://github.com/Particular/PlatformDevelopment/issues/723
https://github.com/Particular/PlatformDevelopment/issues/729

and upcoming issue to get the above RC ready. We'll keep this one open until all items here are assigned to a relevant plat dev issue.

[2016-04-11 13:55] DavidBoike commented on #1405
That mutator throws on a validation error. I see that as a lot less smelly. Throw anywhere and it's going to wind up doing retry or in an error queue.

DoNotContinueDispatchingCurrentMessageToHandlers or HandleCurrentMessageLater seem a lot more suspect in a mutator, because those just set things in the pipeline that have to be checked somewhere in order to have any effect, and the assumption is t

[2016-04-11 14:42] Scooletz commented on #1276
We need to create the page and include information about mapping the namespaces, which properly addresses sending messages to other accounts from the API perspective, but we don't have to elaborative now when we describe reasons for that.

[2016-04-11 19:28] SimonCropp commented on #1405
The problem with the mutator approach is we suffer retries unnecessarily. Wasting resources and cluttering the log.

[2016-04-12 11:51] yvesgoeleven commented on #1151
Existing doco has been migrated, but Simon's original remarks have not all been applied yet (snippets, busconfiguration)

[2016-04-12 11:55] yvesgoeleven commented on #1058
Review existing documents for consistent usage of snippets as well

- [ ] ASB
- [ ] ASQ
- [ ] ASP
- [ ] Cloud Service Hosting

Copied from https://github.com/Particular/docs.particular.net/issues/1151

[2016-04-12 12:01] #1151 closed

[2016-04-13 11:19] weralabaj commented on #1271
Should we start compiling a TODO list when going through other issues?
One should be about topologies https://github.com/Particular/docs.particular.net/pull/1411#discussion_r59530293

[2016-04-13 12:26] melkio commented on #1394
We can include this paragraph to explain how to configure a custom topology for mapping between publisher names and event types:

`ITopology` interface exposes a property (`NeedsMappingConfigurationBetweenPublishersAndEventTypes`) to instruct transport environment if mapping must be configured. Custom topologies have to properly configure this property.
Configuration is disabled for topologies tha

[2016-04-14 03:40] SeanFeldman commented on #1394
@melkio This is an external information leaking out of the `EndpointOrientedTopology` topology. Please refer to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/179

[2016-04-14 20:43] SimonCropp commented on #486
given the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doing

[2016-04-14 20:43] #486 closed

[2016-04-14 20:44] SimonCropp commented on #1212
given the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doing

[2016-04-14 20:44] #1212 closed

[2016-04-14 20:44] SimonCropp commented on #1203
given the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doinggiven the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doing

[2016-04-14 20:44] #1203 closed

[2016-04-14 20:44] #1198 closed

[2016-04-14 20:45] SimonCropp commented on #919
given the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doing

[2016-04-14 20:45] #919 closed

[2016-04-14 20:45] SimonCropp commented on #620
given the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doing

[2016-04-14 20:45] #620 closed

[2016-04-14 20:45] SimonCropp commented on #369
given the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doing

[2016-04-14 20:45] #369 closed

[2016-04-14 20:45] SimonCropp commented on #334
given the current status of the distributor moving forward i am closing this one. please feel free to open a PR if u think it is still work doing

[2016-04-14 20:45] #334 closed

[2016-04-15 00:58] indualagarsamy commented on #1281
@SeanFeldman - any reason you removed the `Project: V6 Launch` label from this issue?

[2016-04-15 00:59] SimonCropp commented on #1281
@indualagarsamy it was a GH glitch. we need to go through and add them all back

[2016-04-15 01:10] indualagarsamy commented on #1281
@SimonCropp - ok, thanks.

[2016-04-15 07:11] andreasohlund commented on #1251
Looks like  Particular/NServiceBus#3079 is not going yo get done so this is needed before we go live

[2016-04-15 08:17] timbussmann opened #1421 "Transport specific Scale-out pages"
When trying to scale-out an MSMQ endpoint, the documentation was not a very big help. While all the configuration options are listed, the documentation is quite generic. Some parts were even confusing (e.g. the sample using the `Machine` attribute in the scale-out config although this is not listed in the schema).

I think having dedicated scale-out pages for each transport would be much more help

[2016-04-16 00:37] indualagarsamy commented on #1281
PR merged. https://github.com/Particular/docs.particular.net/pull/1418

[2016-04-16 00:37] #1281 closed

[2016-04-16 00:40] indualagarsamy commented on #1245
@weralabaj - I've documented both IManageMessageFailures and ISatellites and IAdvancedSatellites. But we should open separate issues for it IMO.
Here are the issues regarding those interfaces.
https://github.com/Particular/docs.particular.net/issues/1281
https://github.com/Particular/docs.particular.net/issues/532

[2016-04-16 00:41] indualagarsamy commented on #1245
@weralabaj - Did you mean for this issue to be more of a checklist? If so can you be clear in the issue description? If not can we close this?

[2016-04-16 00:43] indualagarsamy commented on #1282
@andreasohlund - any progress on this?

[2016-04-16 00:47] indualagarsamy commented on #1251
@andreasohlund - Looking at the linked issue isn't informative enough. At least I couldn't get enough information regarding the below:

What performance counters are no longer supported? All of them? Ones from v3, v4 and v5?
Is there any indication to the user that's starting the endpoint that currently has those counters enabled to know that they may not work?

[2016-04-16 00:54] indualagarsamy commented on #1128
@colin-higgins - any updates on this?

[2016-04-17 06:54] andreasohlund commented on #1251
All counters are still provided but we no longer provide counter instances for satellites

In short: Instances for eg. "timeouts" and "timeoutsdispatcher" no longer shows up as available instances in perfmon.

I know that v5 provided `Num messages pulled from q`, `Num messages successful` and `Num messages failed` for satellites. Not sure if we provided processing time and critical time? (needs to

[2016-04-18 01:18] SimonCropp commented on #1269
@yvesgoeleven @melkio since this is merged https://github.com/Particular/docs.particular.net/pull/1407  is this one to be closed?

[2016-04-18 08:59] melkio commented on #1269
Closed by #1407

[2016-04-18 08:59] #1269 closed

[2016-04-18 20:48] particularbot opened #1426 "Doco for Blocking and Non-Blocking IWantToRun"
**Issue by [colin-higgins](https://github.com/colin-higgins)** _4/18/2016 8:33:27 PM +00:00_ _Originally opened as https://github.com/Particular/NServiceBus.Host/issues/79_

---

We should have samples showing how blocking `IWantToRunWhenEndpointStartsAndStops` affects endpoint startup.

These could be referenced in the upgrade guides as a hands on guide on how to handle long running `IWantToRunWh

[2016-04-19 03:22] SeanFeldman commented on #1394
@Particular/tf-azure-service-bus-doco
@Particular/docs-maintainers

Please review

[2016-04-19 05:49] SimonCropp opened #1428 "Azure Servicebus => Azure Service Bus"
it is "Azure Service Bus" not "Azure Servicebus", "Cloud Services" not "cloudservices"

 * [x] fix the urls http://docs.particular.net/nservicebus/azure-servicebus/, http://docs.particular.net/nservicebus/hosting/cloudservices-host/
 * [x] ensure the redirects are in place
 * [x] fix any links pointing to those pages
 * [x] Search and replace for "Azure ServiceBus" and "cloudservices"

[2016-04-19 05:50] SimonCropp commented on #1428
@Particular/tf-azure-service-bus-doco how do u want to play this? i am happy to do it but it might cause merge merge conflict for any branches.

[2016-04-19 06:34] weralabaj commented on #1428
@SimonCropp I'll sync with others and do it.

[2016-04-19 08:46] weralabaj commented on #1428
Resolved in https://github.com/Particular/docs.particular.net/pull/1429

[2016-04-19 08:46] #1428 closed

[2016-04-19 12:17] andreasohlund commented on #1282
PR opened

There is no obsoletes in the core for the individual properties. Should I add that? @Particular/nservicebus-maintainers  (not sure the ROI is there)

[2016-04-19 13:32] colin-higgins commented on #1426
This should have been included in the original issue for moving `IWantToRunWhenBusStartsAndStops` from core. @DavidBoike tested the upgrade and found the warning and documentation to be wanting when it came to addressing a long running & blocking instance.

[2016-04-19 20:13] SimonCropp commented on #1426
Why would this be a sample rather than documentation?

[2016-04-19 20:16] yvesgoeleven opened #1434 "ASQ perf tuning"
After testing it seems that ServicePointManager settings can highly influence performance if the value is set to high. So for regular usage, connection reuse is more important than having the ability to open a lot of connections.

Change the guidance to use corecount \* 6 (or 12), not the 5000 we recommend now. If the process is running .net 4.5, the default will work well (as it changed from 2 to

[2016-04-20 04:36] indualagarsamy commented on #1327
What I'd like to do is:
Have a proper introduction for the upgrade guide.
Outline the major changes that are in v6. Namely the async and moving away from IBus to more into Contexts. And provide why we went that route.
Rearrange some of the content, such as Endpoint Naming, IBus being obsolete etc to make more cohesive sense.

[2016-04-20 09:42] weralabaj commented on #1268
@SeanFeldman @yvesgoeleven could that be a starting point http://docs.particular.net/nservicebus/azure-storage-queues/configuration#connection-strings-securing-connection-strings?

[2016-04-20 12:47] timbussmann commented on #1434
sorry, I think I gave some wrong information about this yesterday. Doesn't seem to choose reasonable defaults in .net 4.5. (it seems like it does for asp apps http://stackoverflow.com/questions/5488235/system-net-servicepointmanager-defaultconnectionlimit-24-bug/5649013#5649013 but other than that it still uses 2).

[2016-04-20 17:27] colin-higgins commented on #1426
Mostly it just needs to be better explained. The sample was what we came up with in the call.

[2016-04-20 17:34] indualagarsamy commented on #1426
@SimonCropp - Since we have a NSB Host sample, it wouldn't be much effort to have a bootstrapper that shows this interface in that sample. It's a sample code more so than documentation. I believe we have doco on the host on the startup and shutdown behavior.

[2016-04-20 17:35] indualagarsamy commented on #1426
@colin-higgins - Rather than adding a new sample, why not add just a bootstrapper to the NSB host sample?

[2016-04-20 17:53] colin-higgins commented on #1426
Well we need to show the different options they have for upgrading and the options they have for long running processes. I think different samples works better. I don't want to take away from the simplicity of the Host sample.

[2016-04-20 19:23] SeanFeldman commented on #1268
@weralabaj yes, with changes. For example:

It's not accurate. There are many ways to leak sensitive information. The doco is not about that. The doco about the fact NSB/transport **was** logging raw connection strings and that information was found in log files. From vNext it's changing to ensure better security. Every other way to leak info is out of scope since its not under our control.

[2016-04-21 00:06] boblangley opened #1442 "Rewrite Gateway index file"
http://docs.particular.net/nservicebus/gateway/

The wording of this article should be updated to remove the conversational wording. It reads like a blog and contains "story" elements to justify the usage of the gateway. While doing so it also assumes the user understands many DDD/SOA terms.

The article should be rewritten to meet our newer standards for technical writing.

[2016-04-21 03:13] SimonCropp commented on #812
this has been done

[2016-04-21 03:13] #812 closed

[2016-04-21 03:13] SimonCropp commented on #811
done

[2016-04-21 03:13] #811 closed

[2016-04-21 03:15] SimonCropp commented on #1426
i still dont see the requirement for making this a sample. samples are for when u have multiple moving pieces together or there is strong value in making it downloadable. neither of those apply in this case.

[2016-04-21 04:31] gbiellem commented on #661
I'll take it @SimonCropp  ... Powershell FTW!

[2016-04-21 05:50] SimonCropp commented on #1421
@SzymonPobiega thoughts?

[2016-04-21 06:06] SzymonPobiega commented on #1421
@SimonCropp we agreed with @timbussmann that the sections in the scale out page should be ideally expanded to a separate page. Not sure how big a priority it is. With the previous system I could just work on it whenever I don't have anything specific but with the new process we need a proper TF to form around this issue.

I am not convinced I should lead it as this will further silo the routing kn

[2016-04-21 06:08] SimonCropp commented on #1421
@SzymonPobiega i think you leading a documentation effort in this would be the opposite effect

[2016-04-21 06:26] SimonCropp commented on #1183
Assuming no response means it is not an issue in v6

[2016-04-21 06:26] #1183 closed

[2016-04-21 06:33] SimonCropp commented on #1020
@hmemcpy do u have any intention of updating wire?

[2016-04-21 06:34] hmemcpy commented on #1020
@SimonCropp sure, I'll do it!

[2016-04-21 06:43] SimonCropp commented on #1020
@distantcam awesome. thanks

[2016-04-21 09:21] #1282 closed

[2016-04-21 09:49] hmemcpy commented on #1020
@SimonCropp v2.0 targeting NSB 6 is on nuget

[2016-04-21 10:35] SimonCropp commented on #1020
done

[2016-04-21 10:35] #1020 closed

[2016-04-21 11:05] SzymonPobiega commented on #1421
OK, then how do I mark it as a proposal for the V6 launch so it can be prioritized?

[2016-04-21 11:30] WojcikMike commented on #1421
Idea came into my mind, Let's pick someone who never done this scale-out for MSMQ and make him do this with our doco. He should write down notes or record whole process. Then we would know what is misleading and unclear.

But we can also do it at the end when we will fill the gaps that we know of.

[2016-04-21 13:27] boblangley commented on #1421
Is this what @ramonsmits just did in https://github.com/Particular/NServiceBus/issues/3678? As somebody who isn't very familiar with the new non-distributor/non-competing consumer scaling it looks like he went through the exercise @WojcikMike described.

The description could use some links to the doco pages in question as well. Are these the articles in question?

http://docs.particular.net/nserv

[2016-04-21 13:29] boblangley commented on #1421
For clarity, I am somebody who is not very familiar with the new scaling / routing capabilities.

[2016-04-21 18:02] colin-higgins commented on #1426
Seeing how each of the options for running code at start/stop.
The moving parts:
- SelfHost
- FeatureStartupTask
- IWantToRunWhenEndpointStartsAndStops
  - Long running
  - Short running

[2016-04-21 20:33] #1259 closed

[2016-04-22 01:24] #1263 closed

[2016-04-22 02:08] SimonCropp commented on #1426
the first two are covered by http://docs.particular.net/samples/startup-shutdown-sequence/

happy to put a IWantToRunWhenEndpointStartsAndStops in the host sample

still dont see the need for a new sample

[2016-04-22 02:09] SimonCropp commented on #1405
@danielmarbach so given i have supplied a use case do u still think it is a smell?

[2016-04-22 02:10] colin-higgins commented on #1426
Specifically for showing options on start/stop though?
If you feel strongly about it, fine, no new sample.
I'll redirect this to making the documentation more clear, the reason we thought we'd use a sample is because it is cumbersome to make the documentation clear on this.

[2016-04-22 02:17] SimonCropp commented on #1426
Both documentations are samples are md and snippets. one is not more cumbersome than the other. being able to download a sample makes the explanation no less cumbersome.

[2016-04-22 03:14] SimonCropp commented on #739
this has been fixed in the recent release of raven

[2016-04-22 03:14] #739 closed

[2016-04-22 03:18] SimonCropp commented on #833
done

[2016-04-22 03:18] #833 closed

[2016-04-22 05:16] mikeminutillo commented on #1405
Should a behavior be able to mark a message as Faulted? i.e. Don't bother to retry, this is a non-transient issue.

[2016-04-22 09:13] yvesgoeleven opened #1446 "ASB DLQ forwarding"
Explain the why and how of DLQ forwarding should (or NOT) be used.

Ensure to make it clear that forwarding **does not** contain information about the failed queue
(feature request for ASB) or SC specific headers.

[2016-04-22 09:50] yvesgoeleven opened #1447 "ASB long running operations"
- [ ] Explain how to do long running operations properly
  - [ ] Related sample: https://github.com/Particular/docs.particular.net/issues/1533
- [ ] Explain relationship between lock duration, autorenewtimeout and long running operations.

[2016-04-22 14:30] Scooletz commented on #1256
@yvesgoeleven Could you clarify this issue? In my opinion it's not needed for beta of ASQ.

[2016-04-22 14:32] Scooletz commented on #887
@SeanFeldman As the author, could you clarify the scope of this? Is it about sending raw messages with schema aligned to the ASQ?

[2016-04-22 17:06] SeanFeldman commented on #887
Correct. That was the intent.

[2016-04-25 08:53] yvesgoeleven opened #1448 "Azure host configuration system"
The hosting document mentions this:

Configuration system: This system allows you to update configuration settings from the Azure management portal, or through the service management API, and the platform will promote these configuration settings to all instances in the roles without downtime.

But this isn't entirely correct.
- First off, in needs to mention that you need more than 1 instance in

[2016-04-25 09:02] yvesgoeleven commented on #1270
Done in https://github.com/Particular/docs.particular.net/pull/1416

[2016-04-25 09:02] #1270 closed

[2016-04-25 10:02] yvesgoeleven commented on #1256
@Scooletz this is indeed not needed for beta and can be done later. The intent is to have similar doco like the transports mentioned where we show how to do native integration as well as powershell scripts to set up the queues as part of an installation script

[2016-04-25 10:15] timbussmann commented on #1275
seems like this has been done by https://github.com/Particular/docs.particular.net/pull/1404 , so should we close this? @yvesgoeleven

[2016-04-25 10:55] yvesgoeleven commented on #1275
@timbussmann if http://docs.particular.net/nservicebus/upgrades/asq-6to7 contains all the changes need for ASQ, then you can close this one indeed (I did not make any changes to it in https://github.com/Particular/docs.particular.net/pull/1404 though)

[2016-04-25 13:06] yvesgoeleven commented on #1261
Closing as it was covered well enough in the full configuration api

[2016-04-25 13:39] SeanFeldman commented on #1264
1. Entity batching `EnableBatching`
1. MessageFactory  (individual sends) `BatchFlushInterval`
1. Multiple messages from a single handler: batching with size limit
  1. Msg size difference between tiers

[2016-04-26 01:21] #1275 closed

[2016-04-26 07:56] yvesgoeleven opened #1453 "ASB addressing logic"
Describe how the new addressing logic in ASB transport works and how it replaces NamingConventions in v6

- [x] Article which includes description of how the new logic works + the how it works in v6 http://docs.particular.net/nservicebus/azure-service-bus/native-integration#naming-conventions
- [x] Upgrade guide section
- [x] Samples of custom implementations of addressing strategies (can be a cop

[2016-04-26 15:49] melkio commented on #1453
this (https://github.com/Particular/NServiceBus.AzureServiceBus/tree/2a6a7cd33cc81d5c6f80f7344b6e5c97392acdc7) is the commit before removing `ReplicatedNamespacePartitioning` and `ShardedNamespacePartitioning` from transport codebase

[2016-04-26 22:43] boblangley opened #1458 "Create sample for Gateway custom channels"
We need a sample on how to create custom channels in the Gateway.

From @weralabaj in https://github.com/Particular/docs.particular.net/issues/1683:

The current content is not sufficient to help somebody implement it, so as part of this article cleanup #1682 I'm moving it here for future reference and removing from the overview page. Ideally one day we'll have a more extensive "How to implement y

[2016-04-28 00:51] SimonCropp opened #1460 "ASB doco should focus on features first and APIs second"
So this http://docs.particular.net/nservicebus/azure-service-bus/configuration/configuration is a top level list of all the config APIs. This it a good as a first start. however i think moving forward we want to invert this documentation structure.

So split this document and document the features rather than the API. then at the bottom of each feature page list the apis to manipulate that feature

[2016-04-28 00:52] SimonCropp commented on #1460
@SeanFeldman ping

[2016-04-28 01:11] SimonCropp opened #1461 "RuntimeEnvironment.MachineNameAction"
raised in relation to this https://github.com/Particular/NServiceBus/pull/3710

so our current doco for `RuntimeEnvironment.MachineNameAction` is this
http://docs.particular.net/nservicebus/msmq/full-qualified-domain-name
which seems to imply it is a MSMQ only setting. this is not true.

so we need to flesh out what else it is used for. also need guidance on if it should be cached or not.

[2016-04-28 04:18] SeanFeldman commented on #1460
@yvesgoeleven we can review this together

[2016-04-28 04:20] SimonCropp commented on #1460
just to be clear this does not need to be done in the short term

[2016-04-28 04:22] SeanFeldman commented on #1460
Absolutely @SimonCropp. We should be done by the next sun eclipse :)

[2016-04-28 16:06] yvesgoeleven commented on #1460
@SimonCropp the plan is indeed to have more 'scenario/customer oriented' pages which refer to this document instead of the other way around, but most of those articles have been move to the RC timeframe because we needed to get something out

[2016-04-29 00:02] SimonCropp opened #1462 "add cleanup strategy to databus sample"

[2016-05-02 07:16] SimonCropp commented on #1426
@DavidBoike @colin-higgins can you supply an example of the blocking code that caused the issue?

[2016-05-02 12:57] SimonCropp opened #1467 "where should upgrade guides be located on the filesystem"
currently we have

 * https://github.com/Particular/docs.particular.net/tree/master/nservicebus/upgrades
 * https://github.com/Particular/docs.particular.net/tree/master/nservicebus/ravendb/upgrades

Should we move the raven ones to `nservicebus/upgrades`? or split the rest out?

[2016-05-02 12:57] SimonCropp commented on #1467
ping @Particular/docs-maintainers @Particular/ravendb-persistence-maintainers

[2016-05-02 14:34] DavidBoike commented on #1467
I think it makes sense to move the Raven ones into the main directory. This will also force the filename to be raven-3to4.md so I won't get confused about what 3to4.md I'm looking at when I see a filename.

[2016-05-02 20:04] DavidBoike opened #1469 "Are we happy with doco on sender-side distribution?"
The only resources we have for MSMQ sender-side distribution are:

* http://docs.particular.net/nservicebus/scalability-and-ha/scale-out#versions-6-and-above
* http://docs.particular.net/samples/scaleout/senderside/

I wouldn't want to perma-link to a named anchor, and a sample doesn't really describe what it is. And when I [search for "sender side distribution"]() I'm not really sure what to clic

[2016-05-02 22:05] indualagarsamy opened #1471 "Create an upgrade guide for users that are currently using NServiceBus.Testing based on NServiceBus version 5"
Relates to https://github.com/Particular/V6Launch/issues/35

[2016-05-02 22:15] indualagarsamy opened #1472 "Exposing endpoints as WCF Service when using NServiceBus Host Version 7"
According to the [existing documentation](http://docs.particular.net/nservicebus/hosting/expose-an-endpoint-as-a-web-wcf-service), it looks like no code changes are required, however that's not the case.

Relates to https://github.com/Particular/V6Launch/issues/35

[2016-05-02 22:20] indualagarsamy opened #1473 "The move from Bus.Dispose to Endpoint.Stop"
When upgrading endpoints, people that were self hosting had the IBus create section in an using block.
When converting over to V6, what we have in the upgrade guide doesn't seem sufficient.

Current doco:
http://docs.particular.net/nservicebus/upgrades/5to6#endpoint-start-and-stop-interface-changes-self-hosting

What might make it more clear is to show the IBus in an using statement to the new End

[2016-05-02 22:26] SimonCropp commented on #1472
dont u mean "Exposing endpoints as WCF Service when using NServiceBus Host Version 7" ?

[2016-05-03 04:22] SimonCropp opened #1474 "missing namespace changes in raven upgrade guide"
http://docs.particular.net/nservicebus/ravendb/upgrades/3to4#namespace-change

for example this commit https://github.com/Particular/docs.particular.net/commit/9555a7ae69d4b0648468c0944a4ae8f532ac9bf5

[2016-05-03 04:22] SimonCropp commented on #1474
@Particular/ravendb-persistence-maintainers can someone look at this

[2016-05-03 04:26] SimonCropp commented on #1474
not sure what other namespaces have changed.

[2016-05-03 19:42] DavidBoike commented on #1474
Added to the PoA for Particular/PlatformDevelopment#733

[2016-05-04 01:07] HEskandari opened #1479 "Throttling guidelines and documentation section is not clear"
A few things to note:

- The [documentation page](http://docs.particular.net/nservicebus/operations/tuning) says that throttling options are removed in v6. There's no mentioning on what's the new default. There's no link to a page with more details (e.g. Upgrade docs)

- The [upgrade doc](http://docs.particular.net/nservicebus/upgrades/5to6#throttling) says there *is* a section about custom thrott

[2016-05-04 01:11] SimonCropp commented on #1479
ping @andreasohlund

[2016-05-04 22:34] #1467 closed

[2016-05-04 23:10] SimonCropp opened #1486 "should the PI be in the menu?"
http://docs.particular.net/platform/installer/

[2016-05-04 23:26] SimonCropp opened #1487 "add missing items to Platform Releases"
http://docs.particular.net/platform/release-notes#nservicebus-transports

missing persistences and need to split azure stuff

[2016-05-05 01:47] #1272 closed

[2016-05-05 03:16] johnsimons commented on #1378
@weralabaj regarding

Has there been any demand for extra samples from our customers ? If not, I would leave it for now.

[2016-05-05 04:03] johnsimons commented on #1378
Update the upgrade guide to include transaction mode changes

[2016-05-05 04:06] SimonCropp commented on #1378
the only possible thing i can think of for more samples is typologies. are they complex enough to satisfy the sample criteria https://github.com/Particular/docs.particular.net#when-to-write-a-sample  ?

if not then i would close this as done

[2016-05-05 04:17] johnsimons commented on #1378
IMO the proposed changes in https://github.com/Particular/docs.particular.net/pull/1466/files#diff-dd047f28015c890ed724e37367146fa8, cover quite well the topologies of Rabbit, hence I don't see a reason to create samples for that.

[2016-05-05 10:24] mauroservienti commented on #1189
All what is needed is listed, however my experience with https://github.com/Particular/CustomerSuccess/issues/166 says that customers don't get there or they don't read enough. How can we improve that?

[2016-05-05 10:28] weralabaj commented on #1189
Hm... I think the article itself is fresh, it didn't exist when you were at the customer's site that might be the part of the reason ;)
Generally though, maybe creating some "getting started" page with links to the important resources?

[2016-05-06 04:11] #1486 closed

[2016-05-06 11:47] MarcinHoppe commented on #1474
I examined all the changes and it seems that the `ConnectionParameters` class was moved to `NServiceBus.Persistence.RavenDB`. I think it would be more consistent if it were moved to `NServiceBus`. After all this is something a business developer would use and not an extension point.

Other than that the namespaces look OK and we don't need to update the upgrade guide.

Feel free to merge this [PR]

[2016-05-06 20:31] indualagarsamy opened #1497 "Lacking proper guidance for customers who used to inject IBus in their custom classes when using NServiceBus.Host"
Relates to https://github.com/Particular/V6Launch/issues/27

**IBus is gone. What now?**
From a NServiceBus.Host perspective, for people that used to get IBus injected into their own containers,what now?

Should they be using `IEndpointInstance`?  If they are self hosting, they can get the `IEndpointInstance` when they create the bus and the documentation is clear, however how does one get to the

[2016-05-06 20:31] indualagarsamy commented on #1497
@Particular/nservicebus-maintainers - please comment.

[2016-05-06 20:32] indualagarsamy commented on #1497
cc / @SeanFeldman

[2016-05-09 06:25] danielmarbach commented on #1497
I think we should create small snippets showing how to bind the necessary communication infrastructure to the supported containers. The question is where would you as a user look for that kind of information? Would it be the upgrade guide or a section under the corresponding containers, or both, or even another place?

[2016-05-09 06:42] SeanFeldman commented on #1497
My vote goes for both.
While upgrade guide was skimmed through, it is an overwhelming amount of information. Instinctively I'd go to a specific container to find that info. Yes, it would be redundant, but removal of auto-injected `IBus` is not a small thing for the customers.

[2016-05-09 17:57] bording commented on #1378
Since it sounds like the conclusion is that we don't need any more samples, I'm going to go ahead and consider this one done.

[2016-05-09 17:57] #1378 closed

[2016-05-10 01:49] #1474 closed

[2016-05-10 03:27] indualagarsamy commented on #1497
@Particular/nservicebus-maintainers -

A lot of our users are going to have a common component library that has an injected IBus like this:
https://github.com/indualagarsamy/MigrateIBus/blob/master/MigrateIBus/SharedCommonUsingV5Core/SomeComponentThatUsesTheBus.cs#L6

That gets used in the host, for example:
https://github.com/indualagarsamy/MigrateIBus/blob/master/MigrateIBus/NsbHostUsingV5Core/B

[2016-05-10 08:03] danielmarbach commented on #1497
I was only a specialist in the handler context task-force. I had a meeting with @mat-mcloughlin and @hmemcpy today to get more context. As far as I remember from talking to @timbussmann the samples about injection got scoped out from the handler context. For some reasons it seems it fell between the cracks after the handler context story was finished.

At the time of the discussion our hope was th

[2016-05-10 10:33] weralabaj commented on #1265
Isn't that covered in http://docs.particular.net/nservicebus/azure-service-bus/retries? Anything left to do or could we close?

[2016-05-10 10:36] #1264 closed

[2016-05-10 10:37] weralabaj commented on #1268
Done

[2016-05-10 10:37] #1268 closed

[2016-05-10 10:38] weralabaj commented on #368
Are all aspects addressed by @melkio's PR? Can we close?

[2016-05-10 10:38] #1261 closed

[2016-05-10 11:02] yvesgoeleven commented on #1265
We can close it

[2016-05-10 11:02] #1265 closed

[2016-05-10 13:36] melkio commented on #368
IMO yes. Everything transport can do related to this topic is covered by my PR

@Particular/azure-service-bus-maintainers thoughts?

[2016-05-10 14:10] mauroservienti commented on #1189
it might be part, or a follow up, to the `first time user experience` initiative.

[2016-05-10 15:22] melkio opened #1507 "Azure: move partition strategies (Replica and Sharding) to samples"
Connects to https://github.com/Particular/docs.particular.net/issues/368

[2016-05-10 18:31] SeanFeldman commented on #368
:+1:

[2016-05-10 20:16] yvesgoeleven commented on #368
yeah we can close this

[2016-05-10 20:16] #368 closed

[2016-05-11 01:05] SimonCropp commented on #1327
@indualagarsamy still working on this? or should i remove your name?

[2016-05-11 09:00] mikeminutillo commented on #1473
Do people often create/destroy the endpoint within a using? Usually whatever hosting infrastructure you are building on (Windows Services, ASP.NET, etc.) have separate methods for start and stop. You'd only use `using` if you were running in a console host.

If we want to make it clearer that the reader should always shut down the endpoint cleanly, we might be better off showing both cases in a `t

[2016-05-11 09:08] HEskandari commented on #1473
I always thought `Using` is converted to `try/finally` by the compiler, so it is all syntactical sugar, was I wrong?

[2016-05-11 09:15] mikeminutillo commented on #1473
We can do `try/finally` in both v5 and v6.
We can only do `using` in v5.

This is because the `IEndpointInstance` does not implement `IDisposable` and *that* is because `Stop()` needs to return `Task` so it doesn't match the `IDisposable.Dispose()` signature.

That's why I'd rather show parallel samples in `try/finally` because they mirror each other and make it easier to see what's changed.

[2016-05-11 09:30] HEskandari commented on #1473
Makes sense and think that'd be very useful to have in the upgrade guides. I'll update the PR tomorrow.

[2016-05-11 15:58] mauroservienti opened #1513 "URL Shortener"
While handling https://github.com/Particular/NServiceBus.RavenDB/pull/232 the @Particular/ravendb-persistence-maintainers found themselves in the situation where a link to doco in a log message would have been very helpful for the end user.

Obviously we perfectly agree that URL maintenance can quickly become a nightmare and should be carefully planned.

We raised the idea of introducing a `URL Sh

[2016-05-11 21:18] SimonCropp commented on #1513
In that case re raise it in platform dev

[2016-05-11 21:18] #1513 closed

[2016-05-11 21:59] SimonCropp opened #1515 "add license to menu"
http://docs.particular.net/nservicebus/licensing/license-management

[2016-05-12 11:54] sfarmar opened #1521 "Getting started guide is not a tutorial but a sample - First time user expiriance"
I got this email from a customer trying to get started with NServiceBus.
I think we can improve this?

[2016-05-12 12:12] SimonCropp commented on #1521
That sample has not really changed much since v3 days. I agree it is lacking

In regards to his question it seems like this is actually the sample that would have helped more http://docs.particular.net/samples/endpoint-configuration/

[2016-05-12 12:22] weralabaj commented on #1521
@sfarmar I moved your description to DevEdu, to avoid making conversation with customer public ;)
let's close issue here and discuss there?

[2016-05-12 12:29] goblinfactory commented on #1521
Thank you for the quick response. I have enough to work with now, thank you. Last bit of constructive feedback; I highly recommend Particular do some hallway testing on your documentation; get 2 or 3 .net volunteers who have never used nservicebus before and ask them to go to your website and find the 'getting started' and follow the instructions. you'll get a world of useful feedback. All the bes

[2016-05-12 12:33] sfarmar commented on #1521
@weralabaj you beat me to it, thanks.

@goblinfactory Thanks for the feedback

[2016-05-12 12:43] weralabaj commented on #1521
@goblinfactory The timing is really good, since we're about to start a larger initiative to improve the experience for 1st time users. I guess a lot of "new" people coming to our website went through the course or the book, so we don't get a lot of feedback from people starting from the website.
We really appreciate your comments. If anything new comes to mind, please, email Sean or raise an issue

[2016-05-12 17:32] DavidBoike commented on #1469
Withdrawn in favor of Particular/V6Launch#41

[2016-05-12 17:32] #1469 closed

[2016-05-12 18:34] DavidBoike commented on #1472
What didn't work?

Not that this has ever been the most straightforward process in the first place.

[2016-05-12 18:42] DavidBoike opened #1523 "Explain API decision to not use async suffix"
This could confuse existing and new users alike.

Content is [here in Google Groups](https://groups.google.com/forum/#!searchin/particularsoftware/async%2420suffix/particularsoftware/xrSJpgjowJQ/RWAlIxpfBgAJ) but needs to be spelled out in docs.

As @timbussmann pointed out in https://github.com/Particular/NServiceBus/issues/3726#issuecomment-217371415, because new users could be confused by this

[2016-05-13 08:02] melkio commented on #1507
`ReplicatedNamespacePartitioning` and `ShardedNamespacePartitioning` have been removed from trasport because they need a sort of "incubation" period to understand how to improve them.

The idea was to use these strategies to show how to implement a custom strategy and how to provide it to transport, moving them to samples.

[2016-05-13 19:23] SeanFeldman opened #1527 "Customizing pipelines doco"
Currently there are 2 docs

1. http://docs.particular.net/nservicebus/pipeline/customizing-v5
1. http://docs.particular.net/nservicebus/pipeline/customizing-v6

and both are not under the menu. If opened through search, the related articles are not showing up because menu will be collapsed.  Should those two be sub-articles under [customizing the pipeline](http://docs.particular.net/nservicebus/pi

[2016-05-13 19:25] SeanFeldman commented on #1527
PS: customer wrote

[2016-05-13 22:22] SimonCropp commented on #1527
http://docs.particular.net/samples/pipeline/

[2016-05-14 02:15] SeanFeldman commented on #1527
Steps to repro:

1. http://docs.particular.net/search?q=pipeline
2. select "Customizing the Pipeline in NServiceBus Version 5"

context/related items are not available since menu is not linked

[2016-05-16 04:23] SimonCropp commented on #1128
@Particular/ravendb-persistence-maintainers any update on this? need any help from @Particular/docs-maintainers  ?

[2016-05-16 04:25] SimonCropp commented on #1058
@yvesgoeleven do u consider this done?

[2016-05-16 08:44] yvesgoeleven commented on #1058
@SimonCropp no, hosting hasn't been touched yet

[2016-05-16 09:49] SimonCropp commented on #1473
fixed here https://github.com/Particular/docs.particular.net/commit/ad9b9716f94317c5fd8b10b81aa56c9a0682f9c8

[2016-05-16 09:49] #1473 closed

[2016-05-16 13:17] #1277 closed

[2016-05-17 03:44] SeanFeldman opened #1533 "Long running operation sample"
Create a sample that demonstrates how to tackle a long running operation, where execution exceeds the time a normal handler would allow or violate the maximum transport message lock duration (asb/asq).

[2016-05-18 04:04] mikeminutillo opened #1536 "Should we include a link to Target Framework Migrator in the V6 Upgrade Guide?"
The [upgrade guide](http://docs.particular.net/nservicebus/upgrades/5to6) notes that users need to update everything to .NET 4.5.2 before getting started with a V6 upgrade. [When running through this with a customer](https://github.com/Particular/V6Launch/issues/37) I noted that the had 10s of projects that needed to be updated and in Visual Studio you need to update them one at a time.

[Target F

[2016-05-18 04:15] indualagarsamy commented on #1327
What's major in v6 is more of a release notes / announcement thing.
What i've done in the PR is covered the IBus obsoletes and the various scenarios where IBus was previously used and what to do in each of the cases instead.

[2016-05-18 04:17] mikeminutillo opened #1537 "Explain async for bus operations in upgrade guide"
We do not explicitly say anything in the upgrade guide about the fact that Send and Publish are now async. Do we need to touch on this?

Do we need to to describe what happens if you fail to await the response from these operations (I don't actually know but a [customer asked](https://github.com/Particular/V6Launch/issues/37))

[2016-05-18 11:49] ramonsmits opened #1539 "Routing section to discuss topics related to routing"
Routing doco is becoming a bit scattered. Routing in the core, message mappings in the config and topology configuration in the transport (ASB), pubsub registration message, subscription storage, scale out.

- http://docs.particular.net/nservicebus/messaging/message-owner
- http://docs.particular.net/nservicebus/scalability-and-ha/scale-out
- http://docs.particular.net/nservicebus/messaging/file-b

[2016-05-18 12:44] andreasohlund commented on #1247
@mikeminutillo and me just have the following answer to a [GG question](https://groups.google.com/d/msg/particularsoftware/GnmI5B3rS5k/woQccoX9AgAJ) on this topic

cc @MarcinHoppe

[2016-05-18 18:49] indualagarsamy opened #1540 "Any changes for Unobtrusive conventions when using the NServiceBus.Testing for Core V6?"
The following article talks about Versions 5 and below, but does not document what's needed for v6.
http://docs.particular.net/nservicebus/testing/#configuring-unobtrusive-message-conventions

Reported by Customer:
Relates to https://github.com/Particular/V6Launch/issues/27

[2016-05-18 18:50] indualagarsamy commented on #1540
@Particular/nservicebus-maintainers - ping.

[2016-05-19 06:28] timbussmann commented on #1540
the v6 testing framework does not need to know about unobtrusive message conventions.
added a note here: https://github.com/Particular/docs.particular.net/pull/1541

[2016-05-19 13:20] ramonsmits opened #1543 "Improve message mapping / routing doco"
The documentation regarding message mappings and routing should be updated based on this discussion:

https://github.com/Particular/NServiceBus/issues/3678#issuecomment-220004165

@andreasohlund @tmasternak We cannot really remove the file based routing as it is documented as being the replacement for MessageEndpointMappings. New V6 users would be advised to use the file based mapping for physical

[2016-05-19 22:57] tekmaven opened #1544 "RequestTimeout 5 to 6 Notes"
There is no guidance in the 5 to 6 migration doc (http://docs.particular.net/nservicebus/upgrades/5to6) about Saga.RequestTimeout changes.

The signature has changed from: `RequestTimeout<T>(TimeSpan)` to `RequestTimeout<T>(IMessageHandlerContext, TimeSpan)`.

[2016-05-20 06:25] weralabaj commented on #1544
Thank you @tekmaven for catching it! We'll fix it soon.

[2016-05-20 08:36] timbussmann commented on #1540
upgrade guide PR: https://github.com/Particular/docs.particular.net/pull/1546

[2016-05-20 11:51] #1544 closed

[2016-05-20 11:52] weralabaj commented on #1544
Fixed, once again thank you!

[2016-05-23 08:02] andreasohlund commented on #1479
I have not forgotten this, will try to get to it tomorrow

[2016-05-24 07:17] weralabaj commented on #1521
@goblinfactory We've updated the step by step sample, please let us know if you think it's better now http://docs.particular.net/samples/step-by-step/. Thanks again for your feedback!

[2016-05-24 07:34] weralabaj opened #1550 "NServiceBus architecture overview article is not listed in the menu"
http://docs.particular.net/nservicebus/architecture/

Not sure if that should exist at all (maybe replaced by other articles?), or was deleted from the menu accidentally.

ping @SimonCropp

[2016-05-24 11:48] yvesgoeleven commented on #1260
apparently this document already existed

[2016-05-24 11:48] #1260 closed

[2016-05-25 07:05] ramonsmits opened #1553 "Improve performance of docs website with more caching, reducing latency"
The docs website felt a bit sluggish from Brazil compared to from the Netherlands. We could improve the browsing experience for customers in geo regions that are not close to our docs website.

I tested latency using a VPN (private internet access) and connected to Brazil. Using the VPN is not really fair as now it also adds the latency from the Netherlands to Brazil so that probably needs to be d

[2016-05-25 07:24] #1553 closed

[2016-05-25 12:39] #1521 closed

[2016-05-25 15:09] SeanFeldman commented on #1553
@ramonsmits. Could you please elaborate on the reason closing the issue right after opening or link to a replacement issue if one exists? Helps to get the context and understand the decisions made. Thank you.

[2016-05-25 15:57] ramonsmits commented on #1553
@SeanFeldman You are right, I created this issue in the wrong repo. That is why I closed it.

[2016-05-25 16:10] SeanFeldman commented on #1553
@ramonsmits you could supply something like "closed in favour of [other-repo#issue-number](dont-break-the-flow)".

[2016-05-25 21:12] SimonCropp commented on #1553
It got moved here https://github.com/Particular/DocsEngine/issues/211

[2016-05-26 16:54] indualagarsamy commented on #1540
Fixed as part of @timbussmann's PR. Closing this issue.

[2016-05-26 16:54] #1540 closed

[2016-05-26 16:55] indualagarsamy commented on #1471
We now have a NServiceBus.Testing Upgrade Guide. Closing this issue.

[2016-05-26 16:55] #1471 closed

[2016-05-26 16:57] indualagarsamy commented on #1472
@DavidBoike - If you're interested, take the old wcf usage in V5. Try it in V6. See what happens.

[2016-05-26 16:59] indualagarsamy commented on #1537
@mikeminutillo - This also goes to the async naming. By naming async, it becomes very clear that these operations need to be awaited.

[2016-05-28 07:13] janpieterz opened #1563 "Suggestion: Examples and suggestions for async handlers"
A couple of quick examples of how to handle the async handlers, what patterns you guys see as valuable (I saw you use .ConfigureAwait(false) quite a lot in the NSB code, for example), how to handle synchronous third party calls efficiently according to the NSB pipeline.

More or less an extension/renewal of [this blog post](http://particular.net/blog/async-await-its-time), but then incorporated in

[2016-05-30 04:12] SimonCropp commented on #1543
@ramonsmits @SzymonPobiega @andreasohlund @tmasternak

can one of you put a PR together to illustrate what needs to change.

[2016-05-30 05:37] #1527 closed

[2016-05-30 05:48] #1515 closed

[2016-05-30 06:17] SimonCropp commented on #1536
seams reasonable to me

[2016-05-30 06:18] SimonCropp commented on #1426
@DavidBoike ping

[2016-05-30 06:19] SimonCropp commented on #567
@danielmarbach still see this as important?

[2016-05-30 10:54] danielmarbach commented on #567
If I remember correctly this was brought up in TAM discussions. We argued that Windows Scheduler is still the defacto standard on windows OS for scheduling. As it stands right now we don't have anything to offer on the documentation site. But I can't say I feel strongly about it.

[2016-05-30 10:57] SimonCropp commented on #567
just "work shopping"   would u have the Windows Scheduler spin up a exe, with a send only endpoint, to send a message?

[2016-05-30 11:03] danielmarbach commented on #567
Yeah for example.

[2016-05-30 11:05] SimonCropp commented on #567
so u would see this as a sample?

[2016-05-30 11:06] danielmarbach commented on #567
I think that is the best way to move forward. Since we don't want to explain how the windows scheduler works but do a show case.

[2016-05-30 16:25] danielmarbach commented on #1563
@janpieterz Thanks for your suggestions. We will be looking into it. About

We'd consider this type of content mostly content for blog posts and webinars. Part of that experience has already been published for example as

http://particular.net/webinars/async-await-best-practices
http://particular.net/blog/the-dangers-of-threadlocal

I'm also giving a talk at NDC Oslo

http://ndcoslo.com/talk/rearc

[2016-05-31 07:47] sergioc opened #1566 "Sidebar navigation not showing all SI pages"
![screenshot 2016-05-31 09 40 24](https://cloud.githubusercontent.com/assets/493451/15666957/da9f23cc-2713-11e6-8777-46707c69ea0d.png)

There's more articles dedicated to SI besides Getting Started, e.g. http://docs.particular.net/serviceinsight/sequence-diagram/

[2016-05-31 07:47] sergioc commented on #1566
Also worth checking the same for SP and SC.

[2016-05-31 07:52] weralabaj commented on #1566
@sergioc this is a section name, if you click "Getting started" other articles will be displayed.

I agree though it's not intuitive and might be worth rethinking the menu structure.

[2016-05-31 09:50] janpieterz commented on #1563
Superb, would love to hear that talk (plus I'll check the webinar again).

[2016-05-31 12:39] sergioc opened #1568 "Clicking on sidebar navigation section should only expand the section"
The current sidebar navigation uses sections inconsistently. E.g. under NSB, clicking the text "Handlers" opens a new page and expands the section in the sidebar navigation to reveal sub-topics. Clicking around "Handlers" just opens the sections. This is really annoying when exploring the navigation by expanding and collapsing sections.

Both ways (clicking on text or area around) should only expa

[2016-05-31 12:39] sergioc commented on #1566
@weralabaj still does not show all pages :-)

![screenshot 2016-05-31 09 55 15](https://cloud.githubusercontent.com/assets/493451/15667291/d38c143a-2715-11e6-8fec-f08b9fa8dca5.png)

[2016-05-31 12:42] weralabaj commented on #1566
hm needs like something we could do under maintainers budget

[2016-05-31 13:57] danielmarbach commented on #1563
@janpieterz I opened up https://github.com/Particular/docs.particular.net/pull/1567

Would you like to provide feedback whether the sample snippets would make sense? Is something missing? Please bear in mind that the roughly outlined snippets are in draft, and we might end up with different snippets or be leaving out a few.

[2016-05-31 14:10] ruffzy opened #1569 "on-premise Core_6 sample produces signalR websocket error"
Unfortunately I can't Place an order in the on-premise sample. When I start the webpage I see an error in the browser console (developer tools):

WebSocket connection to 'ws://localhost:20233/signalr/connect?transport=webSockets&clientProtocol=1.5&connectionToken=LGkMp2qMLDE9Kd9%2Ftwxe6LuFXb31ocAnnsCgbPU9ERmDfBzAlSpvOUbDOH8RRf4g0nxHFC%2FHLbVmajsAKrZUFrd8mQCCWCzA%2BitM%2FVE64AkbPaWPF%2BaFMLVWS%2FnR

[2016-05-31 19:47] DavidBoike commented on #1426
@SimonCropp Thanks for the ping! Lost this one.

This is the first attempt someone will probably make, as you follow the best practices of making things async and following red, blue, and green squigglies. You'll be able to send a bunch of messages but the messaging pipeline will never start to handle anything.

        public async Task Start(IMessageSession session)
        {
            while (

[2016-06-01 03:03] distantcam commented on #1426
Passing the cancellation token to the `Task.Run` method isn't enough to stop the loop. That only stops the startup of the thread before the delegate is called.

Consider this code

[code]

This will write all the numbers from 0-9 and then stop, even though the cancellation token is triggered. Instead the loop must also be written to handle the cancellation token.

[code]

That's why there wasn't a

[2016-06-01 03:21] DavidBoike commented on #1426
@distantcam so *really* hard to use a cancellation token together with `Console.ReadLine()`, huh?

[2016-06-01 03:37] distantcam commented on #1426
@DavidBoike Well you could always use `Console.In.ReadLineAsync()`... except that blocks too - https://connect.microsoft.com/VisualStudio/feedback/details/779079/console-readlineasync-is-actually-blocking-when-it-should-be-returning-a-task-immediately

async/await was not designed with the console in mind.

[2016-06-01 03:49] distantcam commented on #1426
@DavidBoike This works.

[code]

[2016-06-01 05:23] SimonCropp commented on #1568
the text is a link. and hence is expected to navigate.

if that was the case how would u navigate to those links?

[2016-06-01 06:32] janpieterz commented on #1563
That looks good! Maybe there is a slight bit of replication but not sure if that is such a bad thing.

I admit I haven't gone to deep into it myself, but it might be good to know the difference between (https://github.com/Particular/docs.particular.net/pull/1567/commits/7b0ea1ae5878d3bada9d75b3194ae8c1774b6745#diff-3c6bed0a6ddb3e150980b3a2dd1d3252R42) and (https://github.com/Particular/docs.partic

[2016-06-01 06:36] SimonCropp commented on #1569
@ruffzy i was able to reproduce the WebSocket  and put a fix in for it. Can you re-download and confirm it is fixed for you

[2016-06-01 06:43] sergioc commented on #1568
That's not always true. And if you want to ensure it's not meant to navigate, add a disclosing arrow before the text.

Make those links the first to show in the expanded list from their respective groups

[2016-06-01 07:09] ruffzy commented on #1569
Thank you @SimonCropp for fixing this. I can confirm that it is now working fine again.

[2016-06-01 07:11] SimonCropp commented on #1569
awesome. thanks for logging the issue and getting back to me

[2016-06-01 07:11] #1569 closed

[2016-06-01 07:15] SimonCropp commented on #1568
we dont want to loose the vertical real estate by doing this

[2016-06-01 08:15] danielmarbach commented on #1426
@DavidBoike would this help https://github.com/danielmarbach/SwissChocolate.Factory/blob/V6Upgraded/Blending/VanillaStatsPoller.cs

Not upgrade to latest but shows the pattern. Ignore Special Console ;)

[2016-06-01 08:28] danielmarbach commented on #1563
@janpieterz I took the liberty to edit your comment and assign letters to the paragraphs so that I can refer it here in this conversation.

(A) The idea is to show how this affects the statemachine generation. In short when you return the task, then you don't mark the method as async. The implications are the compiler will not generate a statemachine and you safe the "overhead" of the statemachine

[2016-06-01 08:53] janpieterz commented on #1563
That certainly makes it clearer, thanks.

(A). Thanks! I'll have to look into this more, is this handled in the NSB webinar you linked before? Got some time at the end of the week planned to dive into it. Certainly underestimated the amount of stuff that is just slightly different and good to know, but happy I'm doing it now.

(B). So in my case I have a synchronous SDK to  a third party. A messag

[2016-06-01 11:09] SimonCropp commented on #1566
fixed

[2016-06-01 11:09] #1566 closed

[2016-06-01 12:02] sergioc commented on #1568
That sounds obsessive to me. Just to be sure you understood, I'm talking about adding a link to the list that shows when a section is expanded, the same way a link would appear when a new documentation article is added under that section.

[2016-06-01 12:05] sergioc commented on #1568
One more thing. If you check the sections under ServicePulse, you'll be able to see the correct behavior for sub-sections.  Clicking on "Introduction" or "Configuration" only discloses the list of associated articles, it doesn't open a page.

If you click on SP, however, it opens a page AND expands the SP list of sections. This is not correct. It should ONLY expand the list.

[2016-06-01 12:40] danielmarbach commented on #1563
(B) I forked your gist, see the example https://gist.github.com/danielmarbach/3031de0986e9b3e874cf74f607bce0c0 the trick is to rearrange your code slightly. Separate compute bound things from IO-bound things (I'll show this in my NDC talk ;) )

(C) Yes. Except that the meaning is more: await until the outgoing pipeline which takes care of batching is done. Because in practice you could extend that

[2016-06-01 20:40] indualagarsamy commented on #1497
Blocked by https://github.com/Particular/NServiceBus.Host/issues/85

[2016-06-02 00:48] SimonCropp opened #1575 "raven samples get warning"
should fix to whatever the recommended settings are

@Particular/ravendb-persistence-maintainers do u want to handle this one

[2016-06-02 03:08] SimonCropp commented on #1568
ok i thought we could address this quickly here. but seems not. can you please re-raise in the docsengine repo and include an image/diagram of what u r proposing

[2016-06-02 03:08] #1568 closed

[2016-06-02 05:11] janpieterz commented on #1563
Thanks, both are cleared up and the gist is very insightful!

[2016-06-03 01:42] #1238 closed

[2016-06-03 06:13] SimonCropp commented on #1543
Please re raise when there is enough input to proceed

[2016-06-03 06:13] #1543 closed

[2016-06-03 07:11] #1575 closed

[2016-06-03 07:45] #1550 closed

[2016-06-03 08:26] SimonCropp commented on #1405
@danielmarbach can you express your proposed changes in a PR?

[2016-06-07 09:02] weralabaj commented on #1247
@andreasohlund @mikeminutillo I've started a doco PR for persistence tests, but seems like it'd make more sense to have all compatibility aspects covered in one doco, could that be part of this issue? https://github.com/Particular/docs.particular.net/pull/1580/files/9f0c568597dd9ec7294b7e06626c7740af713b0b

Can we prioritize it and get started? It'll require getting a few people involved to review

[2016-06-07 16:31] DavidBoike opened #1582 "Distributor sample guides config that throws exception"
See [original question from Stack Overflow](http://stackoverflow.com/questions/37681234/nservicebus-distributor-worker-configurationerrorsexception-masternodeconfig).

The [Distributor sample](http://docs.particular.net/samples/scaleout/distributor/) says:

However, the distributor code will [throw an exception if the value is a loopback address](https://github.com/Particular/NServiceBus.Distribut

[2016-06-07 16:48] SeanFeldman opened #1583 "Azure Host - how to run Cloud Service based endpoint without cloud service emulator"
Documentation doesn't contain anything about running CS-hosted endpoint locally w/o CS emulator (by using Azure Host Process).

With `IConfigureThisEndpoint` moved into hosts (both Azure Host & NSB Host), users that used NSB Host to run endpoints w/o CS emulator will run into a [problem](https://github.com/Particular/NServiceBus/issues/3808). Documentation will help to resolve this by pointing out

[2016-06-08 00:05] johnsimons commented on #1582
I guess the problem is that configuring the MSMQ distributor on the same machine does not make sense, so the sample should probably be changed to include deployment steps for multiple machines.

[2016-06-08 05:46] mikeminutillo commented on #1247
Yeah. I was imagining a "Compatibility Policy" document to live alongside our [Support Policy](http://docs.particular.net/nservicebus/upgrades/support-policy) and [Release Policy](http://docs.particular.net/nservicebus/upgrades/release-policy) pages. That page could link off to the details of how we test those things and I think for that purpose the EndToEnd readme is probably sufficient. If someo

[2016-06-09 06:14] HEskandari opened #1587 "Add documents for saga migrations"
There's no document around saga migration and how to manage them over time where they might evolve and how those should be tested.

There are different approaches and pros/cons depending on the type of persistence mechanism that is used (NH vs RavenDB) that needs to be considered when writing the guide.

[2016-06-09 06:22] SimonCropp commented on #1587
we did have a sample for this for raven db https://github.com/Particular/docs.particular.net/commit/9df484c7400a863cdaf47350f60d8537ba76628d

but the @Particular/ravendb-persistence-maintainers said it was not a supported scenario so it was deleted

[2016-06-09 13:00] andreasohlund commented on #1582
Agreed, same box makes no sense so the check is valid. I don't like us having code in the core just to enable samples to run. Sounds resonable to me to add instructions how to run it on separate machines.

[2016-06-09 21:19] SimonCropp commented on #1582
@johnsimons @andreasohlund ok. do one of you want to write that guidance?

[2016-06-13 07:25] #1247 closed

[2016-06-14 03:23] SeanFeldman commented on #1273
Closed via https://github.com/Particular/docs.particular.net/commit/a805273adc2ba3b1060a9c1c8eb1f425b9f6b5c3

[2016-06-14 03:23] #1273 closed

[2016-06-14 10:38] ramonsmits opened #1596 "Message prioritization"
Convert the information from the following thread to documentation / guidance:

https://groups.google.com/forum/#!msg/particularsoftware/-Vg2EgCCmNk/hOigCnM9KgAJ

[2016-06-15 10:21] ramonsmits opened #1600 "OutOfMemoryException troubleshooting"
The following section could be extended with information on possible causes and links on how to deal with such issues.

* http://docs.particular.net/nservicebus/errors/exception-caveats#outofmemoryexception
* https://groups.google.com/forum/#!msg/particularsoftware/hIqtbyW4EEM/PZMnB63SKwAJ

[2016-06-17 07:27] elshev opened #1604 "MsmqPersistence: TimeoutPersisterReceiver Failed to fetch timeouts from the timeout storage"
Have a NullReferenceException for Msmq persistence.

NServiceBus: 5.2.14
Windows 10

**Steps to reproduce:**
1. Download Step By Step example
2. Change InMemoryPersistence to MsmqPersistence in all projects
3. Run and get error:
2016-06-17 10:08:14.848 WARN  NServiceBus.Timeout.Hosting.Windows.TimeoutPersisterReceiver Failed to fetch timeouts from the timeout storage
System.NullReferenceException:

[2016-06-17 09:12] timbussmann commented on #1604
Hey @elshev

MsmqPersistence actually only stores subscriptions, so it's not a standalone persistence options if you're using timeouts, sagas or the outbox.

The problem is, that timeouts are enabled by default and you're seeing this exception because there is no timeout persistence available.

On your sample you can fix this in two ways:

* Disable the timeout manager (since you're not using any

[2016-06-17 09:40] elshev commented on #1604
Thanks @timbussmann !!!
The explanation is clear and helpful.
It works for me in test solution and in my solution too.

[2016-06-17 09:40] #1604 closed

[2016-06-17 09:49] timbussmann commented on #1604
Glad to hear you were able to get it working! :+1:
I've raised a pull request to make the documentation a bit clearer (also regarding the impact of disabling the timeout manager) here: https://github.com/Particular/docs.particular.net/pull/1605 Feel free to review the proposed changes and see whether that would have helped you.

[2016-06-20 07:30] SimonCropp commented on #1600
is there anything we can add that is not captured by https://www.google.com.au/search?q=OutOfMemoryException

[2016-06-20 11:53] ramonsmits opened #1609 "SQL Transport - Configuration push mode not documented for V3"
Looking at http://docs.particular.net/nservicebus/upgrades/sqlserver-2to3 there is no mention of *push mode configuration* and in the docs at http://docs.particular.net/nservicebus/sqlserver/configuration#multiple-connection-strings-via-the-configuration-api-push-mode there is no V3 sample. Either the sample needs to be added or the upgrade guide needs to mention that this feature is dropped.

[2016-06-20 12:20] weralabaj commented on #1609
@ramonsmits it says that now you need to use `EnableLegacyMultiInstanceMode` method to achieve that effect, is that not enough?

[2016-06-20 12:21] weralabaj commented on #1385
@SzymonPobiega is that about custom routing or other things?

[2016-06-20 12:24] SzymonPobiega commented on #1385
Yeah. I guess this one can be closed now.

[2016-06-20 12:24] #1385 closed

[2016-06-20 12:27] weralabaj commented on #702
In terms of docs this issue was fixed by Tim https://github.com/Particular/docs.particular.net/pull/1605. The topic of better error messages is outstanding issue in NSB repo.

[2016-06-20 12:27] #702 closed

[2016-06-20 12:31] weralabaj commented on #366
@mauroservienti is that still relevant? can we close?

[2016-06-20 12:34] weralabaj commented on #340
I guess documenting what we're currently doing should take no more than 30 min of work. Any ideas where should that live? Also who I should ping to get relevant info to get it done?

[2016-06-20 12:34] ramonsmits commented on #1609
@weralabaj I don't see any reference to push in the upgrade.

Pull is not mentioned either but I see `EnableLegacyMultiInstanceMode`as the replacement for Pull

[2016-06-20 12:47] weralabaj commented on #1609
Hm that's one way to look at it, I guess not what we expected. It says "The configuration API for multi-instance support has now changed. Multiple connection strings have to be provided by connection factory method passed to EnableLagacyMultiInstanceMode method." so that kind of indicates this is the only supported method. I see your point though, we could be more explicit here.

[2016-06-20 13:00] #1536 closed

[2016-06-20 13:01] SimonCropp commented on #1405
@danielmarbach bump

[2016-06-20 13:59] mauroservienti commented on #366
If my last statement, there is no difference yet, is still true, then I see no reason to keep this open.

[2016-06-21 00:28] #1609 closed

[2016-06-21 02:01] HEskandari opened #1613 "Identify and tag all the security related documentations"
This is related to [this](https://nservicebus.desk.com/agent/case/18452) desk issue. There is no section directly related to 'Security' but there are some pages that are related to the subject. Since all the security best practices usually applies to NServiceBus, we just need to highlight the samples that would help in this respect. Samples that are related to encryption, message pipeline executio

[2016-06-21 06:37] weralabaj commented on #1613
Tag how? Any context?

[2016-06-21 06:38] johnsimons commented on #1582
There is already this section in the sample http://docs.particular.net/samples/scaleout/distributor/#scaling-out-in-a-real-environment, not sure what else is needed ?

[2016-06-21 07:06] HEskandari commented on #1613
@weralabaj sorry for the confusion, just updated the description.

[2016-06-21 08:33] weralabaj commented on #1245
Resolved by @indualagarsamy

[2016-06-21 08:33] #1245 closed

[2016-06-21 08:34] weralabaj commented on #1252
@DavidBoike given that the issue you referenced is closed, is it now a good time to work on it? or maybe it's been done already? in such case please close.

[2016-06-21 08:39] weralabaj commented on #1252
Also related issue https://github.com/Particular/docs.particular.net/issues/1128

[2016-06-21 08:42] weralabaj commented on #1356
@WojcikMike wasn't that addressed already? Can we close?

[2016-06-21 08:45] weralabaj commented on #1442
@boblangley do you mean that the content is no longer accurate or is that about style?

[2016-06-21 08:49] #517 closed

[2016-06-21 08:59] WojcikMike commented on #1356
yes we can close it, sorry I forgot about it

[2016-06-21 08:59] #1356 closed

[2016-06-21 10:15] weralabaj commented on #1145
@timbussmann I don't see that used anywhere. I could document but I'm not sure how's that different from the OnMessage? When would you use both?

[2016-06-21 10:51] weralabaj commented on #1487
@SimonCropp does that cover it https://github.com/Particular/docs.particular.net/pull/1617?

[2016-06-21 13:42] timbussmann commented on #1145
sorry, not enough context :confused: what are you referring to?

[2016-06-21 13:54] weralabaj commented on #1145
@timbussmann I commented on the wrong issue should be https://github.com/Particular/docs.particular.net/issues/1146

[2016-06-21 13:54] weralabaj commented on #1146
@timbussmann I don't see that used anywhere. I could document but I'm not sure how's that different from the OnMessage? When would you use both?

[2016-06-21 14:04] timbussmann commented on #1146
this is a helper method to create instances of interface message definitions. I don't think there is any need to document this, as there are APIs around which do the same for you. It's merely a tool in case the other API won't do the trick.

[2016-06-21 14:53] weralabaj commented on #1146
So at the moment we don't have a clear use case, but are leaving it "just in case"?

[2016-06-21 15:16] #928 closed

[2016-06-22 01:03] #1487 closed

[2016-06-22 07:05] weralabaj commented on #1145
Merged

[2016-06-22 07:05] #1145 closed

[2016-06-22 09:55] ramonsmits opened #1623 "MSMQ security link"
The following link should be put somewhere in our docs.

Administer Security for Message Queuing
*  https://technet.microsoft.com/en-us/library/cc738047.aspx

[2016-06-22 10:31] MarcinHoppe commented on #1623
It's here: http://docs.particular.net/nservicebus/msmq/transportconfig#configuration-queue-permissions.

[2016-06-22 10:58] ramonsmits commented on #1613
We already have a security page: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/security/index.md

@HEskandari his suggestion add the Security

Can't we add several sections? Transports, persistence, messages? We can then point to external docs for MSMQ, RabbitMQ, RavenDB, SQL, Windows services,  etc.

That to me would be a better fit for doco like : http://docs.particul

[2016-06-22 11:00] HEskandari commented on #1613
I also discovered that you can access them via a URL. there appears to be [direct link](http://docs.particular.net/nservicebus/security/) for "security" as well.

I'll need to make sure all the right documentation are tagged as such.

[2016-06-22 11:00] ramonsmits commented on #1623
Maybe this should be put somewhere else or at least referenced a security guidance page like #1613

[2016-06-22 11:02] MarcinHoppe commented on #1613
This looks like a larger effort. If there's a TF formed around this, count me in.

[2016-06-22 11:04] SimonCropp commented on #1623
isnt that link out of date?

isnt this the newer link https://technet.microsoft.com/en-us/library/cc771268(v=ws.10).aspx  ?

[2016-06-22 11:05] ramonsmits commented on #1613
Do we want to tag all Encryption page with Security? I would rather see a Security page shortly summarizing things like authentication, authorization, transport encryption, message encryption, property encryption maybe with some concepts.

From those sections you can then list all documents with the specific tag.

[2016-06-22 11:06] ramonsmits commented on #1613
@MarcinHoppe I agree, its not just writing a short document.

[2016-06-22 11:07] SimonCropp commented on #1613
do the tag first. then work on a page after

[2016-06-22 11:42] weralabaj commented on #366
Confirmed with Andreas that there's a difference now. Need to investigate the details.

[2016-06-22 13:08] WojcikMike opened #1624 "Create a doco page/sample that ilustrates basic use of Service Control, Service Insight and Service Pulse"
At the moment we lack high level documentation for developers who want to use SC, SI + SP for the first time. What need to happen, do you need heartbeat how to configure things etc.

To make it happen we need to specify:
 - form in which we will present this data:
  - sample
  - doco page
 - scope of the material: using existing samples to create screenshots and present changes in code/configurati

[2016-06-22 13:11] WojcikMike commented on #976
cc: @Particular/servicepulse-maintainers I think we should get involved in here

[2016-06-22 13:20] timbussmann commented on #1146
yes

[2016-06-22 13:22] #1146 closed

[2016-06-22 14:33] weralabaj commented on #1539
That might be hard to do in the current state. We esentially have separate pages for v6 and everything else.  I guess it'd make sense to re-org the existing content at the same time to have a more consistent structure.

From the user perspective why would they need to understand all aspects of routing at once? IMO it makes more sense to have separate page for scale out, core and ASB. Most likely y

[2016-06-22 14:34] weralabaj commented on #1479
ping @andreasohlund

[2016-06-22 14:36] weralabaj commented on #774
@SimonCropp isn't that covered here http://docs.particular.net/nservicebus/transports/queuecreation?

[2016-06-22 16:44] boblangley commented on #1442
@weralabaj I updated the description, does this help?

/cc: @SimonCropp

[2016-06-22 22:41] SimonCropp commented on #774
Yep. Thanks for the follow up

[2016-06-22 22:41] #774 closed

[2016-06-22 23:45] #1252 closed

[2016-06-23 00:42] SimonCropp commented on #1600
@ramonsmits if u get time to answer the above question please re-open

[2016-06-23 00:42] #1600 closed

[2016-06-23 01:14] HEskandari commented on #1613
I'll send a PR and tag the right pages.

[2016-06-23 07:14] weralabaj commented on #1442
Yes, a lot, thank you!

[2016-06-23 17:35] #366 closed

[2016-06-23 21:44] indualagarsamy commented on #1523
Discussed this issue with @SimonCropp. Assigning to @SimonCropp.

[2016-06-24 00:33] SimonCropp commented on #1623
ok i added the extra link https://github.com/Particular/docs.particular.net/commit/46df02be0b1a85903b479d32bcd1cc24251488d5

also i dont think this i worth putting too much effort into adding extra doco.  googling for "MSMQ security" will serve people better than any extra content we can provide. so closing this one.

[2016-06-24 00:33] #1623 closed

[2016-06-24 00:34] SimonCropp commented on #1613
@HEskandari so u want to be able to have md content for the tag rendered page?

[2016-06-24 00:40] HEskandari commented on #1613
@SimonCropp Yes. Is that possible?

[2016-06-24 00:42] SimonCropp commented on #1613
not atm

raise an issue in the docs engine. should be easy to do

[2016-06-24 07:30] #1244 closed

[2016-06-24 13:33] danielmarbach commented on #1405
@SimonCropp you provided an example yes. It is our own sample application that so far doesn't convince me we need to abort the pipeline in a mutator. In fact, it even enforces my opinion. What are mutators here for? Like the name already implies they are meant to mutate either the logical or the physical message or validate a message. If you validate a message you'd normally throw some kind of val

[2016-06-24 14:57] yvesgoeleven commented on #1446
Do note the downsides (f.e. the origin of the msg is lost & no SC specific headers my be present)

[2016-06-25 09:06] SeanFeldman commented on #1446
[Centralized DLQ ](http://bit.ly/deadlettersource) is an option, but not for SC.

[2016-06-28 06:13] andreasohlund commented on #1479
Wonder if we should split the tuning page into 2 new pages? (one about throttling and one about controlling concurrency)

[2016-06-28 19:19] indualagarsamy commented on #1537
@mikeminutillo - @SimonCropp is going to be working on doco that outlines why we chose not to use `async` postfix. Maybe we can add a section in the upgrade guide and link it to the new doco once @SimonCropp is done.

[2016-06-29 21:43] SeanFeldman commented on #894
[Sample](https://blogs.msdn.microsoft.com/paolos/2014/12/02/how-to-create-service-bus-queues-topics-and-subscriptions-using-a-powershell-script/) to create queues/topics/subscriptions with PS.

[2016-06-30 05:11] gbiellem commented on #863
The app specific [license page](http://docs.particular.net/servicecontrol/license) for ServiceControl exists  and has been updated
@HEskandari  - You offered to do one for ServiceInsight so passing this to you

[2016-06-30 12:57] ramonsmits opened #1645 "File based routing: document refresh interval and behavior when there is a refresh error"
The file based routing doesn't document:

- Refresh interval and how this can be configured
- Behavior when there is a refresh error

Document: http://docs.particular.net/nservicebus/messaging/file-based-routing

[2016-06-30 23:03] boblangley opened #1647 "Update NServiceBus license search order documentation"
The doc/table that needs to be updated is located here: http://docs.particular.net/nservicebus/licensing/license-management#where-does-nservicebus-look-for-a-license

The documentation was out of date as of [this commit](https://github.com/Particular/NServiceBus/commit/6aad54401ccb0ba0b59e777a8db0cd922cc4e8d8). Now registry settings are checked before the [conventions](https://github.com/Particula

[2016-06-30 23:58] HEskandari commented on #863
Any objections if I update this after resolving Particular/ServiceInsight#580?

[2016-06-30 23:59] SimonCropp commented on #863
can the various license pages be cross linked via related pages in the headers

[2016-07-01 02:05] gbiellem commented on #661
PR was merged so closing

[2016-07-01 02:05] #661 closed

[2016-07-01 02:42] #1645 closed

[2016-07-01 09:13] timbussmann opened #1649 "Update docs to renamed ScaleOut().InstanceDiscriminator() API"
relates to https://github.com/Particular/NServiceBus/pull/3880

Moved & renamed ` ScaleOut().InstanceDiscriminator(...)` to `endpointConfig.MakeInstanceUniquelyAddressable(...)`. Multiple samples and doc pages have snippets which needs to be updated & text verified.

[2016-07-01 11:57] andreasohlund opened #1651 "Document the usage of SendOptions.SetMessageId"
To allow users to fully control the message id for outgoing messages.

This was supported by hacking headers in v5 but is now fully supported in v6

[2016-07-04 07:41] SimonCropp opened #1654 "move upgrade up one level"
on disk we have this
https://github.com/Particular/docs.particular.net/tree/master/nservicebus/upgrades

which is flawed since where would a SC or SI upgrade guide go.

so propose to move upgrades up one level to the root

[2016-07-04 07:41] SimonCropp commented on #1654
@weralabaj for some later date

[2016-07-04 09:24] weralabaj commented on #1539
Since the discussion has died, I'm closing this one. @ramonsmits feel free to re-open if you think this is still relevant and you want to add some clarifications.

[2016-07-04 09:24] #1539 closed

[2016-07-04 09:35] yvesgoeleven commented on #1267
PR https://github.com/Particular/docs.particular.net/pull/1655

[2016-07-04 23:46] SimonCropp opened #1658 "clarify ASB ConfigurationErrorsException in namespace support"
here http://docs.particular.net/nservicebus/azure-service-bus/multiple-namespaces-support

there are several usages of ConfigurationErrorsException  that are ambiguous

for example

what happens then more than two are specific?

So go through each usage of ConfigurationErrorsException  and ensure they are specific

[2016-07-04 23:46] SimonCropp commented on #1658
ping @Particular/azure-service-bus-maintainers

[2016-07-05 07:32] yvesgoeleven commented on #1658
@SimonCropp The all have a specific text, isn't that what we're supposed to do? Should it be a specific exception type?

[2016-07-05 07:42] yvesgoeleven commented on #1658
I'll include all scenario's in the document as well

[2016-07-05 07:52] melkio commented on #1658
@SimonCropp I didn't get your point. What you quoted is fine, it's related to `RoundRobinPartitioningStrategy`: a user has to specify more than one namespace to configure it properly. Two or more are fine.

[2016-07-05 07:52] SimonCropp commented on #1658
@melkio sorry this one

[2016-07-05 08:26] yvesgoeleven commented on #1658
@SimonCropp PR https://github.com/Particular/docs.particular.net/pull/1659 with the suggested changes, is this more clear?

[2016-07-05 08:28] SimonCropp commented on #1658
yup

[2016-07-05 08:28] #1658 closed

[2016-07-05 11:14] yvesgoeleven commented on #1267
PR #https://github.com/Particular/docs.particular.net/pull/1662

[2016-07-05 11:14] #1267 closed

[2016-07-06 04:02] SeanFeldman opened #1666 "Document saga data types allowed with Azure Storage Persistence"
Connects to https://github.com/Particular/NServiceBus.Persistence.AzureStorage/issues/92

1. Document saga data types allowed with Azure storage persistence
2. Document possible ways to store custom types in saga

This [question](http://stackoverflow.com/questions/38215550/nservicebus-6-azure-storage-persistence-sagas-and-complex-types-collections?stw=2) is often asked when switching from RavenDB

[2016-07-06 06:53] WojcikMike commented on #1624
As #1650 is merged I am happy to close this issue

[2016-07-06 06:53] #1624 closed

[2016-07-06 09:18] danielmarbach commented on #1563
@janpieterz do you want to have a look at http://docs.particular.net/nservicebus/handlers/async-handlers and tell me if that answers most of your desires or if there is anything missing? If everything is ok I'm going to close this issue

[2016-07-06 09:19] danielmarbach commented on #1563
@indualagarsamy sure

https://vimeo.com/172111826

[2016-07-08 07:22] adamralph opened #1676 "Update to RabbitMQ.Client 3.6.3"

[2016-07-08 08:34] #1676 closed

[2016-07-08 09:27] sergioc opened #1679 "Duplicate step by step sample in a plain template"
Duplicate step-by-step sample in a plain template in order to fit an [optimized first-time user guidance flow test](https://github.com/Particular/OptimizeTrialExtensions/issues/61).

With that issue, we want to encourage users to first go to guidance before downloading anything. However, the current step-by-step sample is limited by the samples template which starts with prominent CTA buttons + Nu

[2016-07-08 09:41] SimonCropp commented on #1679
how about instead we move the sample actions up with improve this doc?

as for the nuget info it is already collapsed by default. and we can make the header and contents smaller if need be

[2016-07-08 09:53] sergioc commented on #1679
We really want to eliminate any distracting options from this page. Also, is it a good idea to make changes to the samples template layout based on the requirements for this issue which only affects a single page?

It still gets in the way of reading the content. We really want to remove anything that is not the text from the guide itself.

[2016-07-08 10:02] weralabaj commented on #1679
I really don't understand why is that a problem and what value changing it provides.
If somebody doesn't need the guide then why isn't it ok to skip it?

Also take into account that many (or most?!) developers actually **prefer** exploring a new tool by looking at code first, and reading something later, so the current version shows that you understand your audience ;)

[2016-07-08 10:09] janpieterz commented on #1563
@danielmarbach that seems like an extremely solid piece, combining all of the stuff I can think off in one place. Thanks, that must have been quite the effort!

[2016-07-08 10:13] sergioc commented on #1679
If somebody doesn't need the guide then why isn't it ok to skip it?

We want to encourage people who ** need ** the guide to read through it. If the reader determines the guide isn't needed, then it's obviously not up to us to stop from skipping it.

We don't want to exclude the option to download the .zip. We just want to make it less prominent. Also, preferring to look at code first doesn't mean

[2016-07-08 10:17] SimonCropp commented on #1679
You say u want to eliminate distracting options from the page but u want to keep the download option.  Those are conflicting states

[2016-07-08 10:18] SimonCropp commented on #1679
And making the "let me download the code" option too dificult to find will make developers hate us

[2016-07-08 10:20] SimonCropp commented on #1679
some history. The download button used to be standard white. We were criticised from clients that it was too hard to find. Hence the green color now

[2016-07-08 10:27] #1563 closed

[2016-07-08 10:28] danielmarbach commented on #1563
@janpieterz glad that you like it! Documentation is worth the effort. It forces us to think and express the scenarios we see. We found many subtle issues while documenting things.

[2016-07-08 10:32] sergioc commented on #1679
... as a link placed somewhere in the text.

We don't want to make it too hard to find, we want to make it seem less "click me before you do anything else"

That makes sense to me within the overall context of samples, not in this variation of a getting started article which is not meant to show grouped with other samples.

[2016-07-08 13:43] weralabaj opened #1683 "Article on how to create custom channel in gateway"
The current content is not sufficient to help somebody implement it, so as part of this article cleanup https://github.com/Particular/docs.particular.net/pull/1682 I'm moving it here for future reference and removing from the overview page. Ideally one day we'll have a more extensive "How to implement your own gateway channel" article. As it is now, it won't help much anyway.

## Custom Channel Ty

[2016-07-08 13:48] weralabaj opened #1684 "Create a high-level security guidance article"
From @ramonsmits:

"I would see a Security page shortly summarizing things like authentication, authorization, transport encryption, message encryption, property encryption maybe with some concepts.
We can then point to external docs for MSMQ, RabbitMQ, RavenDB, SQL, Windows services,  etc.

From those sections you can then list all documents with the specific tag. "

We already have a security pa

[2016-07-08 13:49] weralabaj commented on #1613
@ramonsmits @HEskandari @MarcinHoppe seems like the original issue has been addressed, I created a new issue for dedicated page, feel free to update description according to what you have in mind and start working on it https://github.com/Particular/docs.particular.net/issues/1684.

[2016-07-08 13:49] #1613 closed

[2016-07-08 13:50] weralabaj commented on #1684
ping @ramonsmits @HEskandari @MarcinHoppe

[2016-07-08 14:36] weralabaj commented on #976
@Particular/servicepulse-maintainers see the referenced PR to see if there's anything you'd like to add, feel free to edit without consulting me first

[2016-07-08 14:56] weralabaj commented on #491
@mauroservienti @johnsimons @gbiellem is that issue still relevant given we have installer? if so, could you replace this with a new one with a better defined PoA?

[2016-07-08 21:11] DavidBoike commented on #1679
I thought the whole point was to get the easiest quick win possible with the current Getting Started sample and not to change anything and everything, until Academy was ready to go. This seems over the line.

Like @weralabaj said, ROI is _really_ low here. We should only be doing the things that are so easy and so impactful that it doesn't make any sense **not** to do them.

[2016-07-08 23:34] indualagarsamy commented on #1679
I discussed this issue earlier with @kbaley today.

It feels like we are going back and forth with this. We had really long discussions about what's the best approach, and we already had an agreement on this. i.e. it doesn't make sense for us to point to the Step by step or the docs home page. We need a getting started page. For that history, see this issue: https://github.com/Particular/PlatformD

[2016-07-09 02:12] #976 closed

[2016-07-09 02:21] SimonCropp commented on #1683
@weralabaj so sample is the plan?

[2016-07-10 00:58] #1442 closed

[2016-07-11 00:13] HEskandari commented on #1684
Having a security guideline is both good and bad. It is easy to come off as security experts and inadvertently take the blame if (or rather when) there's a security breach.

Any thoughts on this @udidahan?

[2016-07-11 02:05] mikeminutillo commented on #1679
As a developer wading through pages and pages of documentation I have in the past typically skim read until I found some kind of code snippet or download option. Having said that, this is not the typical sample.

For most of our samples, we assume you have some sort of knowledge of NSB and we are just showing a particular technique or API in action. For those it makes total sense that the very fir

[2016-07-11 04:53] udidahan commented on #1684
The description seems to keep things well scoped to topics related to message-driven systems. Sounds good to me so far.

[2016-07-11 06:37] weralabaj commented on #1679
@indualagarsamy I think the useful "Getting started" page would make sense even when the academy is ready, e.g. to provide a high level overview and guide through the articles we already have, and to point to all kinds of resources we have.
The docs landing page is doing it too, but we could go one step further, e.g. say "Did you get stuck? Ask a question on a Google Group" and things like that, t

[2016-07-11 06:43] weralabaj commented on #1683
@SimonCropp there is an issue for sample https://github.com/Particular/docs.particular.net/issues/1458, so if we don't want to have **also** an article I'll move the description there. to me it makes sense to stick to sample only.

[2016-07-11 07:04] weralabaj commented on #1683
I updated descriptoin of https://github.com/Particular/docs.particular.net/issues/1458, if we decide we can make article while/after the sample is ready.

[2016-07-11 07:04] #1683 closed

[2016-07-11 09:24] sergioc commented on #1679
You seem to be missing the point.

The reason for duplicating this page is to create a slightly optimized version of the step-by-step sample to increases the chances of task completion for first-time users in our test, with the smallest possible effort.

I don't believe the effort is high here nor should it be, because this is meant to be a SMALL test where errors are expected to be made in order

[2016-07-11 12:02] weralabaj commented on #1479
ping @Particular/nservicebus-maintainers

[2016-07-11 12:06] danielmarbach commented on #1479
Not sure what we are supposed to do here @weralabaj

The person who raised it is not driving it and the person who said to drive it is away.

[2016-07-11 12:16] weralabaj commented on #1479
So should I wait for andreas to get back from holiday? Is there anybody else that could help with that?

Not sure how we'd like to handle it (creating new pages, as Andreas suggested or not), but Hadi's comments seem to be pretty clear with regards what's unclear in the docs.

[2016-07-11 12:22] weralabaj commented on #1679
I opened issue in the initiative repo https://github.com/Particular/OptimizeTrialExtensions/issues/89.

[2016-07-11 12:22] #1679 closed

[2016-07-11 12:41] weralabaj commented on #546
That seems to be covered already in the docs, especially http://docs.particular.net/nservicebus/messaging/non-durable-messaging#effect-on-transports-msmq-extra-config-for-msmq.

[2016-07-11 12:41] #546 closed

[2016-07-11 12:45] weralabaj commented on #939
For the person tackling it, seems like the Gateway overview page contains a lot of duplicated content on that http://docs.particular.net/nservicebus/gateway/. When doing the clean up it'd make sense to handle both at once.

[2016-07-11 18:39] indualagarsamy commented on #1679
@weralabaj - I agree.

[2016-07-12 06:49] WojcikMike commented on #976
Awesome work @weralabaj I love it :100: :+1:

[2016-07-12 21:48] HEskandari commented on #1479
I didn't want to raise and issue and start working on it without gathering feedback first. Once I know what you think and we agree on it, I can drive it.

[2016-07-13 13:35] #1666 closed

[2016-07-13 18:07] indualagarsamy commented on #1497
Closing this issue based on @andreasohlund's comment here: https://github.com/Particular/NServiceBus.Host/issues/85#issuecomment-228681740

[2016-07-13 18:07] #1497 closed

[2016-07-14 01:33] indualagarsamy commented on #1649
@timbussmann - I assume this is needed for V6. I am setting the milestone to v6.

[2016-07-14 02:02] #1327 closed

[2016-07-14 06:36] udidahan commented on #1683
So, would you say that this was `Withdrawn` in favor of #1458 ?

[2016-07-14 06:54] weralabaj commented on #1683
@udidahan I guess you could say so, after Simon's comment I've realized it fits an existing issue better.

[2016-07-14 07:24] danielmarbach opened #1694 "Document serializer and deserializer extension model"
See https://github.com/Particular/NServiceBus/pull/3923

[2016-07-14 12:06] weralabaj commented on #1582
@DavidBoike the information is already there, I added a note to make it more visible https://github.com/Particular/docs.particular.net/pull/1695. Would that work?

[2016-07-14 13:10] #1582 closed

[2016-07-14 15:58] indualagarsamy commented on #1587
@HEskandari @Particular/ravendb-persistence-maintainers - any comments?

[2016-07-14 16:01] indualagarsamy commented on #1533
@yvesgoeleven @SeanFeldman - is this a duplicate of #1447? If so, can we close this issue?

[2016-07-15 05:23] HEskandari commented on #1587
Maybe we need to split this into NH specific migration and RavenDB? As there is already as sample for RavenDB but as @SimonCropp said @Particular/ravendb-persistence-maintainers believed it is not supported. I haven't been involved in that conversation so can't comment.

[2016-07-15 07:17] weralabaj opened #1699 "Create a sample for SC notifications"
Every now and then somebody asks how they can send email notifications/raise alerts when something goes wrong. Even though we have doco on the subject, the sample can serve as a starting point for implementing custom logic.

Related to https://groups.google.com/d/msgid/particularsoftware/9216cc47-1b9b-45ed-8e8a-e54301ecb4e2%40googlegroups.com?utm_medium=email&utm_source=footer.

[2016-07-15 20:48] indualagarsamy opened #1701 "As of NServiceBus Version 6, the .retries queue is no longer created"
@Particular/nservicebus-maintainers - Please document this in the upgrade guide along with the reasons. Or ping the appropriate members of the taskforce responsible for this change.

This is a change of behavior from Version 5.

[2016-07-16 09:02] SeanFeldman commented on #1533
@indualagarsamy no, it's not the same. #1447 is about extending executing time __within__ a handler leveraging new features of ASB transport. This issue is about executing __very__ long operations (hours f.e.) outside of a handler to overcome NSB limitation in this area.

[2016-07-18 13:23] timbussmann commented on #1701
I'm not against documenting it, but what is exactly the change of behavior here? Shouldn't we document instead that the queue should be empty when migrating to v6 or to move messages in that queue to the endpoint input queue?

[2016-07-18 16:45] indualagarsamy commented on #1701
I was talking with a customer and there was a confusion. "Wait, I thought there should be a retries queue, but i don't see one". And the fact that we did this in V5 but no longer do in V6 needs to be documented, because its a behavior change, in addition to migrating to v6 steps you describe. At the moment, there is nothing on this.

[2016-07-18 17:58] indualagarsamy commented on #1405
@danielmarbach - If I understand you right, a validation exception more falls under the category for implementing a custom retry policy and not necessarily a mutator? If so, when would we abort the pipeline using Bus.DoNot...?
Is the Bus.DoNot... loosing its relevance now that we have a super customizable pipeline?

[2016-07-20 02:37] mikeminutillo commented on #1405
Are we missing a core concept here of a faulted message here?

When you fall out of FLR/SLR the message has Faulted. When you fail deserialization, the message has Faulted. If you fail validation, the message has Faulted.

The default behavior is to forward Faulted messages to the configured error queue.

[2016-07-20 11:47] danielmarbach commented on #1405
@mikeminutillo not sure we are missing anything. Or maybe I just don't understand it enough

@indualagarsamy

with the new custom recoverability policy it is simple to come up with something like this

[code]

This then completely bypasses FLR and SLR for ValidationExceptions.

We could just update the sample here.

http://docs.particular.net/samples/messagemutators/

[2016-07-20 11:48] danielmarbach commented on #1405
@indualagarsamy you brought up a good point:

Should we deprecate `DoNotContinueDispatchingCurrentMessageToHandlers` ? Any use cases that could not be done with custom recoverability policy?

[2016-07-20 16:56] SeanFeldman commented on #1405
@danielmarbach my 2c on the code snippet above. We're educating developers to rely on the context for the operations, yet in the [code above](https://github.com/Particular/docs.particular.net/issues/1405#issuecomment-233926843)
rather than using `context` to move a message to an error (queue) or invoke a default policy, we use `RecoverabilityAction` and `DefaultRecoverabilityPolicy` that are not v

[2016-07-20 18:40] danielmarbach commented on #1405
This is a totally different seam @seanfeldmann
Context operations can be actual physical operations. A recoverability
policy is a strategy which gets the data to make a decision and returns a
decision back to recoverability. The actual operations are not invokable.
Are proposing to inject something like an IRecoverabilityContext alongside
with the error context? The problem is that the user would

[2016-07-21 10:42] SimonCropp commented on #863
@HEskandari 580 is done. anything u need from me to get this going?

[2016-07-21 10:44] SimonCropp commented on #1701
@Particular/nservicebus-maintainers can someone connect this with the parent issue where it was decided to deprecate the retries queue

[2016-07-21 12:02] timbussmann commented on #1701
That change must have happened over a year ago, I wasn't able to find something useful, maybe @andreasohlund or @danielmarbach may know more.

[2016-07-21 12:16] danielmarbach commented on #1701
This must have happened around when we deprecated the satellite concept. Let me dig

[2016-07-21 13:42] danielmarbach commented on #1701
Raised an issue https://github.com/Particular/V6Launch/issues/99

[2016-07-21 22:34] HEskandari commented on #863
No, leave this with me, will get it done by tomorrow. Got side tracked with
other stuff.

On Thursday, July 21, 2016, Simon Cropp <notifications@github.com> wrote:

[2016-07-22 03:06] #1523 closed

[2016-07-22 03:42] indualagarsamy commented on #1537
Fixed by PR #1700

[2016-07-22 03:42] #1537 closed

[2016-07-22 03:46] indualagarsamy commented on #1255
ping @Particular/azure-host-maintainers @Particular/azure-service-bus-maintainers @Particular/azure-storage-persistence-maintainers  @Particular/azure-storage-queues-maintainers

Any updates or progress?

[2016-07-22 04:52] SimonCropp commented on #1339
@weralabaj @sfarmar closing this for now. if u still think it qualifies then please re-open with some more ino

[2016-07-22 04:52] #1339 closed

[2016-07-22 04:53] SimonCropp commented on #1596
@ramonsmits since you answered the case you are probably the most qualified to write this doco. do u still think it is worthwhile?

[2016-07-22 04:57] HEskandari commented on #1479
@Particular/nservicebus-maintainers  Would you guys please review this? does it make sense? Anything missing here that should be added?

[2016-07-22 08:23] dvdstelt opened #1711 "Upgrade guide for distributor is hard to find"
Documentation for upgrading distributor to v6 :
http://docs.particular.net/samples/scaleout/distributor-upgrade/

Was looking for this yesterday for a customer and related to a bug found. Could not find it. This morning I suddenly found it via a link here : http://docs.particular.net/nservicebus/scalability-and-ha/distributor/#distributor-configuration

It can only be found under samples. Should t

[2016-07-22 08:32] #1711 closed

[2016-07-23 01:57] SimonCropp opened #1713 "convert transaction code to snippets"
http://docs.particular.net/nservicebus/operations/transactions-message-processing#specifying-transactions-in-code

[2016-07-24 10:23] SeanFeldman commented on #1255
A few minor items are not finished yet. I suspect they are either WIP or done, but not tracked.

[2016-07-25 01:37] HEskandari commented on #863
Licensing related contents are linked now. Have updated the text as a part of #1709 PR to reflect latest changes in the licensing validation/installation. This can be closed now.

[2016-07-25 01:37] #863 closed

[2016-07-25 09:56] SeanFeldman opened #1714 "RegisterPublisher alignment with core"
[Publisher registration API](http://docs.particular.net/nservicebus/azure-service-bus/publisher-names-configuration) was changed to align with naming used in Core. Documentation needs to reflect he change.

[code]

/cc @Particular/azure-service-bus-maintainers

[2016-07-25 11:02] #860 closed

[2016-07-26 06:42] danielmarbach commented on #1479
@HEskandari sounds good for me. Although I get the best understanding if you invite me on a WIP PR.

[2016-07-26 06:47] HEskandari commented on #1479
@danielmarbach certainly :) just wanted to make sure people are happy with the direction before investing the time on it.

[2016-07-26 12:10] mauroservienti opened #1717 "Update the Showcase / on-premise sample to the latest (client) dependencies"
The [on-premise sample](http://docs.particular.net/samples/show-case/on-premise/) `AngularJS` version is 1 year old and should be updated to the latest 1.5.x.
`Bootstrap` has just released a new version that is compatible with `JQuery` 3, I'll double check that `SignalR` is compatible with that as well.

- [ ] V5
- [ ] V6

[2016-07-27 04:42] SimonCropp commented on #1033
done

[2016-07-27 04:42] #1033 closed

[2016-07-27 05:08] SimonCropp commented on #945
font is now slightly bigger and brighter

[2016-07-27 05:08] #945 closed

[2016-07-27 08:11] ramonsmits opened #1719 "Describe how to do an 'assembly include' in 5 to 6 guidance"
Update 5 to 6 guidance http://docs.particular.net/nservicebus/hosting/assembly-scanning regarding the move from an assembly / type exclusion and inclusion strategy via `AllAssemblies` to an assembly exclusion only.

If customers currently rely on include logic then it would be nice if we show them how to convert that.

Include a sample or snippet that demonstrates how the user can work around this

[2016-07-27 13:52] weralabaj opened #1721 "Re-org routing docs"
The new versioning capabilities offered by our Docs engine can help make docs easier to follow for the users.

E.g. see http://docs.particular.net/nservicebus/messaging/routing, http://docs.particular.net/nservicebus/messaging/message-owner.

IMO it's very hard to:
- as a user, understand what pages I need to read, depending on which version I'm using
- as a readerm, follow the text on a page, whe

[2016-07-27 13:54] weralabaj commented on #1719
@ramonsmits We have this http://docs.particular.net/nservicebus/upgrades/5to6#assembly-scanning. Is that really only about creating a sample? If so then can you update the name and descritpion accordingly?

[2016-07-27 13:56] weralabaj commented on #1714
@SeanFeldman Won't that be caught by updating NuGets for snippets?

[2016-07-27 13:58] weralabaj commented on #1699
The customer updated the thread saying they don't have a business use case for this yet, but are interested.

IMO it's worth doing, but not urgent.

[2016-07-27 14:23] SeanFeldman commented on #1714
You're right.

[2016-07-27 14:23] #1714 closed

[2016-07-27 14:36] udidahan opened #1722 "SQL DDL statements from the SQL Transport"
I was talking to someone about our SQL Transport and they asked me how they'd get the DDL statements that would create the tables because their DBAs wouldn't agree to provide the privileges needed for NServiceBus to do that in production.

Looking quickly through the docs, I couldn't find it. Do we have that somewhere?

ping @Particular/sqlserver-transport-maintainers

[2016-07-27 14:48] weralabaj commented on #1722
I think that snippet is the closest we have http://docs.particular.net/nservicebus/sqlserver/operations-scripting#create-queues-the-create-queue-helper-methods (`CreateQueue` method).

Would that be good enough to get them started, or should we modify that section?

[2016-07-27 16:56] udidahan commented on #1722
The thing is that the DBAs would have to know which queue names to plug in there, and they wouldn't know that.

[2016-07-27 17:00] MarcinHoppe commented on #1722
This would also be dependent on endpoint configuration (timeouts, callbacks, etc.).

I'd rather see endpoint having an option to generate DDL on startup.

@udidahan is there aby chance to use your contact to gather some requirements around handling DDL by DBAs?

[2016-07-28 09:39] tmasternak commented on #1711
@dvdstelt was this one fixed? Is there any action needed?

[2016-07-28 09:48] weralabaj commented on #1711
@tmasternak now there's a link in the menu under upgrade guides to http://docs.particular.net/samples/scaleout/distributor-upgrade/. So resolved and closed :)

[2016-07-28 09:52] dvdstelt commented on #1711
Discussed it with simon, so closed this one and created pr. What triggered you to have a look at it, just for my information?

[2016-07-28 10:02] weralabaj commented on #1722
Is that an option that we collaborate with devs rather than DBAs to generate those scripts? I think that would be easier, as they already understand how NSB works and what it needs.

We don't have a full solution ready, but we could work with them to come up with something.

That's an interesting idea.

We don't have very good guidance around deployment and managing the Platform in production (for

[2016-07-28 10:27] #1717 closed

[2016-07-28 10:58] HEskandari commented on #1722
We say developers are responsible for sending the script to the DBA...Can't they generate the script from the DB management app from the Dev/Staging environment and mailing it to the DBA?

I'd argue that generating the script at runtime is effectively doing just that.

[2016-07-28 10:58] tmasternak commented on #1722
Maybe we could have sql statements printed out to logs when in DEBUG? That would allow devs to start the endpoint and get all table creation DML statements we are issuing.

[2016-07-28 11:14] udidahan commented on #1722
@weralabaj this is from a partner who was passing on second-hand concerns. I don't think we can get in touch with the source in this case. Still, I think we can understand what a DBA-friendly solution might look like.

[2016-07-28 11:20] weralabaj commented on #1722
@HEskandari I also thought about that, @udidahan can we check if that could be an option, and if not, then why not?

If that could work then we could create the appropriate doco describing how to do it step-by-step very quickly.

[2016-07-28 11:27] udidahan commented on #1722
That would be a good first step - absolutely.

[2016-07-28 14:18] weralabaj opened #1725 "Use standard pattern references and terminology in docs"
Issue split from https://github.com/Particular/OptimizeTrialExtensions/issues/42.

As pointed out by @SzymonPobiega, we're partially aligned with the standard messaging patterns terminology but there are some discrepancies (see the following comment for details).

Irrelevant of naming, we could link more to EIP in our doco when explaining specific features. I see the following benefits of that app

[2016-07-28 14:18] weralabaj commented on #1725
Here's the summary of discrepancies:

### Terms we use and are aligned with EIP

 * Message
 * Message Endpoint
 * [Messaging Bridge](http://www.enterpriseintegrationpatterns.com/patterns/messaging/MessagingBridge.html) - Unfortunately we don't have any implementation other than MSMQ-SQL sample
 * [Command Message](http://www.enterpriseintegrationpatterns.com/patterns/messaging/CommandMessage.html

[2016-07-28 14:19] weralabaj commented on #1725
@Particular/docs-maintainers thoughts?

[2016-07-29 00:43] HEskandari commented on #1722
I have update the documentation [here](url). Is this good enough, or should we continue the conversation?

[2016-08-01 00:10] #1694 closed

[2016-08-01 08:36] SzymonPobiega commented on #1722
@HEskandari I think the link is broken.

[2016-08-01 08:43] HEskandari commented on #1722
Sorry, link updated. Please let me know if this can be closed.

[2016-08-01 08:50] weralabaj commented on #1722
After seeing Udi's reply on Slack, I think that might be a bigger effort and would benefit from a proper TF, etc. I opened an issue in PlatDev https://github.com/Particular/PlatformDevelopment/issues/899, feel free to update description and comment.
I think we can close this one.

[2016-08-01 08:50] SzymonPobiega commented on #1722
LGTM

[2016-08-01 10:55] weralabaj opened #1729 "Better scale-out samples - discuss"
Right now for the sake of having "hit F5 & run" experience, we hack scale-out samples to run multiple instances on a single machine (see [example](http://docs.particular.net/samples/routing/instance-mapping-file/#code-walk-through-simulating-multiple-machines)).

Given that **some customers use samples as starting points for creating their own projects**, I have doubts if that's the best approach

[2016-08-01 13:37] weralabaj opened #1732 "Update "Individualizing queue names" article"
According to changes in routing, consider adding link to this article from https://github.com/Particular/docs.particular.net/blob/52b7d9ef17bedf7c4da0bf7fa1a9273f3b68905a/nservicebus/upgrades/5to6.md#synchronous-request-response-callbacks.

[2016-08-01 16:10] ramonsmits commented on #1729
Agreed, for example, the distributor sample without incrementing the maximum concurrency level on both the distributor and the worker doesn't make sense as a real life demo.

Maybe this can be aligned with the idea that we want to have an always running demo environment. That should contain a lot of features that will be used in a sort of production environment.

[2016-08-01 20:15] SimonCropp commented on #1729
Strong -1 on this

Specifically

real life for one org will not be real life for another. so the above is not possible without creating dozens of variants per sample addressing slightly different customer requirements.

For example one vector of routing config would be "where to store my routing information". filesystem co located with assemblies, file system on a network share, file system on a r

[2016-08-01 22:49] HEskandari commented on #1722
Closing this issue and the rest will be done as a part of Particular/PlatformDevelopment#899.

[2016-08-01 22:49] #1722 closed

[2016-08-02 06:50] weralabaj commented on #1729
OK @SimonCropp I see your point, on the other hand quite a few customers take samples, modify and that's how they start their real projects.
So would be providing additional guidance, tips&tricks, things to consider when doing X,  Z questions to ask a more appropriate approach?
We say "this is not how you should do it, it's just for simplicity", but don't provide much detail as to go about the "re

[2016-08-02 07:23] SimonCropp commented on #1729
Isn't that covered here http://docs.particular.net/samples/#not-production-ready

[2016-08-02 07:25] weralabaj commented on #1729
That's a disclaimer, not "how should you do it" ;) I'm in favour of doing more hand-holding, specifically per selected samples.
On the other hand, might be better to try it on a few samples and then form conclusions if that's a viable approach.

[2016-08-02 08:10] SimonCropp commented on #1729
I think that starts to get into the launchpad space https://github.com/ParticularLabs/NServiceBus.Launchpad

[2016-08-02 08:16] weralabaj commented on #1729
Hm possibly. Good you brought it up.

[2016-08-02 09:07] SzymonPobiega opened #1733 "Add sample showing `AllInstancesDistributionStrategy`"
because it has been removed from the core.

[2016-08-02 10:00] SzymonPobiega commented on #1729
A scale-out launchpad thingy would be cool. I'd like to chose the transport and the number of instances etc and get a working solution.

[2016-08-03 08:26] weralabaj commented on #609
@SimonCropp isn't that addressed by listing used NuGets? Can we close?

[2016-08-03 09:16] SimonCropp commented on #609
Not really. Some need sqlexpress. Some need rabbit. Some need azure. I have not worked out a way to do this consistently

[2016-08-03 13:13] weralabaj commented on #1317
@SzymonPobiega that seems to be related to https://github.com/Particular/docs.particular.net/issues/1732?

[2016-08-03 13:29] weralabaj commented on #1729
IMO that issue answered my question, so I'm closing.
Summary: We'll keep scale-out samples as they are (hit F5 and run), once the Launchpad starts working we can consider using it for scale-out scenarios too, otherwise if people complain or we notice problems among customers around that subject, we'll expand articles to cover the confusing parts.

[2016-08-03 13:29] #1729 closed

[2016-08-04 06:31] #1334 closed

[2016-08-04 06:35] SzymonPobiega commented on #1317
@weralabaj yeah I think so.

[2016-08-05 08:52] timbussmann commented on #1649
looked for usages in docs and came up with the changes in https://github.com/Particular/docs.particular.net/pull/1741
is there more things we need to address as a part of this issue?

[2016-08-05 12:39] weralabaj commented on #1649
@timbussmann seems there's an overap with https://github.com/Particular/docs.particular.net/pull/1738. once we get the other merged (it waits for some changes in the docs engine), I'll make sure your changes are incorporated.

[2016-08-05 14:00] weralabaj commented on #972
@ramonsmits isn't that duplicate https://github.com/Particular/docs.particular.net/issues/973?

[2016-08-05 14:01] #567 closed

[2016-08-05 14:05] weralabaj commented on #1128
Seems the doco has been updated, the problematic section doesn't exist anymore, I believe it was replaced with http://docs.particular.net/nservicebus/ravendb/#nservicebus-3-and-nservicebus-4-using-the-nservicebus-idocumentstore-for-business-data-is-not-possible.

[2016-08-05 14:05] #1128 closed

[2016-08-05 14:14] weralabaj commented on #1461
The related PR has been merged, that can be addressed now?

[2016-08-05 14:20] weralabaj opened #1744 "Review menu structure under "Messaging""
There's a number of pages under the "messaging" menu item, some like "Gateway" or "Outbox" could be probably moved somewhere else and just linked from appropriate places.

[2016-08-05 14:21] weralabaj opened #1745 "Create index page on http://docs.particular.net/nservicebus/messaging/"
Should be a high-level overview and guide through the content we have on the subject. E.g. the number of articles in this section is pretty high, and for a new user it's not obvious how some of it is relevant (or not) to them.

Will be impacted, and should wait for https://github.com/Particular/docs.particular.net/issues/1721.

[2016-08-05 14:23] weralabaj opened #1746 "Review and re-org content on testing"
http://docs.particular.net/nservicebus/testing/

Split it into smaller articles, use version switching feature instead of page per version.

[2016-08-09 00:25] #1713 closed

[2016-08-09 09:08] andreasohlund opened #1753 "Document HandleCurrentMessageLater"
There is currently no doco for this feature (that puts the current message at the back of the queue)

There is talks about deprecating the feature in the future

https://github.com/Particular/NServiceBus/issues/1705#issuecomment-238496292

[2016-08-09 15:21] #1732 closed

[2016-08-11 06:39] #1479 closed

[2016-08-11 13:29] weralabaj commented on #1654
How about also making it a separate menu item?

IMO that would make sense given this is our concern:

[2016-08-11 13:33] weralabaj commented on #1156
A nice inspiration http://doc.akka.io/docs/akka/snapshot/common/circuitbreaker.html

[2016-08-11 13:35] weralabaj commented on #1058
Seems like that has been addressed already?
I see snippets for the newest version http://docs.particular.net/nservicebus/hosting/cloud-services-host/.

[2016-08-11 13:36] weralabaj commented on #1058
@yvesgoeleven @SeanFeldman :point_up:

[2016-08-11 13:37] weralabaj commented on #972
Closing as duplicate, I copied Andreas comment to not lose it.

[2016-08-11 13:37] #972 closed

[2016-08-11 13:37] weralabaj commented on #973
From Andreas:
Be aware of this bug when docoing the purging: https://github.com/Particular/NServiceBus/issues/846

[2016-08-11 13:48] weralabaj commented on #1583
That still doesn't seem to address the concern expressed in the original issue:
https://github.com/Particular/NServiceBus/issues/3808#issue-158758940

or am I missing something?

[2016-08-11 13:55] weralabaj commented on #1649
The only remaining mentions are addressed in this PR https://github.com/Particular/docs.particular.net/pull/1762, closing.

[2016-08-11 13:55] #1649 closed

[2016-08-11 14:13] yvesgoeleven commented on #1058
@weralabaj indeed, we can close this issue

[2016-08-11 14:13] #1058 closed

[2016-08-12 20:54] SeanFeldman commented on #1583
It should. Azure host process implements the Sam contract used by azure host for SC, so it allows to run in a dev environment w/o the emulator (just like @yvesgoeleven commented here https://github.com/Particular/NServiceBus/issues/3808#issuecomment-224071210).
This issue is to make sure we document the option.

[2016-08-16 08:01] #1023 closed

[2016-08-16 08:48] weralabaj commented on #1753
So do we want to document it or not? If not sure then why open the issue in docs? Once the other issue is resolved one way or another, the outcome could be documenting. No need for issues here.

[2016-08-16 08:50] weralabaj commented on #1725
@SimonCropp @indualagarsamy I talked with @SzymonPobiega about that topic on random occasion. We both think that the best approach would be to keep names as they are, keep the list (e.g. in a Readme file) and when documenting the features just link to EIP explanations.

What do you think?

[2016-08-16 09:27] andreasohlund commented on #1753
Well its present in all released versions of NSB so until we deprecate we should have something?

I can take a stab at this later this week

[2016-08-16 09:36] weralabaj commented on #1753
OK, that sounds like a good place http://docs.particular.net/nservicebus/messaging/delayed-delivery?

[2016-08-17 05:59] SimonCropp commented on #1725
Sounds good to me

[2016-08-17 08:58] SzymonPobiega commented on #1721
Added a restructure PR https://github.com/Particular/docs.particular.net/pull/1787

[2016-08-18 11:56] weralabaj commented on #1699
Seems we have pretty good snippets for that already http://docs.particular.net/nservicebus/recoverability/subscribing-to-error-notifications. I don't think sample adds much more value.

[2016-08-19 10:09] andreasohlund commented on #1753
After trying to explain the use case to @weralabaj I could come up with a scenario that isn't a super bad idea for the users. I will pick @udidahan 's brain but unless we can find a good use case we'll not document it and instead make sure to deprecate the api in the next major.

Stay tuned...

[2016-08-19 11:48] indualagarsamy commented on #1725
@weralabaj - sounds good.

[2016-08-19 13:46] weralabaj opened #1792 "Explain how timeouts are implemented"
specifically what queues are created, by what part of NSB, where, etc.
related to the question from customer who needed to manually remove timeouts, but wasn't aware of the TimeoutEntity table created by Nhibernate.

[2016-08-22 15:58] #1792 closed

[2016-08-23 12:07] weralabaj opened #1798 "Upgrade Mongo page"
http://docs.particular.net/samples/mongodb/

Waiting for https://github.com/tekmaven/NServiceBus.Persistence.MongoDb/pull/12

[2016-08-23 14:17] SeanFeldman opened #1799 "ASB: document most common exceptions"
Document and explain what the exceptions are and how to address those.

This will help understand better what errors require user action and what errors are handles by the transport and do not require any involvement. Example for how this documentation could help: https://github.com/Particular/V6Launch/issues/81

[2016-08-23 22:12] SimonCropp opened #1800 "IMessageMutator and IMutateTransportMessages missing from upgrade guide"

[2016-08-23 22:17] SimonCropp commented on #1800
@andreasohlund so is this one yours https://github.com/Particular/NServiceBus/commit/6c5a3228d03cd90f708aba911325129b040b68e4  ?

[2016-08-24 06:22] SzymonPobiega opened #1802 "Update distribution samples"
After https://github.com/Particular/NServiceBus/pull/4069 is released as internal beta nuget update samples for
 * Custom distribution
 * Fair distribution

[2016-08-24 08:22] andreasohlund commented on #1800
Hmm, isn't this enough? https://github.com/Particular/docs.particular.net/blob/master/nservicebus/upgrades/5to6.md#message-mutators

[2016-08-24 08:24] SimonCropp commented on #1800
damn i am having a shocker. i swear i searched for that.

[2016-08-24 08:24] #1800 closed

[2016-08-24 08:43] andreasohlund commented on #1800
ha, I even started a PR branch since I was conviced I screwed up yet again :)

[2016-08-24 10:06] ramonsmits opened #1803 "Document that outbox must not be used for dedupe of non transactional processing"
The current outbox documentation states:

Source: http://docs.particular.net/nservicebus/outbox/

This seems to suggest that handlers will not be invoked more then once which is incorrect.

The documentation must make clear that:
- Handlers can be invoked more than once if there are duplicates even in case of errors
- Cannot rely on outbox deduplication to invoke non-transactions handlers only onc

[2016-08-25 06:23] SimonCropp commented on #1699
@weralabaj so the subscribing-to-error-notifications page is actually the "in endpoint" api. if people want to subscribe to errors from multiple endpoints via the SC aggregate they would need to subscribe to SC notifications. Based on that do u still think this should be closed?

[2016-08-25 06:26] weralabaj commented on #1699
I think I mentioned the wrong link, I had this one in mind http://docs.particular.net/servicecontrol/contracts, probably too many tabs opened ;)

Not sure, seems the implementation is trivial, yet I saw yesterday somebody asking on SO related question.

[2016-08-25 06:30] SimonCropp commented on #1699
i think the code to write is trivial. but the moving pieces to get that working and experiment with it is not. so i am +1 for a sample

[2016-08-25 09:58] carlbm commented on #421
@sergioc  Are these for public consumption? If so the lucidchart link has expired.
It would be great to get hold of an updated copy.

[2016-08-25 10:58] sergioc commented on #421
@carlbm we're not promoting the use of these stencils at the moment since they haven't been tested yet, but we won't prevent anyone from using. I've updated my previous comment with a valid share link.

In case you decide to use the stencils, we'd love to hear about any feedback or limitations found in your intended usage.

[2016-08-25 11:45] carlbm commented on #421
Thank you.
Some initial feedback (and I'm being very picky here, it's a great resource so thank you again!)

- Have a visio stencil to use out the box would be useful for those of us that use visio.
- Having a set with inverted colours would be useful for those of us who like light backgrounds (assuming this doesn't work against any of your guidelines.

[2016-08-25 12:20] #1721 closed

[2016-08-25 12:56] #1798 closed

[2016-08-25 12:56] weralabaj commented on #1798
Done

[2016-08-25 13:26] carlbm commented on #421
[NSB.zip](https://github.com/Particular/docs.particular.net/files/437109/NSB.zip)

I used your stencil to create a visio stencil which I've attached in case anyone else is interested. I haven't actually used it yet :smile: but I'll feedback once I have.

[2016-08-25 13:30] ramonsmits opened #1810 "Azure Storage persistence doesn't mention it cannot guarantee consistency"
Azure Storage persistence (ASP) doesn't mention it cannot guarantee consistency. It not transactional and cannot participate in transaction combined with the outbox.

Shouldn't we make it very clear that ASP is non-transactional and that at-least-once message delivery can easily corrupt saga state?

Also potentially mention that this probability increases when scaling out their endpoints.

Issue c

[2016-08-25 14:06] Scooletz commented on #1810
Just for sake of reference, there is a corresponding article in the `ASQ` section. I think that linking this is sufficient enough.
http://docs.particular.net/nservicebus/azure/transactions#recommendations-for-using-nservicebus-in-azure-sagas-and-compensation-logic

[2016-08-25 15:42] sergioc commented on #421
@carlbm thanks. I assume you exported to Visio from LucidChart. That should cover the issue you mentioned above.

The stencils were originally meant to be used on light backgrounds. Did you mean to say that you'd prefer a lighter stencil background to make the contrast between stencils and canvas less pronounced?

[2016-08-25 19:36] yvesgoeleven commented on #1810
I suggest we add a warning somewhere, that links to the transactions document. @ramonsmits where would you put the warning?

[2016-08-25 19:44] SeanFeldman commented on #1810
Perhaps that should a note that is applicable not just to ASP?
None of the Azure services are transaction (beside Azure SQL Server that is an exception when it comes to combing storage and transport).

[2016-08-25 19:49] yvesgoeleven commented on #1810
That's the same concern I have, NONE of the azure services are transactional... If users don't know that then we have bigger problems

[2016-08-26 13:33] MarcinHoppe opened #1816 "Duplicate messages generated by the Outbox"
Outbox may generate duplicate messages if the `MarkAsDispatched` phase fails. We need to document under what circumstances this might happen.

[2016-08-26 13:38] weralabaj commented on #1816
How about adding it to the "Important design considerations"? If it needs extensive explanation we can create a subsection for it.

Feel free to create the rough draft, I can help with editing ;)

[2016-08-26 13:47] MarcinHoppe commented on #1816
I will get to it after I'm back from vacation. If someone wants to take this on in the meantime, that's even better.

[2016-08-26 13:52] MarcinHoppe opened #1817 "SQL Server transport legacy multi-instance mode does not support the outbox"
SQL Server transport upgrade guide (V2 -> V3) should mention that the legacy multi-instance mode in V3 does not support the Outbox, as opposed to V2 multi-instance.

The main doco page for the SQL Server transport contains this information but it should be easily accessible for people upgrading their endpoints.

[2016-08-26 13:55] MarcinHoppe opened #1818 "Guidelines for migrating from SQL Server transport multi-instance topology to a centralized broker"
Taskforce: @MarcinHoppe ...

We are [advising](http://docs.particular.net/nservicebus/sqlserver/#deployment-considerations) our customers to use SQL Server transport using a single SQL Server instance as a centralized broker.

Customers who are already using multi-instance topology need guidance how to migrate their endpoints and queues from multiple instances to a central broker, preferably witho

[2016-08-26 13:59] MarcinHoppe opened #1819 "SQL Server transport legacy multi-instance mode is for backwards compatibility only"
We should document that legacy support for multi-instance topology in SQL Server transport V3 is only to allow smooth interop with V2 endpoints using this topology and we do not recommend its usage for new deployments.

[2016-08-26 16:40] ramonsmits commented on #1810
At the top :-)

Although they do not support transactions, most do support atomic writes and optimistic concurrency control. In most situations writes can be designed in such a way that these are consistent and cannot result in data corruption.

This is the reason I would like to see this warning added as we don't do any effort in prevent corruption.

[2016-08-26 20:07] yvesgoeleven commented on #1810
@ramonsmits regarding 'As we don't do any effort in prevent corruption.' This isn't true, we do correct the saga data if the secondary indexes get corrupt.

[2016-08-27 03:00] SimonCropp opened #1822 "missing message mapping info"
as part of the recent routing changes the message-owner.md page got removed

it was done with this commit
https://github.com/Particular/docs.particular.net/commit/3c20db00d872a4df19f417b97fa370e4d68b70fa

the old file is here
https://github.com/Particular/docs.particular.net/blob/433ee500d3ebdf836d8674673e194a6140ffda78/nservicebus/messaging/message-owner.md

the seems to be a fair amount of usefu

[2016-08-27 03:01] SimonCropp commented on #1822
ping @SzymonPobiega @andreasohlund

thanks @SeanFeldman for highlighting the issue

[2016-08-29 04:44] SzymonPobiega commented on #1822
What content do you think is missing? The config source/provider stuff has been moved to routing extensibility. I could not find anything not covered by the new page.

[2016-08-29 06:18] SimonCropp commented on #1822
eg in the old file there was content "To register all message types defined in an assembly" i cant see that in the new content

also this content https://github.com/Particular/docs.particular.net/blob/433ee500d3ebdf836d8674673e194a6140ffda78/nservicebus/messaging/message-owner.md#filtering

[2016-08-29 12:41] SzymonPobiega commented on #1822
PR for solving this: https://github.com/Particular/docs.particular.net/pull/1826

[2016-08-29 20:15] SeanFeldman commented on #1799
Closing. We're going to link to the [MSFT documentaiton](https://azure.microsoft.com/en-us/documentation/articles/service-bus-messaging-exceptions/)  that already doe it well.

[2016-08-29 20:15] #1799 closed

[2016-08-30 12:15] #1822 closed

[2016-08-30 12:20] #1274 closed

[2016-08-30 12:20] #1446 closed

[2016-08-30 12:36] SimonCropp commented on #1802
@SzymonPobiega is this one unstuck now?

[2016-08-30 15:21] danielmarbach opened #1829 "Make AAA style testing more prominent on testing page"
Based on https://github.com/Particular/NServiceBus.Testing/issues/90#issuecomment-243380979 I think we should make AAA style testing more prominent on the main testing page. For example first show a quick example of AAA style testing with further information link to the sample page and then show the fluent style syntax. Thoughts @Particular/docs-maintainers ?

[2016-08-31 05:07] SimonCropp opened #1832 "remove DisableLegacyRetriesSatellite comment"
remove the comment here when we go RC of core

https://github.com/Particular/docs.particular.net/blob/master/Snippets/Core/Core_6/UpgradeGuides/5to6/Recoverability/Recoverability.cs#L78

[2016-08-31 05:43] #1699 closed

[2016-08-31 08:24] SimonCropp commented on #1829
sounds good to me

[2016-08-31 09:53] ramonsmits opened #1833 "Improve doco on transactions regarding Receive and Atomic modes in V5"
The documentation states that _Sends atomic with Receive_ is present in V5 which is partially true and the same for _Receive_ the transport decides the mode.
## Behavior
### ReceiveOnly: Rabbit, ASQ, ASB

Rabbit, ASQ, ASB will only support ReceiveOnly.
### Enlistment: ASQ, ASB

Enabling distributed transactions results in ReceiveOnly but the transports will use transaction enlistment to achieve ba

[2016-08-31 11:18] HEskandari opened #1835 "Create documentation for the new queue peeker delay configuration api"
This is related to Particular/NServiceBus.SqlServer#271

[2016-09-01 13:10] andreasohlund commented on #1753
Issue raised to deprecate `HandleCurrentMessageLater`

https://github.com/Particular/NServiceBus/issues/4110

[2016-09-01 20:08] indualagarsamy commented on #1701
I believe this issue can now be closed as it has been addressed in the doco, as part of the PlatDev issue.

[2016-09-01 20:08] #1701 closed

[2016-09-02 02:54] #1835 closed

[2016-09-05 23:49] #1266 closed

[2016-09-05 23:49] #886 closed

[2016-09-05 23:49] #894 closed

[2016-09-06 02:19] #1832 closed

[2016-09-06 02:20] #1596 closed

[2016-09-06 02:21] SimonCropp commented on #1472
@DavidBoike @indualagarsamy is this still happening?

[2016-09-06 03:59] SeanFeldman opened #1865 "ASQ - Multiple storage accounts mixes 2 concerns"
[Multiple storage accounts](http://docs.particular.net/nservicebus/azure-storage-queues/multi-storageaccount-support) is mixing two topics

1. Azure Storage Scalability and Performance
1. Using aliases for connection strings

Scaling out was possible with previous versions of ASQ using "targeted" entities (entity with a specified connection string. F.e. "queue@connecitonString"). That is the focus

[2016-09-06 04:44] SzymonPobiega opened #1866 "Document inherited routing via MEM"

[2016-09-06 11:43] Scooletz commented on #1865
I don't agree. I can see the reason behind having a separate section in the `Multiple storage accounts`, which is the usage of aliases changes when you're in a `Scale Out` scenario. Effectively, I prefer to read a single `Scale Out` recipe that shows how to leverage multiple accounts rather than read this page and go to another one for more information. The section in `Multiple storage accounts` i

[2016-09-06 18:28] SeanFeldman commented on #1865
Preserving the old name for a new document is absolutely fine. I only suggested to change the name, not mandated that :wink:

As for the document as it is right now - I still think connection strings aliases is **feature**. And as such, should have a dedicated document. Current document can reference standalone "Using aliases for connection strings" w/o a problem.

Additionally, currently the docu

[2016-09-06 21:33] DavidBoike commented on #1472
OK, after a **lot** of digging, I discovered that apparently we [outright removed the WCF code from the NSB Host](https://github.com/Particular/NServiceBus.Host/commit/d62af6e6425eb551ad35faa1beac59c3fb217752) without an obsolete or anything

[2016-09-07 08:40] Scooletz commented on #1865
Let's sync.

[2016-09-07 17:06] SeanFeldman commented on #1865
Synced. Summary: use partials for sure and review if Aliases should reside in a separate document.
/cc @Scooletz

[2016-09-07 21:52] indualagarsamy commented on #1719
@ramonsmits - can you chime in on @weralabaj's question? Since we have an existing documentation, isn't pointing to the correct link sufficient? I am trying to understand what we are currently missing.

[2016-09-07 21:55] indualagarsamy commented on #1276
@Particular/azure-storage-queues-maintainers - is this done? It;s hard to tell from the PR what's Azure Storage Related. Also a lot of the tasks are struck out as opposed to checked.

[2016-09-07 21:58] indualagarsamy commented on #1271
@Particular/azure-service-bus-maintainers - can you please update this issue? What needs to be done? All the `Azure Servicebus Transport` items in the related issue seems to be struck out.

[2016-09-07 21:59] SeanFeldman commented on #1276
Update based on what I know:

1. scaleout - done [here](http://docs.particular.net/nservicebus/azure-storage-queues/multi-storageaccount-support)
1. HA - ???
1. georeplication - ???
1. sharding - not possible. General description updated.

[2016-09-07 21:59] indualagarsamy commented on #1262
@Particular/azure-service-bus-maintainers - can you update this issue? Seems like `Entity name length limitations and how to change the validation rules #1262` has been completed?

[2016-09-07 22:00] indualagarsamy commented on #1257
@Particular/azure-service-bus-maintainers - any updates on this?

[2016-09-07 22:02] SeanFeldman commented on #1271
I'd like to include it as a part of the https://github.com/Particular/V6Launch/issues/81 to ensure the upgrade guide is up-to-date with the changes for RC. Originally it was for Beta.

[2016-09-07 22:05] SeanFeldman commented on #1262
@indualagarsamy working on other items from the list in https://github.com/Particular/V6Launch/issues/81 Needs to be verified. If indeed it's already covered, we'll close the issue.

[2016-09-07 22:07] SeanFeldman commented on #1257
Documented [here](http://docs.particular.net/nservicebus/azure-service-bus/understanding-transactions-and-delivery-guarantees?version=ASB_7)

[2016-09-07 22:07] #1257 closed

[2016-09-08 10:02] ramonsmits opened #1882 "Improve NServiceBus.SagaPersisters.Azure.DuplicatedSagaFoundException guidance"
I was hit by the following exception:

@Scooletz mentioned there is guidance on our docs where a search should return this.

The results on the the following searches aren't really helpful
- http://google.com?q=NServiceBus.SagaPersisters.Azure.DuplicatedSagaFoundException
- http://google.com?q=DuplicatedSagaFoundException
- http://google.com?q=NServiceBus+DuplicatedSagaFoundException
- http://docs

[2016-09-08 10:35] christoffer-lundqvist opened #1883 "Feature request: Last changed documentation"
In order to stay updated on the latest changes in the product suit, it would be nice to be able to see what documents/links that have been changed in i.e the last week or days.

[2016-09-08 11:21] Scooletz commented on #1882
A small update. @ramonsmits mentioned that we can run into a scenario, when after the upgrade sagas that have duplicates receive no messages. Then after some period of time (a few weeks) and deployment to the production we receive this `DuplicatedSagaFoundException`. Should we proactively throw an exception if the deduplications wasn't run and mark it as run? Is this a separate issue maybe?

Pls c

[2016-09-08 13:01] Scooletz commented on #1276
I agree with @SeanFeldman . IMO this is done in its current format and can be closed. @yvesgoeleven Could you comment on this?

[2016-09-08 13:04] yvesgoeleven commented on #1276
we decided to only do scaleout for now, leave the rest for later. feel free to move those to other issues.

[2016-09-08 13:14] Scooletz commented on #1276
@yvesgoeleven but these issues haven't been implemented yet. Should we close this one and document these features once they are implemented?

[2016-09-08 13:25] yvesgoeleven commented on #1276
@Scooletz that's what I meant indeed, ensure there is an issue in the asq repo

[2016-09-08 13:36] Scooletz commented on #1276
I've updated the original issue for it https://github.com/Particular/NServiceBus.AzureStorageQueues/issues/21 unpinning from the `v6` issue as well as removing already implemented parts (aliases). I'm closing this.

[2016-09-08 13:36] #1276 closed

[2016-09-08 18:55] indualagarsamy commented on #1883
Hi @christoffer-lundqvist - Thank you for you suggestion. I'll raise it internally to see what the other maintainers of this repository think.

However, I think that even now, you can get to the history of changes, since all our documentation resides on a public github repository.

For instance, say, you'd like to see the history for an article:
http://docs.particular.net/nservicebus/sagas/

You c

[2016-09-09 09:45] danielmarbach opened #1889 "Sample for self hosting how to only run installer once"
Related https://github.com/Particular/NServiceBus/issues/1703

// cc @timbussmann

[2016-09-09 10:56] SimonCropp commented on #1889
dont think we need a full sample for this. should doco be enough?

[2016-09-09 13:05] yvesgoeleven commented on #1507
ReplicatedNamespacePartitioning  is used as example, Sharded is omitted

[2016-09-09 13:12] ramonsmits commented on #1719
@indualagarsamy V6 transitions to an 'exclude' model. There are likely to be customers that use the previous behavior. Have a whitelist of assemblies/types and pass those NServiceBus. We don't have guidance that shows how customers can transition to V6. We don't have any samples that show how to do this.

[2016-09-09 13:30] ramonsmits commented on #1183
@SimonCropp I don't know if this is still an issue in V6. The host is still using the same concepts to you still need to 'clone' the generated assembly redirects to the `NServiceBus.Host.exe.config` and that guidance is mentioned in the linked section.

[2016-09-12 03:28] SimonCropp commented on #1183
@ramonsmits can u please verify?

[2016-09-12 10:52] #1816 closed

[2016-09-13 01:19] #1817 closed

[2016-09-13 04:24] mikeminutillo opened #1902 "Remove reference to pre-release nuget steps"
Currently users installing V6 require the Prerelease flag in NuGet.

After the RTM this flag is no longer required (or desired). We need to review the upgrade guide and remove all references to this flag.

e.g. https://github.com/Particular/docs.particular.net/pull/1878#discussion_r78493928

[2016-09-13 06:30] SimonCropp commented on #1651
@andreasohlund closing this as it seems done. please re open if more is needed

[2016-09-13 06:30] #1651 closed

[2016-09-13 06:31] #756 closed

[2016-09-13 06:33] SimonCropp commented on #226
already have operation scripting code for various transports. so closing this

[2016-09-13 06:33] #226 closed

[2016-09-13 06:55] SzymonPobiega commented on #1802
@SimonCropp done. I guess I forgot to close this one.

[2016-09-13 06:55] #1802 closed

[2016-09-13 13:20] #1507 closed

[2016-09-13 13:21] #1453 closed

[2016-09-14 03:45] SimonCropp commented on #1889
@danielmarbach thoughts?

[2016-09-14 04:45] danielmarbach commented on #1889
Somewhere here? http://docs.particular.net/nservicebus/operations/installers

On Wednesday, September 14, 2016, Simon Cropp <notifications@github.com>
wrote:

[2016-09-14 04:50] SimonCropp commented on #1889
@danielmarbach LGTM

[2016-09-14 05:57] SeanFeldman commented on #1262
Going to close this one. As @indualagarsamy outlined correctly, this is already covered by PR #1629.

[2016-09-14 05:57] #1262 closed

[2016-09-14 06:00] SeanFeldman commented on #1271
Upgrade guide is in place. It will be reviewed again as part of RC work (https://github.com/Particular/V6Launch/issues/81).

Closing this issue.

[2016-09-14 06:00] #1271 closed

[2016-09-14 10:20] tmasternak opened #1906 "Document behavior changes in IManageUnitsOfWork"
Connects to: https://github.com/Particular/NServiceBus/issues/4134

[2016-09-14 12:03] #1819 closed

[2016-09-14 12:25] #1906 closed

[2016-09-18 02:06] fangqifan opened #1917 "Would you tell me how to build the website like (http://docs.particular.net/)"
Hi @weralabaj !,I find that the chinese document of NServiceBus on the internet is rare. I plan to build an website  which I can translate document into Chinese to share on internet. Now, I have translated some articles. Would you tell me how to use this repository to build the website like (http://docs.particular.net/) ?
Thanks.

[2016-09-19 10:01] weralabaj commented on #1917
Hi @fangqifan,

I'm not sure if I understand you correctly, but do you want to create a chinese version of our documentation?

I think the simplest thing to do would be to set it up using some existing CRM or documentation tool. We have an interal documentation engine, but that will be probably an overkill unless you translate a lot of the content and plan to keep it in sync with the official docu

[2016-09-19 10:06] weralabaj commented on #1883
Sounds like some kind of a "periodic digest" thing, is that right @christoffer-lundqvist?

At the moment I don't think we have a good tool to differentiate between "trivia" changes (like fixing spelling mistakes, light editing without changing the contet, etc.) and important updates (other than related to the release).

Could you please clarify of why would that be useful and how it would help you

[2016-09-19 10:09] weralabaj commented on #1882
How would you detect this? Is that for when the exception is actually thrown?

Would it be a challenge of ensuring that people follow the upgrade guide carefully?

[2016-09-19 10:16] weralabaj commented on #1865
@SeanFeldman @Scooletz What partials have to do with all of this? :)

Sidenote: the link http://docs.particular.net/nservicebus/azure-storage-queues/configuration#using-aliases-for-connection-strings-to-storage-accounts doesn't exist anymore (used here http://docs.particular.net/nservicebus/azure-storage-queues/multi-storageaccount-support#using-aliases-for-connection-strings-to-storage-accounts-f

[2016-09-19 10:19] weralabaj commented on #1829
@danielmarbach do you think that this issue could be addressed by having version switching for this page, rather than a dedicated page for v6 (which is a sample, sigh....)?

IMO that would be simpler. see related https://github.com/Particular/docs.particular.net/issues/1746, didn't manage to get to it before vacation though :)

[2016-09-19 10:20] weralabaj commented on #1818
@MarcinHoppe do you think we should raise it as an RTM issue?

[2016-09-19 10:23] Scooletz commented on #1865
@SeanFeldman Could we discuss the current shape of it on today's sync maybe?

[2016-09-19 10:24] SzymonPobiega commented on #1866
Sorry @weralabaj. This is done. Forgot to close.

[2016-09-19 10:24] #1866 closed

[2016-09-19 10:25] #1818 closed

[2016-09-19 11:21] #1725 closed

[2016-09-19 11:44] christoffer-lundqvist commented on #1883
Hi,

As a system architect I more than once a week browse the online
documentation for a quite a few different reasons.

Most of the times we use the documentation in order to be able to
understand new features in minor patches. We upgrade SC and SP all the time.
Most of the time we just read the commit notes and what issues are being
resolved, and that nice.

Instead of just watching (monitoring)

[2016-09-19 12:05] weralabaj commented on #1883
Thanks @christoffer-lundqvist !

That helps a lot :)

[2016-09-19 13:36] Scooletz commented on #1882
@weralabaj

We could write a marker entry in the table when it's created with high enough version of the storage or when a deduplication tool is run

Could you elaborate on what do you mean in `follow the upgrade guide carefully` ?

[2016-09-19 13:56] weralabaj commented on #1882
That if they follow the guide then deduplication should be done, right? And thus this problem shouldn't occur. Is that right?

[2016-09-19 14:32] Scooletz commented on #1865
I'll address the dangling link.

In my opinion we should not change the wording. Including `security it the description of this feature makes the previous version `not-secure`.

We agreed with @SeanFeldman that making the scale out page multiversioned with partials is just enough to make it.

Ping @weralabaj do you agree with the above?

[2016-09-19 14:35] weralabaj commented on #1865
sounds good, just ping me on the PR then, it wasn't clear from the description what the conclusion was :)

[2016-09-19 15:52] Scooletz commented on #1882
Yes.

[2016-09-20 07:32] weralabaj commented on #1833
@ramonsmits is it about providing content for http://docs.particular.net/nservicebus/transports/transactions#TODO? :P

That's the link for "Transport Transaction" in a table for v5.

Since it's different for specific transports, would it make sense to cover it in more detail in pages dedicated to transports rather than the shared page? (e.g. http://docs.particular.net/nservicebus/azure-storage-que

[2016-09-20 07:33] weralabaj commented on #1753
@andreasohlund updates on this?

[2016-09-20 08:22] andreasohlund commented on #1753
We can see any real good use case and will deprecate it

https://github.com/Particular/NServiceBus/issues/4110

so I'd say we close this as won't fix?

[2016-09-20 08:23] SimonCropp commented on #1753
@andreasohlund so u are happy to do the marketing statement of "we are deprecating this feature... what feature... the one that is not documented" ?

[2016-09-20 08:29] andreasohlund commented on #1753
So you're saying to document it as

### HandleCurrentMessageLater

Shouldn't be used since its dangerous, please use bus.Defer/context.X or a custom retry policy instead. Will be deprecated in the next major version.

Should I do a PR?

[2016-09-20 08:29] andreasohlund commented on #1753
Of course fleshing out why its dangerous

[2016-09-20 08:34] SimonCropp commented on #1753
@andreasohlund sounds good

[2016-09-20 08:36] danielmarbach commented on #1829
Not sure @weralabaj. As far as I understand version switches is that they should be used if the content of the snippet is similar. But here I'm talking about revamping the page to show AAA style testing first and make it more prominent.

[2016-09-20 08:39] SimonCropp commented on #1829
@danielmarbach

nope. some pages switch all (or almost all) their content. eg https://docs.particular.net/nservicebus/messaging/routing-extensibility

[2016-09-20 08:41] danielmarbach commented on #1829
Ok then I'm fine with that approach

[2016-09-20 09:03] ramonsmits commented on #1833
@weralabaj Seems my original link died as the anchor isn't present anymore. Now seems to be http://docs.particular.net/nservicebus/transports/transactions?version=Core_6#transactions-transport-transaction-sends-atomic-with-receive

So this is not present anymore for V5 making this issue maybe now irrelevant but just see something else

For V5: http://docs.particular.net/nservicebus/transports/tran

[2016-09-21 07:34] SimonCropp opened #1930 "contactus consistent"
make usages of https://particular.net/contactus consistent

[2016-09-21 10:11] weralabaj commented on #1833
@ramonsmits sounds like the simplest thing to do would be to review that page for all versions and make sure it's accurate & raise PR with edits if necessary, can you do that?

[2016-09-22 09:09] weralabaj opened #1938 "Extend testing sample"
Cover at least the same scenarios as in the https://docs.particular.net/nservicebus/testing/

https://docs.particular.net/samples/unit-testing/

[2016-09-22 09:09] weralabaj commented on #1938
From @timbussmann on testing saga timeouts and replies to originator

Assert.That(timeout.Options.GetDeliveryDelay(), Is.EqualTo(TimeSpan.FromMinutes(5)));
or similar. I think we could provide an extension method which checks the NServiceBus.Headers.IsSagaTimeoutMessage header. e.g. something like Where(m => m.IsSagaTimeout()). Thoughts?

Assert.That(reply.Options.GetDestination(), Is.EqualTo(saga

[2016-09-22 10:03] weralabaj commented on #1883
@christoffer-lundqvist After discussing various options, we thought the good idea would be to include link to relevant documentation pages in the release notes. That would have to be done manually, but we could make sure it's easy to get more context regarding changes and not overwhelm anybody with (mostly) irrelevant information.

What do you think?

[2016-09-22 11:25] #1746 closed

[2016-09-22 13:38] christoffer-lundqvist commented on #1883
Thanks. That would be a good start I think.

On Thu, Sep 22, 2016 at 12:03 PM, Weronika Łabaj <notifications@github.com>
wrote:

[2016-09-22 21:10] #1744 closed

[2016-09-22 21:19] SimonCropp opened #1942 "Scaleout, Scale-out or Scale out?"

[2016-09-23 00:22] #1829 closed

[2016-09-23 03:53] #1942 closed

[2016-09-23 03:54] SimonCropp commented on #1942
"scale out"

[2016-09-23 03:58] SimonCropp commented on #832
not worth fixing

[2016-09-23 03:58] #832 closed

[2016-09-23 03:59] SimonCropp commented on #1462
@Particular/nservicebus-maintainers can you please prioritizes this in your todo list

[2016-09-23 04:01] SimonCropp commented on #1719
@Particular/nservicebus-maintainers Is this worth documenting? if so can u please prioritize in your todo list

[2016-09-23 04:02] SimonCropp commented on #1810
@yvesgoeleven @SeanFeldman so is this "done"?

[2016-09-23 04:04] SeanFeldman commented on #1810
I think @ramonsmits wanted to put a warning on top of the ASP page or something.

[2016-09-23 04:05] SimonCropp commented on #1338
seems done

[2016-09-23 04:05] #1338 closed

[2016-09-23 04:07] SimonCropp commented on #1930
fixed

[2016-09-23 04:07] #1930 closed

[2016-09-23 05:14] Scooletz commented on #1865
@SeanFeldman In regards to https://github.com/Particular/docs.particular.net/pull/1926#issuecomment-248976184
Are we closing this issue, or do we need a separate menu item that, as far as I know, can't be versioned?

[2016-09-23 05:16] SeanFeldman commented on #1865
@Scooletz don't think the fact that it cannot be versioned should prevent us from having it as an item.
That section could be a partial included in both, stand-alone page that is on the menu, and the multi-storage account page.

[2016-09-23 05:56] weralabaj commented on #1942
LOL

[2016-09-23 06:36] Scooletz commented on #1865
Having that said, I'll raise another PR on Monday.

[2016-09-23 08:04] timbussmann commented on #1462
@SimonCropp can you clarify what this issue is about in the description? Is this a task which can only be done by core maintainers?

[2016-09-23 08:10] weralabaj commented on #1462
@timbussmann the latest comment in referenced PR from @dvdstelt :

Second snippet under this : http://docs.particular.net/nservicebus/messaging/databus#databus-attachments-cleanup-filesharedatabus

also https://github.com/Particular/docs.particular.net/pull/1335#issuecomment-214282833

So I guess the problem is the issue is relevant (desk questions, gg questions), but the involved people didn't ha

[2016-09-23 08:33] danielmarbach commented on #1462
@weralabaj @SimonCropp We had many discussions in the past around the feature and lack of features of the current Databus approach. We also have a few related issues in PlatformDevelopment around the databus but so far we didn't feel the need to prioritize those items from a company perspective. I suggest we rip the data bus functionality out of the core and make it a dedicated evolvable piece lik

[2016-09-23 09:10] weralabaj commented on #1462
This issue is only about documenting guidance for cleanup strategy. I don't have context for those other issues.

But are you just saying that we're pinging the wrong people? ;)

Given that it's useful from customers perspective, how can we do it at least for v6?

[2016-09-23 09:28] weralabaj opened #1947 "Verify if conversation Id has to be guid and why"
https://docs.particular.net/nservicebus/messaging/third-party-integration#additional-information

[2016-09-23 10:16] danielmarbach commented on #1719
What is the idea here? Should we write a LINQ reflection sample which filters assemblies?

[2016-09-23 13:30] andreasohlund commented on #1947
From a core perspective its just a string. cc @Particular/nservicebus-maintainers

@Particular/servicecontrol-maintainers is SC interpreting this a GUID?

@Particular/serviceinsight-maintainers ditto?

[2016-09-23 15:47] timbussmann commented on #1719
I think without a more concrete story behind what exactly requires that approach it doesn't make sense to just  "reimplement" features we deprecated?

[2016-09-25 00:26] fangqifan commented on #1917
Hi @weralabaj

As you know, I want to create a Chinese version of your documentation, and plan to keep it in sync with the official documentation by updating it periodically. I have bought a domain (http://nservicebus.cn) and have uploaded a small set of translated documents. Unfortunately, we have to address many formatting issues in translation because the current version of this website is base

[2016-09-25 01:57] SimonCropp commented on #1917
@fangqifan

While we appreciate the proactive attitude there are complexities with having a fork of the documentation in a different language.

 - There is a significant amount of time and effort that goes into maintaining our documentation since it very much a living body of content. It would take a third party a significant amount of time and effort on a continual bases to keep up to date with t

[2016-09-26 01:38] HEskandari commented on #1947
@andreasohlund in ServiceInsight, the ConversationID is only a string as well.

[2016-09-26 01:58] johnsimons commented on #1947
ServiceControl treats conversationids as strings

[2016-09-26 08:05] weralabaj commented on #1947
OK, I adjusted the description in the doco

[2016-09-26 08:05] #1947 closed

[2016-09-26 08:05] weralabaj commented on #1947
thanks @johnsimons @HEskandari for quick clarification!

[2016-09-27 06:12] SimonCropp commented on #1654
@weralabaj i am having second thoughts about this. all the things currently under https://github.com/Particular/docs.particular.net/tree/master/nservicebus/upgrades actually depend on NSB. where SC, SI and SP dont.

so i now think the current structure is good enough. ie we can, when we need, have upgrades under SC, SP and SI

[2016-09-27 06:23] weralabaj commented on #1654
that's also an option

Another would be to have a separate menu item on the same level as NSB, SP, SC, SI.

[2016-09-27 07:17] weralabaj commented on #1917
@fangqifan since we don't have any Chinese speakers in the company so we won't be able to assist you, and as far as I know we don't have customers in that area, could you explain what you think is most important content to be translated?

Since translating everything will be a huge effort, as Simon noted above, maybe we could help you narrow down the most crucial pieces (in our opinion at least).

[2016-10-01 15:19] roycornelissen opened #1972 "Feedback: Topologies"
Page: /nservicebus/azure-service-bus/topologies/index.md

Found a spelling error in the diagram for ForwardingTopology: "Subscript**oi**n - Subscriber 1"

[2016-10-01 22:20] SimonCropp commented on #1972
thanks. good catch

[2016-10-01 22:20] #1972 closed

[2016-10-01 22:23] SimonCropp commented on #1719
@ramonsmits can u respond to the above?

[2016-10-03 14:56] ramonsmits commented on #1719
@timbussmann @danielmarbach @SimonCropp The idea here is to have an example where customer can easily transition from V5 to V6. In some environments it might not be easy to migrate to an exclusion model.

Take the assemblies EndpointX.dll, EndpointY.dll and EndpointZ.dll. Creating an endpoint for example with the name *EndpointX*, now the endpoint should only include EndpointX and not the others.

[2016-10-03 15:28] timbussmann commented on #1719
I don't know, afaik this capability has been removed intentionally. So giving a workaround to "reimplement" that behavior doesn't make much sense to me. If there is real value, that feature should be added again instead.

but your example sounds more like a deployment issue than an NSB concern to me. Why not use a proper deployment tool to deploy the DLLs you need instead?

[2016-10-03 20:26] indualagarsamy commented on #1472
@danielmarbach - I am closing this issue doco relating to WCF integration got merged.

[2016-10-03 20:26] #1472 closed

[2016-10-04 05:13] HEskandari opened #1981 "Need a license page for RavenDb persistence"
Some questions/cases are raised about this, which versions they are allowed to use, and to what extent. Seems we could have a license page under 'RavenDB Persistence' for people to refer to.

[2016-10-04 15:07] indualagarsamy commented on #1719
@Particular/nservicebus-maintainers @ramonsmits - any conclusions?

[2016-10-04 15:34] indualagarsamy commented on #1719
@SeanFeldman - Do you have any input on this since you were part of the API changes regarding assembly scanning. Can you weigh in? I agree with @timbussmann, i.e. we removed this intentionally, to provide documented workarounds seems to be in direct contradiction with the feature.

[2016-10-04 15:37] danielmarbach commented on #1719
What @timbussmann and @indualagarsamy said

[2016-10-04 15:57] indualagarsamy commented on #1719
@Particular/nservicebus-maintainers - can you weigh in on the conversion process outlined by @ramonsmits? For customers that previously used an include, now to exclude

Scanning for all files (*.dll)
Build a list of files that contain all types
Convert that to a set of assemblies
Create a set of assemblies / files to exclude by doing a LINQ Exclude to get all files not in use
Pass that to ExcludeA

[2016-10-04 17:06] ralbu opened #1995 "Feedback: Publishing from Web Applications"
Page: /nservicebus/hosting/publishing-from-web-applications.md

It's not clear what 'Subscription Manager Endpoint' should be. Does that mean that I need to have one endpoint with no handlers for 'Subscription Manager Endpoint' and another End Point for the Subscriber?

Is this setup what I should be aiming to?
1. WebApp with a DB persistence and Message Endpoint pointing to a Subscription Manager

[2016-10-04 18:23] SeanFeldman commented on #1719
@indualagarsamy inclusion list has caused quite a few issues. Rather than having back and forth on possible scenarios, I would suggest to document what those are and have a focused discussion. Threads spanning weeks/months lose their steam. It looks like @SimonCropp has basically outlined what [can be done](https://github.com/Particular/docs.particular.net/issues/1719#issuecomment-249097376). So i

[2016-10-05 12:19] timbussmann commented on #1719
I don't think so. As already stated, in most cases there are better approaches to solve the issue (e.g. deployment) before falling back to the mentioned workaround.

[2016-10-06 00:44] #1981 closed

[2016-10-06 09:54] danielmarbach opened #2002 "Documentation around bus.Dispose"
https://docs.particular.net/nservicebus/containers/#using-an-existing-container-cleanup

Should we now remove the note about diposing the bus? With the new container releases it is now safe to dispose the bus when you have an external container since the external container will not be disposed. Thoughts? @Particular/docs-maintainers @Particular/container-maintainers

[2016-10-06 10:37] SimonCropp commented on #2002
@danielmarbach agreed

[2016-10-06 10:38] SimonCropp commented on #1917
@fangqifan any thoughts on the above?

[2016-10-06 18:44] DavidBoike commented on #1995
Hi @ralbu,

The "subscription manager" endpoint could be a special endpoint with no handlers, or an endpoint that handles other stuff that you've designated to be the subscription manager for other events published by the web tier servers. The important thing is only that it shares the same subscription storage.

It's important to break up your messages a little bit and not put them all in an asse

[2016-10-07 10:15] SimonCropp commented on #1461
@weralabaj that PR was never blocking this. we need to do a full code search over all repos and document the various usages of it

[2016-10-07 11:38] danielmarbach commented on #932
Done in https://github.com/Particular/docs.particular.net/pull/1886
and #1928 Closing

[2016-10-07 11:38] #932 closed

[2016-10-07 18:47] indualagarsamy commented on #1719
@ramonsmits @timbussmann - can you get on a call to resolve this? cc / @SeanFeldman @Particular/nservicebus-maintainers

[2016-10-10 02:19] HEskandari commented on #1753
@andreasohlund Do you want me to take this off your plate? Can send you the PR to review.

[2016-10-10 02:32] HEskandari commented on #1684
@weralabaj Do you want me to pick this up (if you're not working on it)?

[2016-10-10 06:15] andreasohlund commented on #1753
That would be awesome, please do!

On Mon, Oct 10, 2016 at 4:19 AM, Hadi Eskandari <notifications@github.com>
wrote:

[2016-10-10 07:50] andreasohlund opened #2022 "Document why InsertBefore/After should be avoided"
After a [discussion in the core](https://github.com/Particular/NServiceBus/issues/3582#issuecomment-252553006) we came to the conclusion that InsertBefore/After should be avoided if possibly. We should document this for both users and our self.

Things that users can do:
- Merge behaviors if they own both
- Move one to a different stage if needed

Things that we would do internally: (not relevant

[2016-10-10 16:54] indualagarsamy commented on #1719
@ramonsmits @timbussmann - any conclusions on this? Atm, this is the one issue that's marked for V6 milestone that's currently still open. Can you fast-track this, because we've been discussing this async for over 3 weeks now, while the issue itself has been around since Jun 27.

[2016-10-10 22:34] SimonCropp commented on #1917
@fangqifan closing this for now. please feel free to contact me directly if you want to discuss in more detail (simon.cropp@particular.net)

[2016-10-10 22:34] #1917 closed

[2016-10-11 09:11] ramonsmits commented on #1719
@timbussmann Not sure what you mean by that. This is a scenario where all assemblies are deployed in a single folder. Seems like a valid approach when hosting multiple endpoints in a single process.

@Particular/docs-maintainers @Particular/nservicebus-maintainers I only raise it as guidance to have for customers that have such a solution and want to migrate to V6 without the need to come up with

[2016-10-11 09:13] mauroservienti opened #2031 "Document supported RavenDB replica topology"
we should clearly state which replica topology we support when using RavenDB as a persistence store for NServiceBus related data. We want to avoid users to fall into the pitfalls of master/master replica for example.

The question is: where is the best place to add this?

Subset of https://github.com/Particular/docs.particular.net/issues/787

/cc @Particular/ravendb-persistence-maintainers

[2016-10-11 17:36] DavidBoike opened #2035 "Scalability/HA article unfairly emphasizes Distributor"
https://docs.particular.net/nservicebus/scalability-and-ha/

The distributor is emphasized with a huge heading just because there's a subdirectory for it. The index.md file itself is just YAML so everything is generated based on walking the directory.

[2016-10-11 19:02] indualagarsamy opened #2036 "Create a MSMQ to ASB bridge guidance / sample"
We have a a MSMQ to Sql relay. We've been getting similar requests for MSMQ to Azure bridging.
Create adequate doco / sample to illustrate it:

Link to Google Group:
https://groups.google.com/forum/#!msg/particularsoftware/wk_3XOkxouk/yCQryfGrAAAJ

[2016-10-11 21:03] #1902 closed

[2016-10-12 03:13] #2002 closed

[2016-10-12 16:12] tyrotoxin opened #2039 "Feedback: Azure Cloud Services Host FAQ"
Page: [/nservicebus/hosting/cloud-services-host/faq.md
](/nservicebus/hosting/cloud-services-host/faq.md)
Question: Is there a way to do Dependency Injection while using ```NServiceBusRoleEntrypoint```?

[2016-10-12 22:00] SeanFeldman commented on #2039
pinging @Particular/azure-host-maintainers

[2016-10-14 14:08] SeanFeldman commented on #2039
This doco: https://docs.particular.net/nservicebus/hosting/cloud-services-host/

@tyrotoxin You can use `IConfigureThisEndpoint` to wire the container. Does that answer your question?

[2016-10-16 08:40] ralbu commented on #1995
Hi David,

Thanks, that makes sense. The Shared assembly was just to make my point but I do break messages.
The book is very helpful, thanks for that.

[2016-10-18 07:40] SimonCropp opened #2055 "The page 'Sequence Diagram' requires review"
The page [Sequence Diagram](https://docs.particular.net/serviceinsight/sequence-diagram/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/serviceinsight/sequence-diagram/index.md)

[2016-10-18 07:41] SimonCropp commented on #2055
ping @Particular/serviceinsight-maintainers

[2016-10-18 11:07] HEskandari commented on #2055
I thought @distantcam reviewed all the ServiceInsight pages.

Something that definitely needs to be added / highlighted is that endpoints times need to be in sync for the data to show correctly in this diagram in particular.

[2016-10-18 11:26] SimonCropp opened #2058 "The page 'Container Changes' requires review"
The page [Container Changes](https://docs.particular.net/nservicebus/upgrades/5to6/container) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/upgrades/5to6/container.md)

[2016-10-18 11:26] SimonCropp commented on #2058
ping @Particular/container-maintainers

[2016-10-18 11:27] SimonCropp opened #2059 "The page 'Installing RavenDB' requires review"
The page [Installing RavenDB](https://docs.particular.net/nservicebus/ravendb/installation) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/ravendb/installation.md)

[2016-10-18 11:27] SimonCropp commented on #2059
ping @Particular/ravendb-persistence-maintainers

[2016-10-18 11:27] SimonCropp opened #2060 "The page 'Scripting' requires review"
The page [Scripting](https://docs.particular.net/nservicebus/ravendb/operations-scripting) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/ravendb/operations-scripting.md)

[2016-10-18 11:27] SimonCropp commented on #2060
ping @Particular/ravendb-persistence-maintainers

[2016-10-18 11:27] SimonCropp opened #2061 "The page 'Uninstall RavenDB v2.0' requires review"
The page [Uninstall RavenDB v2.0](https://docs.particular.net/nservicebus/ravendb/uninstalling-v4) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/ravendb/uninstalling-v4.md)

[2016-10-18 11:27] SimonCropp commented on #2061
ping @Particular/ravendb-persistence-maintainers

[2016-10-18 11:28] SimonCropp opened #2062 "The page 'Azure Storage Queues Transport' requires review"
The page [Azure Storage Queues Transport](https://docs.particular.net/nservicebus/azure-storage-queues/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/azure-storage-queues/index.md)

[2016-10-18 11:28] SimonCropp commented on #2062
ping @Particular/azure-storage-queues-maintainers

[2016-10-18 11:28] SimonCropp opened #2063 "The page 'Azure Storage Queues Transport Configuration' requires review"
The page [Azure Storage Queues Transport Configuration](https://docs.particular.net/nservicebus/azure-storage-queues/configuration) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/azure-storage-queues/configuration.md)

[2016-10-18 11:28] SimonCropp commented on #2063
ping @Particular/azure-storage-queues-maintainers

[2016-10-18 11:28] SimonCropp opened #2064 "The page 'Frequently Asked Questions' requires review"
The page [Frequently Asked Questions](https://docs.particular.net/nservicebus/azure-storage-queues/faq) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/azure-storage-queues/faq.md)

[2016-10-18 11:28] SimonCropp commented on #2064
ping @Particular/azure-storage-queues-maintainers

[2016-10-18 11:29] SimonCropp opened #2065 "The page 'Startup Behavior' requires review"
The page [Startup Behavior](https://docs.particular.net/nservicebus/hosting/cloud-services-host/startup) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/cloud-services-host/startup.md)

[2016-10-18 11:30] SimonCropp commented on #2065
ping @azure-host-maintainers

[2016-10-18 11:30] SimonCropp opened #2066 "The page 'Logging' requires review"
The page [Logging](https://docs.particular.net/nservicebus/hosting/cloud-services-host/logging) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/cloud-services-host/logging.md)

[2016-10-18 11:30] SimonCropp commented on #2066
@Particular/azure-host-maintainers

[2016-10-18 11:30] SimonCropp opened #2067 "The page 'Azure Cloud Services Host FAQ' requires review"
The page [Azure Cloud Services Host FAQ](https://docs.particular.net/nservicebus/hosting/cloud-services-host/faq) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/cloud-services-host/faq.md)

[2016-10-18 11:30] SimonCropp commented on #2067
@Particular/azure-host-maintainers

[2016-10-18 11:30] SimonCropp opened #2068 "The page 'Critical Error Behavior' requires review"
The page [Critical Error Behavior](https://docs.particular.net/nservicebus/hosting/cloud-services-host/critical) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/cloud-services-host/critical.md)

[2016-10-18 11:30] SimonCropp commented on #2068
@Particular/azure-host-maintainers

[2016-10-18 11:30] SimonCropp opened #2069 "The page 'Hosting in Azure Cloud Services' requires review"
The page [Hosting in Azure Cloud Services](https://docs.particular.net/nservicebus/hosting/cloud-services-host/) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/cloud-services-host/index.md)

[2016-10-18 11:30] SimonCropp commented on #2069
@Particular/azure-host-maintainers

[2016-10-18 11:32] SimonCropp opened #2070 "The page 'NHibernate Persistence' requires review"
The page [NHibernate Persistence](https://docs.particular.net/nservicebus/nhibernate/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/nhibernate/index.md)

[2016-10-18 11:32] SimonCropp commented on #2070
@Particular/nhibernate-persistence-maintainers

[2016-10-18 11:32] SimonCropp opened #2071 "The page 'NHibernate Persistence Saga concurrency' requires review"
The page [NHibernate Persistence Saga concurrency](https://docs.particular.net/nservicebus/nhibernate/saga-concurrency) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/nhibernate/saga-concurrency.md)

[2016-10-18 11:32] SimonCropp commented on #2071
@Particular/nhibernate-persistence-maintainers

[2016-10-18 11:32] SimonCropp opened #2072 "The page 'SQL Azure' requires review"
The page [SQL Azure](https://docs.particular.net/nservicebus/nhibernate/sql-azure) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/nhibernate/sql-azure.md)

[2016-10-18 11:32] SimonCropp commented on #2072
@Particular/nhibernate-persistence-maintainers

[2016-10-18 11:35] SimonCropp opened #2073 "The page 'Configure delayed retries' requires review"
The page [Configure delayed retries](https://docs.particular.net/nservicebus/recoverability/configure-delayed-retries) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/recoverability/configure-delayed-retries.md)

[2016-10-18 11:35] SimonCropp commented on #2073
ping @Particular/nservicebus-maintainers

[2016-10-18 11:35] SimonCropp opened #2074 "The page 'Configure error handling' requires review"
The page [Configure error handling](https://docs.particular.net/nservicebus/recoverability/configure-error-handling) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/recoverability/configure-error-handling.md)

[2016-10-18 11:35] SimonCropp commented on #2074
ping @Particular/nservicebus-maintainers

[2016-10-18 11:35] SimonCropp opened #2075 "The page 'Configure immediate retries' requires review"
The page [Configure immediate retries](https://docs.particular.net/nservicebus/recoverability/configure-immediate-retries) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/recoverability/configure-immediate-retries.md)

[2016-10-18 11:35] SimonCropp commented on #2075
ping @Particular/nservicebus-maintainers

[2016-10-18 11:49] SimonCropp opened #2076 "The page 'Override host identifier' requires review"
The page [Override host identifier](https://docs.particular.net/nservicebus/hosting/override-hostid) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/override-hostid.md)

[2016-10-18 11:49] SimonCropp commented on #2076
ping @Particular/nservicebus-maintainers

[2016-10-18 11:50] SimonCropp opened #2077 "The page 'NServiceBus Host' requires review"
The page [NServiceBus Host](https://docs.particular.net/nservicebus/hosting/nservicebus-host/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/index.md)

[2016-10-18 11:50] SimonCropp commented on #2077
ping @Particular/nservicebus-maintainers

[2016-10-18 11:50] SimonCropp opened #2078 "The page 'Installation' requires review"
The page [Installation](https://docs.particular.net/nservicebus/hosting/nservicebus-host/installation) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/installation.md)

[2016-10-18 11:50] SimonCropp commented on #2078
ping @Particular/nservicebus-maintainers

[2016-10-18 11:50] SimonCropp opened #2079 "The page 'Logging' requires review"
The page [Logging](https://docs.particular.net/nservicebus/hosting/nservicebus-host/logging) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/logging.md)

[2016-10-18 11:50] SimonCropp commented on #2079
ping @Particular/nservicebus-maintainers

[2016-10-18 11:50] SimonCropp opened #2080 "The page 'More On Profiles' requires review"
The page [More On Profiles](https://docs.particular.net/nservicebus/hosting/nservicebus-host/more-on-profiles) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/more-on-profiles.md)

[2016-10-18 11:50] SimonCropp commented on #2080
ping @Particular/nservicebus-maintainers

[2016-10-18 11:50] SimonCropp opened #2081 "The page 'No Endpoint Configuration Found in Scanned Assemblies' requires review"
The page [No Endpoint Configuration Found in Scanned Assemblies](https://docs.particular.net/nservicebus/hosting/nservicebus-host/no-endpoint-configuration-found-in-scanned-assemblies-exception) has never been reviewed.
- [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
- [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/maste

[2016-10-18 11:50] SimonCropp commented on #2081
ping @Particular/nservicebus-maintainers

[2016-10-18 11:50] SimonCropp opened #2082 "The page 'NServiceBus 32-bit (x86) Host Process' requires review"
The page [NServiceBus 32-bit (x86) Host Process](https://docs.particular.net/nservicebus/hosting/nservicebus-host/nservicebus-32-bit-x86-host-process) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/ns

[2016-10-18 11:50] SimonCropp commented on #2082
ping @Particular/nservicebus-maintainers

[2016-10-18 11:50] SimonCropp opened #2083 "The page 'Profiles For NServiceBus Host' requires review"
The page [Profiles For NServiceBus Host](https://docs.particular.net/nservicebus/hosting/nservicebus-host/profiles) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/profiles.md)

[2016-10-18 11:50] SimonCropp commented on #2083
ping @Particular/nservicebus-maintainers

[2016-10-18 11:52] SimonCropp opened #2084 "The page 'Custom routing' requires review"
The page [Custom routing](https://docs.particular.net/samples/routing/custom/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/samples/routing/custom/sample.md)

[2016-10-18 11:53] SimonCropp commented on #2084
ping @SzymonPobiega

[2016-10-18 11:53] SimonCropp opened #2085 "The page 'Data distribution' requires review"
The page [Data distribution](https://docs.particular.net/samples/routing/data-distribution/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/samples/routing/data-distribution/sample.md)

[2016-10-18 11:53] SimonCropp commented on #2085
ping @SzymonPobiega

[2016-10-18 12:02] mauroservienti commented on #2061
done via https://github.com/Particular/docs.particular.net/commit/b6c023efd32aee9a716162309d2d0dcb0da9e25e

[2016-10-18 12:02] #2061 closed

[2016-10-18 12:05] #2060 closed

[2016-10-18 13:42] Scooletz commented on #2064
Let me handle it @SimonCropp

[2016-10-18 15:57] yvesgoeleven commented on #2067
@SimonCropp will take care of it

[2016-10-18 18:49] Scooletz commented on #1865
The PR has been closed.

[2016-10-18 18:49] #1865 closed

[2016-10-19 07:07] danielmarbach commented on #2058
@boblangley would you have capacity to do this? Assigned you in the meantime. Feel free to release it again.