[2016-10-19 07:15] danielmarbach commented on #2082
@ramonsmits would you be willing to help us out here? Assigned you in the meantime feel free to unassign yourself if you disagree.

[2016-10-19 07:16] danielmarbach commented on #2080
@ramonsmits would you be willing to help us out here? Assigned you in the meantime, feel free to unassign yourself if you disagree.

[2016-10-19 07:19] danielmarbach commented on #2074
Assigned it to me since I was part of the recoverability changes. @tmasternak would you find time to help me out

[2016-10-19 07:19] danielmarbach commented on #2075
Assigned it to me since I was part of the recoverability changes. @tmasternak would you find time to help me out

[2016-10-19 07:20] danielmarbach commented on #2076
Talked to @timbussmann and he is going to tackle this.

[2016-10-19 07:21] danielmarbach commented on #2078
Talked to @timbussmann and he is going to tackle this together with @dbelcham

[2016-10-19 07:23] danielmarbach commented on #2079
@bording can you review this? Assigned you in the meantime. Feel free to unassign yourself if you won't find time.

[2016-10-19 07:23] danielmarbach commented on #2081
@bording can you review this? Assigned you in the meantime. Feel free to unassign yourself if you won't find time.

[2016-10-19 07:24] danielmarbach commented on #2073
Assigned it to me and @tmasternak for now. @tmasternak can you help me out here?

[2016-10-19 07:25] danielmarbach commented on #2077
Talked to @timbussmann he is going to tackle this together with @dbelcham

[2016-10-19 07:26] danielmarbach commented on #2083
Talked to @timbussmann he is going to tackle this together with @dbelcham

[2016-10-19 07:43] #2055 closed

[2016-10-19 08:05] tmasternak commented on #2073
@danielmarbach sure I'll handle this. If in doubt I'll ping you.

[2016-10-19 11:13] Scooletz commented on #2062
I'm on it.

[2016-10-19 13:10] Scooletz commented on #2063
I'm on it.

[2016-10-19 13:16] SzymonPobiega commented on #2070
Addressed by https://github.com/Particular/docs.particular.net/pull/2092. Closing.

[2016-10-19 13:16] #2070 closed

[2016-10-19 13:16] SzymonPobiega commented on #2071
Addressed by https://github.com/Particular/docs.particular.net/pull/2092. Closing.

[2016-10-19 13:16] #2071 closed

[2016-10-19 13:32] Scooletz commented on #2063
Other @Particular/azure-storage-queues-maintainers ? It looks good :)

[2016-10-19 21:28] #1995 closed

[2016-10-20 09:36] #2062 closed

[2016-10-20 14:44] tmech opened #2102 "Feedback: Step by Step Guide - return Task.CompletedTask won't work in 4.5.2"
Page: /samples/step-by-step/sample.md

in OrderCreatedHandler.Handle()
The guide says to use
return Task.CompletedTask;

This won't compile in .NET 4.5.2.(which is the base requirement stated at the top of the guide)
It will work in .NET 4.6+

A working .NET 4.5.2 equivalent would be
return` Task.FromResult&lt;object&gt;(null);"

[2016-10-21 08:33] #2064 closed

[2016-10-21 08:33] Scooletz commented on #2063
Nothing to update @SimonCropp

[2016-10-21 09:37] SimonCropp commented on #2063
Did u set the reviewed header

[2016-10-21 09:41] Scooletz commented on #2063
No @SimonCropp as in the notes it's stated that

So I didn't.

[2016-10-21 09:51] SimonCropp commented on #2063
It still needs a date for the baseline

[2016-10-21 09:54] Scooletz commented on #2063
Let me put the header then. Should the notes be adjusted as well as they don't cover this scenario?

[2016-10-21 10:47] SimonCropp commented on #2063
The plan is to add it to all then the extra instructions r redundant

[2016-10-21 10:47] #2063 closed

[2016-10-22 19:02] #1753 closed

[2016-10-23 21:51] HEskandari commented on #2102
Thanks for your feedback, I'll update the guide.

[2016-10-24 05:41] #2075 closed

[2016-10-24 05:42] #2074 closed

[2016-10-24 14:19] ramonsmits commented on #1719
Another customer basically needing the 'include' model: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/particularsoftware/EK2ZJ-BTO8Q/PKhmrGK6AwAJ

[2016-10-24 14:29] danielmarbach commented on #1719
@ramonsmits you are turning the truth up side down ;) They don't need it. It is perfectly valid to do it the way I described in the google group

[2016-10-24 14:44] ramonsmits commented on #1719
@danielmarbach I don't agree, if you host 10 endpoints this way then you need to work around the exclusion model by excluding the other 9 folders instead of just included the files of 1 folder per endpoint.

[2016-10-24 15:34] SzymonPobiega commented on #1719
@danielmarbach I am here with @ramonsmits . Although ideally I would get rid of this whole scanning thing from the core. When I was preparing the [data distribution sample](https://docs.particular.net/samples/routing/data-distribution/) it was a pain in the neck to configure the two endpoints in a single process:

[code]

[2016-10-24 15:41] danielmarbach commented on #1719
When we moved to the Exclusion API only we agree that for a majority of our users it makes things simpler. If we now come to another conclusion, fine but then let's raise an issue and start discussing this independently. We are not moving anywhere with this if we continue to collaborate like we did here.

[2016-10-24 19:50] SimonCropp commented on #1719
I must be missing something... It would seem both the scenarios described here would be more complex with an include api

[2016-10-24 21:17] #2039 closed

[2016-10-24 21:19] SeanFeldman commented on #1255
Looks like we can close this "umbrella" issue.
In case individual issues are not addressed, they can be tackle independently by maintainers.

[2016-10-24 21:19] #1255 closed

[2016-10-24 21:22] SeanFeldman commented on #2068
closed by https://github.com/Particular/docs.particular.net/commit/009974b3f6d465eb26fcfca47a4d15f934b00bab

[2016-10-24 21:22] #2068 closed

[2016-10-24 21:58] tyrotoxin commented on #2039
Thanks, that answers the question, and the answer is no, because you cannot do real DI at the root of your app and cannot inject dependencies into the ```IConfigureThisEndpoint```.

[2016-10-24 23:17] #2078 closed

[2016-10-24 23:25] #2073 closed

[2016-10-24 23:26] SimonCropp commented on #2035
@DavidBoike what do u propose?

[2016-10-24 23:29] DavidBoike commented on #2035
Using suppressRelated would probably create a maintainability problem long term. What if we moved everything but index into subdirectories to force headings that had equal importance to distributor?

[2016-10-24 23:31] SimonCropp commented on #2035
Seems like a pretty big hack

Isnt the real problem here that the index.md has no content. if there was some real content there then the related links would not seem so important

[2016-10-24 23:44] #2102 closed

[2016-10-25 06:06] weralabaj commented on #2035
True. BTW could we move all the MSMQ-specific content under MSMQ Transport and then create some content in the index page that will link to it?

Seems that https://docs.particular.net/nservicebus/scalability-and-ha/scale-out could be moved to the index page, maybe with some additions?

[2016-10-25 08:17] yvesgoeleven commented on #2039
@tyrotoxin can you elaborate on the use case, which part used between the host startup and endpoint configuration do you want to inject?

[2016-10-25 15:14] matthewcanty opened #2115 "Feedback: Licensing"
Page: /nservicebus/licensing/index.md

I tried to edit it online but the editable Gtihub page was different to what I was seeing online.

This part is misleading:

32-bit ends in License but 64-bit ends in ParticularSoftware. I checked and they should match. Could you clean this up please to avoid confusion.

Thanks

[2016-10-25 16:58] tyrotoxin commented on #2039
The entry point of an Azure Cloud Service is a `WorkerRole : RoleEntryPoint` class. It has method ```OnStart()``` which is the "app root" - the place where an IoC container must be created. However, it's not possible to use that container to instantiate a `IConfigureThisEndpoint`, where creating a container inside `IConfigureThisEndpoint.Customize()` is incorrect because (1) it's not an "app root"

[2016-10-25 17:11] yvesgoeleven commented on #2039
@tyrotoxin I see what you want to do, in my opinion you would be better off not using the convenience roleentrypoint, but instead use the self hosting approach. This way you can configure the bus in any way you like for local dev/vs in the cloud. For the self hosting approach, refer to the web roles section: https://docs.particular.net/nservicebus/hosting/cloud-services-host/ you can use the same

[2016-10-26 06:19] #2115 closed

[2016-10-26 06:45] #2058 closed

[2016-10-26 07:32] gbiellem commented on #2115
Thanks @matthewcanty

[2016-10-26 07:44] SzymonPobiega commented on #2084
PR #2116 raised. Closing.

[2016-10-26 07:44] #2084 closed

[2016-10-26 07:44] SzymonPobiega commented on #2085
PR #2116 raised. Closing.

[2016-10-26 07:44] #2085 closed

[2016-10-26 09:42] weralabaj commented on #1733
@SzymonPobiega is that this one https://docs.particular.net/samples/routing/data-distribution/? can we close?

[2016-10-26 11:18] SzymonPobiega commented on #1733
@weralabaj that would be a bit different but since we already have a fair-distribution sample which includes a custom distribution strategy I think we can close it.

[2016-10-26 11:18] #1733 closed

[2016-10-26 15:39] tyrotoxin commented on #2039
Yeah, that's what we ended up with. Just was curious if it's already supported by this extension library. Thanks.

[2016-10-26 15:51] yvesgoeleven commented on #2039
@tyrotoxin probably not, there are so many hosting options in azure these days that we will guide users towards self hosting instead of this kind of convenience classes. Config has become a lot more straight forward over the years, so there is less and less need for classes like this.

[2016-10-27 23:00] johnsimons opened #2124 "Better document "Queue Schema" SqlServer connection string parameter"
As part of helping a user with https://github.com/Particular/ServiceControl/issues/820 I found quite hard to find doco for "Queue Schema", in a matter of fact the only reference to it is in https://docs.particular.net/nservicebus/sqlserver/connection-settings?version=SqlServer_2#connection-configuration-via-a-named-connection-string:
![image](https://cloud.githubusercontent.com/assets/122651/19788

[2016-10-28 04:44] #2077 closed

[2016-10-28 04:58] #2083 closed

[2016-10-28 05:06] SimonCropp commented on #2082
done in merged PR

[2016-10-28 05:06] #2082 closed

[2016-10-28 06:54] MarcinHoppe commented on #2124
@johnsimons I see it explicitly documented here for V2 of the transport:

https://docs.particular.net/nservicebus/sqlserver/connection-settings?version=SqlServer_2#custom-database-schemas

V3 has a different way of configuring it.

[2016-10-28 07:50] johnsimons commented on #2124
@MarcinHoppe I didn't see that and I guess neither the user.

[2016-10-28 07:50] #2124 closed

[2016-10-28 07:52] MarcinHoppe commented on #2124
@johnsimons That's likely because the V3 doco is now the default and ServiceControl is on V2.

[2016-10-28 09:26] SzymonPobiega opened #2127 "Add doco on Distributor APIs"
Document APIs such as:
- woker availability manager
- V6 `EnlistWithLegacyDistributor`
- Explain the capacity parameter and provide doco on possible prefetch counts https://github.com/Particular/docs.particular.net/pull/2126#discussion_r85498866

[2016-10-31 04:39] SimonCropp opened #2131 "Add eventstore doco"
Repo: https://github.com/SzymonPobiega/NServiceBus.EventStore

Topics to cover:
 * Configuring connection (including in-memory mode)
 * Outbox
 * Aggregates, Ports & Adapters
 * Accessing data in EventStore
 * Custom saga finders

[2016-10-31 04:40] SimonCropp opened #2132 "add NServiceBus.Serializers.SystemXml to doco"
https://github.com/ParticularLabs/NServiceBus.Serializers.SystemXml

since it is a labs projects perhaps it should sit under https://docs.particular.net/community-projects

 * [ ]  Sample
 * [ ] Doco

[2016-10-31 04:41] SimonCropp commented on #2132
ping @ramonsmits. r u working on this ?

[2016-10-31 04:41] SimonCropp commented on #2131
ping @SzymonPobiega

[2016-10-31 07:04] johnsimons opened #2133 "Enlisting with the distributor doco, defaults to PushRuntimeSettings.Default.MaxConcurrency"
@SzymonPobiega I was looking at https://docs.particular.net/samples/scaleout/distributor-upgrade/#upgrade-enlisting-with-the-distributor and I do not understand
![image](https://cloud.githubusercontent.com/assets/122651/19846503/956c9f50-9f8b-11e6-90b7-c34408c9accf.png)

I thought in previous versions that is the same as the main queue max concurrency which is set by the user.
And looking at `Push

[2016-10-31 20:45] SimonCropp opened #2137 "remove the Rhetorical questions in headers"
https://en.wikipedia.org/wiki/Wikipedia_talk:Manual_of_Style/Headings#Rhetorical_questions_in_headers

[2016-11-01 00:38] #2137 closed

[2016-11-01 01:02] SimonCropp opened #2138 "ravendb broke all v3 links"
[code]

[2016-11-01 01:04] SimonCropp commented on #2138
move over to the non version url instead `https://ravendb.net/docs/search/latest/csharp?searchTerm=`

[2016-11-01 01:04] SimonCropp commented on #2138
damn and now it works again

[2016-11-01 01:04] #2138 closed

[2016-11-01 04:59] SimonCropp opened #2139 "corrupted-counters class hint is incorrect"
https://docs.particular.net/nservicebus/operations/performance-counters#corrupted-counters

So `ReceivedPerformanceDiagnostics` doesnt seem to exist anymore. so i suspect the current doco is wrong.

[2016-11-01 04:59] SimonCropp commented on #2139
@Particular/nservicebus-maintainers @gbiellem anyone want to take this one?

[2016-11-01 06:08] andreasohlund commented on #2139
Pretty sure the v6 equivalent is https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Performance/Counters/PerformanceCounterHelper.cs#L29 ?

That said is giving the location adding enough value or should we just remove the location part?

[2016-11-01 06:16] SimonCropp commented on #2139
perhaps the error message would help more https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Performance/Counters/PerformanceCounterHelper.cs#L36

[2016-11-01 06:22] andreasohlund commented on #2139
I guess but in the cases where creating hangs forever you won't see it?

[2016-11-01 07:12] SimonCropp commented on #2139
@andreasohlund sorry yes u r correct

[2016-11-01 08:09] andreasohlund commented on #2139
Perhaps add the error and just mention that it can also "hang when trying to setup the counters" could be a good enough solution here?

[2016-11-01 11:01] janovesk commented on #2133
In **v5 and below**(not 6 as currently stated) it was set to **MaximumConcurrencyLevel**, which had a default of **1** if you did not set an explicit value.

So "The snippet above shows how to set it to the same value as in previous versions." is incorrect.

"The snippet above shows how to set it to the default **MaximumConcurrencyLevel** in version 6." would be more correct.

[2016-11-01 11:04] janovesk commented on #2133
The best recommendation here would be to set the capacity to whatever MaximumConcurrencyLevel you configure on the workers, no matter if you use the default or override it. That way you request as many messages from the distributors as you can process at the worker.

[2016-11-01 11:52] SimonCropp commented on #2067
fixed by PR

[2016-11-01 11:52] #2067 closed

[2016-11-01 11:53] SimonCropp commented on #2066
fixed by PR

[2016-11-01 11:53] #2066 closed

[2016-11-01 11:53] SimonCropp commented on #2069
fixed by PR

[2016-11-01 11:53] #2069 closed

[2016-11-01 11:55] SimonCropp commented on #2059
done

[2016-11-01 11:55] #2059 closed

[2016-11-01 11:57] SimonCropp commented on #2081
done

[2016-11-01 11:57] #2081 closed

[2016-11-01 11:58] SimonCropp commented on #2076
fixed in PR

[2016-11-01 11:58] #2076 closed

[2016-11-02 07:52] weralabaj commented on #2080
@ramonsmits @Particular/nservicebus-maintainers ping

[2016-11-02 09:02] ramonsmits commented on #2132
@SimonCropp Not on the doco, I tried to use it and it didn't work with the minimum .net framework version so I made a PR. I can make sample for it like demonstrating contract first message modeling?

So XSD -> code gen -> showing that serialization works? If you think that is a useful sample then assign me to this.

[2016-11-02 09:03] weralabaj commented on #2035
<img width="718" alt="capture" src="https://cloud.githubusercontent.com/assets/7335079/19922590/9a6541fc-a0e3-11e6-8932-d816d7e1d698.PNG">

@SimonCropp seems just adding text doesn't matter, still it's very prominent for sections. Should we modify the rendering template then?

[2016-11-02 09:05] SzymonPobiega commented on #2133
@janovesk @johnsimons how do you like the fix in https://github.com/Particular/docs.particular.net/pull/2144 ?

[2016-11-02 09:20] weralabaj commented on #2035
Alternative - merge if you like it: https://github.com/Particular/DocsEngine/pull/267

<img width="724" alt="new" src="https://cloud.githubusercontent.com/assets/7335079/19923070/ebca52a6-a0e5-11e6-8cf9-940e59fb2fcd.PNG">
<img width="894" alt="new new" src="https://cloud.githubusercontent.com/assets/7335079/19923077/eec4467e-a0e5-11e6-8aea-9e6deef8c26a.PNG">

[2016-11-02 09:34] #2035 closed

[2016-11-02 09:44] ramonsmits opened #2145 "Titles, headers, descriptions"
Currently when you search for example on 'performance' ( https://docs.particular.net/search?q=performance ) then you see this:

![image](https://cloud.githubusercontent.com/assets/152998/19923392/72e1d22c-a0e7-11e6-8047-17bb9879d415.png)

This is not really clear. The titles should contain more context. The bread crump trail is not readable and titles are not consistent.

There are 3 values:

- Ti

[2016-11-02 09:45] SimonCropp commented on #2035
fixed by @weralabaj

[2016-11-02 09:49] ramonsmits opened #2146 "Support hightlighting search keywords"
If you search for a keyword like 'performance' https://docs.particular.net/search?q=performance it would help if the destination page has these keywords highlighted. This means that the query attributes on the referrer url need to be used if present.

This makes it easier for the readers to find the content they are interested in.

[2016-11-02 09:50] SimonCropp commented on #2146
wrong repo ;)

[2016-11-02 09:51] #2133 closed

[2016-11-02 09:57] SimonCropp commented on #2145
wrong repo

[2016-11-02 09:58] ramonsmits opened #2148 "Improve search result layout/design"
## Current results layout

![image](https://cloud.githubusercontent.com/assets/152998/19923972/316c4d4c-a0ea-11e6-8ff2-d542f10fa82c.png)

## Suggestions

- Remove bullet list item indicator
- Remove text *Found results in multiple versions of package NServiceBus:*
- Slightly increase font size of description
- Remove 'Version', maybe replace it with package name instead
- Versions not as a bullet

[2016-11-02 10:31] weralabaj commented on #2146
Moved manually to https://github.com/Particular/DocsEngine/issues/268

[2016-11-02 10:31] #2146 closed

[2016-11-02 10:34] weralabaj commented on #2148
@ramonsmits wrong repo, moved to https://github.com/Particular/DocsEngine/issues/269

[2016-11-02 10:34] #2148 closed

[2016-11-02 12:36] andreasohlund commented on #2080
I'll do a first pass

[2016-11-02 12:49] andreasohlund commented on #2080
PR opened https://github.com/Particular/docs.particular.net/pull/2151

[2016-11-03 07:19] danielmarbach opened #2153 "Remove ASB samples which show injection of ReadonlySettings"
Currently, we have samples like

* [Custom partitioning strategy ](https://docs.particular.net/samples/azure/custom-partitioning-asb/#subscriber-creating-a-custom-partitioning-strategy)
* [Custom sanitization strategy ](https://docs.particular.net/nservicebus/azure-service-bus/sanitization)

which show how `ReadonlySettings` can be injected. Users should not be relying on `ReadonlySettings` being

[2016-11-03 07:19] danielmarbach commented on #2153
@Particular/azure-service-bus-maintainers please chime in

[2016-11-03 07:23] SimonCropp commented on #2153
@danielmarbach so @SeanFeldman and i had a conversation about this exact thing earlier today. he is  in the process of re-evaluating these scenarios to see if they should be promoted to real apis or removed

[2016-11-04 05:09] SeanFeldman commented on #2153
Will be done in v8.

[2016-11-04 09:21] #2065 closed

[2016-11-04 09:21] #2072 closed

[2016-11-04 12:33] SimonCropp opened #2156 "The page 'Configuration' requires a review"
The page [Configuration](https://docs.particular.net/nservicebus/azure-service-bus/configuration/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/azure-service-bus/configuration/index.md)

[2016-11-04 12:33] SimonCropp opened #2157 "The page 'Configuration' requires a review"
The page [Configuration](https://docs.particular.net/nservicebus/azure-storage-persistence/configuration) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/azure-storage-persistence/configuration.md)

[2016-11-04 12:33] SimonCropp opened #2158 "The page 'Using IBus in a Message Handler' requires a review"
The page [Using IBus in a Message Handler](https://docs.particular.net/nservicebus/containers/injecting-ibus) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/containers/injecting-ibus.md)

[2016-11-04 12:33] SimonCropp opened #2159 "The page 'Multi-Site Deployments' requires a review"
The page [Multi-Site Deployments](https://docs.particular.net/nservicebus/gateway/multi-site-deployments) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/gateway/multi-site-deployments.md)

[2016-11-04 12:33] SimonCropp opened #2160 "The page 'Troubleshooting' requires a review"
The page [Troubleshooting](https://docs.particular.net/nservicebus/gateway/troubleshooting) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/gateway/troubleshooting.md)

[2016-11-04 12:33] SimonCropp opened #2161 "The page 'Publishing from Web Applications' requires a review"
The page [Publishing from Web Applications](https://docs.particular.net/nservicebus/hosting/publishing-from-web-applications) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/publishing-from-web-applications.md)

[2016-11-04 12:33] SimonCropp opened #2162 "The page 'Logging Profiles' requires a review"
The page [Logging Profiles](https://docs.particular.net/nservicebus/hosting/nservicebus-host/logging-profiles) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/logging-profiles.md)

[2016-11-04 12:34] SimonCropp opened #2163 "The page 'Logging' requires a review"
The page [Logging](https://docs.particular.net/nservicebus/hosting/nservicebus-host/logging) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/logging.md)

[2016-11-04 12:34] SimonCropp opened #2164 "The page 'More On Profiles' requires a review"
The page [More On Profiles](https://docs.particular.net/nservicebus/hosting/nservicebus-host/more-on-profiles) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/hosting/nservicebus-host/more-on-profiles.md)

[2016-11-04 12:34] SimonCropp opened #2165 "The page 'Interface life-cycles' requires a review"
The page [Interface life-cycles](https://docs.particular.net/nservicebus/lifecycle/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/lifecycle/index.md)

[2016-11-04 12:34] SimonCropp opened #2166 "The page 'Messaging' requires a review"
The page [Messaging](https://docs.particular.net/nservicebus/messaging/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/index.md)

Update page content to provide an introduction to messaging.

[2016-11-04 12:34] SimonCropp opened #2167 "The page 'Enforcement of best practices' requires a review"
The page [Enforcement of best practices](https://docs.particular.net/nservicebus/messaging/best-practice-enforcement) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/best-practice-enforcement.md)

[2016-11-04 12:34] SimonCropp opened #2168 "The page 'Discarding Old Messages' requires a review"
The page [Discarding Old Messages](https://docs.particular.net/nservicebus/messaging/discard-old-messages) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/discard-old-messages.md)

[2016-11-04 12:34] SimonCropp opened #2169 "The page 'Message forwarding' requires a review"
The page [Message forwarding](https://docs.particular.net/nservicebus/messaging/forwarding) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/forwarding.md)

[2016-11-04 12:34] SimonCropp opened #2170 "The page 'Messages as Interfaces' requires a review"
The page [Messages as Interfaces](https://docs.particular.net/nservicebus/messaging/messages-as-interfaces) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/messages-as-interfaces.md)

[2016-11-04 12:34] SimonCropp opened #2171 "The page 'Messages, Events and Commands' requires a review"
The page [Messages, Events and Commands](https://docs.particular.net/nservicebus/messaging/messages-events-commands) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/messages-events-commands.md)

[2016-11-04 12:34] SimonCropp opened #2172 "The page 'Non-Durable Messaging' requires a review"
The page [Non-Durable Messaging](https://docs.particular.net/nservicebus/messaging/non-durable-messaging) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/non-durable-messaging.md)

[2016-11-04 12:34] SimonCropp opened #2173 "The page 'Replying to a Message' requires a review"
The page [Replying to a Message](https://docs.particular.net/nservicebus/messaging/reply-to-a-message) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/reply-to-a-message.md)

[2016-11-04 12:34] SimonCropp opened #2174 "The page 'Third Party Integration' requires a review"
The page [Third Party Integration](https://docs.particular.net/nservicebus/messaging/third-party-integration) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/third-party-integration.md)

## PoA
- [x] Clean up grammar

[2016-11-04 12:34] SimonCropp opened #2175 "The page 'Custom DataBus implementation' requires a review"
The page [Custom DataBus implementation](https://docs.particular.net/nservicebus/messaging/databus/custom) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/databus/custom.md)

[2016-11-04 12:34] SimonCropp opened #2176 "The page 'Controlling what is subscribed' requires a review"
The page [Controlling what is subscribed](https://docs.particular.net/nservicebus/messaging/publish-subscribe/controlling-what-is-subscribed) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/publish-subscribe/controll

[2016-11-04 12:34] SimonCropp opened #2177 "The page 'Publish and Handle an Event' requires a review"
The page [Publish and Handle an Event](https://docs.particular.net/nservicebus/messaging/publish-subscribe/publish-handle-event) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/publish-subscribe/publish-handle-event.

[2016-11-04 12:34] SimonCropp opened #2178 "The page 'MSMQ Transport Fully Qualified Domain Names' requires a review"
The page [MSMQ Transport Fully Qualified Domain Names](https://docs.particular.net/nservicebus/msmq/full-qualified-domain-name) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/msmq/full-qualified-domain-name.md)

[2016-11-04 12:34] SimonCropp opened #2179 "The page 'MSMQ Subscription Authorization' requires a review"
The page [MSMQ Subscription Authorization](https://docs.particular.net/nservicebus/msmq/subscription-authorisation) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/msmq/subscription-authorisation.md)

[2016-11-04 12:34] SimonCropp opened #2180 "The page 'Operations' requires a review"
The page [Operations](https://docs.particular.net/nservicebus/operations/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/operations/index.md)

[2016-11-04 12:34] SimonCropp opened #2181 "The page 'Tuning endpoint message processing' requires a review"
The page [Tuning endpoint message processing](https://docs.particular.net/nservicebus/operations/tuning) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/operations/tuning.md)

[2016-11-04 12:34] SimonCropp opened #2182 "The page 'Authoring a custom persistence' requires a review"
The page [Authoring a custom persistence](https://docs.particular.net/nservicebus/persistence/authoring-custom) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/persistence/authoring-custom.md)

[2016-11-04 12:34] SimonCropp opened #2183 "The page 'Message Handling Pipeline' requires a review"
The page [Message Handling Pipeline](https://docs.particular.net/nservicebus/pipeline/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/pipeline/index.md)

[2016-11-04 12:34] SimonCropp opened #2184 "The page 'Exception Caveats' requires a review"
The page [Exception Caveats](https://docs.particular.net/nservicebus/recoverability/exception-caveats) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/recoverability/exception-caveats.md)

[2016-11-04 12:34] SimonCropp opened #2185 "The page 'Scalability and HA' requires a review"
The page [Scalability and HA](https://docs.particular.net/nservicebus/scalability-and-ha/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scalability-and-ha/index.md)

[2016-11-04 12:34] SimonCropp opened #2186 "The page 'Deploying in a Windows Failover Cluster' requires a review"
The page [Deploying in a Windows Failover Cluster](https://docs.particular.net/nservicebus/scalability-and-ha/deploying-to-a-windows-failover-cluster) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scalability-and-ha/deployin

[2016-11-04 12:35] SimonCropp opened #2187 "The page 'Load Balancing with the Distributor' requires a review"
The page [Load Balancing with the Distributor](https://docs.particular.net/nservicebus/scalability-and-ha/distributor/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scalability-and-ha/distributor/index.md)

### Plan of atta

[2016-11-04 12:35] SimonCropp opened #2188 "The page 'Disconnect Workers' requires a review"
The page [Disconnect Workers](https://docs.particular.net/nservicebus/scalability-and-ha/distributor/disconnect-workers) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scalability-and-ha/distributor/disconnect-workers.md)

[2016-11-04 12:35] SimonCropp opened #2189 "The page 'Licensing limitations' requires a review"
The page [Licensing limitations](https://docs.particular.net/nservicebus/scalability-and-ha/distributor/licensing) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scalability-and-ha/distributor/licensing.md)

[2016-11-04 12:35] SimonCropp opened #2190 "The page 'Distributor and Publish-Subscribe' requires a review"
The page [Distributor and Publish-Subscribe](https://docs.particular.net/nservicebus/scalability-and-ha/distributor/publish-subscribe) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scalability-and-ha/distributor/publish-subs

[2016-11-04 12:35] SimonCropp opened #2191 "The page 'What happens when a worker goes down' requires a review"
The page [What happens when a worker goes down](https://docs.particular.net/nservicebus/scalability-and-ha/distributor/when-worker-goes-down) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scalability-and-ha/distributor/when-

[2016-11-04 12:35] SimonCropp opened #2192 "The page 'Scheduling' requires a review"
The page [Scheduling](https://docs.particular.net/nservicebus/scheduling/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/scheduling/index.md)

[2016-11-04 12:35] SimonCropp opened #2193 "The page 'Security' requires a review"
The page [Security](https://docs.particular.net/nservicebus/security/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/security/index.md)

[2016-11-04 12:35] SimonCropp opened #2194 "The page 'Encryption' requires a review"
The page [Encryption](https://docs.particular.net/nservicebus/security/encryption) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/security/encryption.md)

[2016-11-04 12:35] SimonCropp opened #2195 "The page 'Generating secure random strong encryption keys' requires a review"
The page [Generating secure random strong encryption keys](https://docs.particular.net/nservicebus/security/generating-encryption-keys) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/security/generating-encryption-keys.md)

[2016-11-04 12:35] SimonCropp opened #2196 "The page 'Upgrade Version 3 to 4' requires a review"
The page [Upgrade Version 3 to 4](https://docs.particular.net/nservicebus/upgrades/3to4) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/upgrades/3to4.md)

[2016-11-04 12:35] SimonCropp opened #2197 "The page 'Moving to NServiceBus.DataBus.AzureBlobStorage package' requires a review"
The page [Moving to NServiceBus.DataBus.AzureBlobStorage package](https://docs.particular.net/nservicebus/upgrades/absdatabus-6to1) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/upgrades/absdatabus-6to1.md)

[2016-11-04 12:35] SimonCropp opened #2198 "The page 'Azure Cloud Services Host Upgrade Version 6 to 7' requires a review"
The page [Azure Cloud Services Host Upgrade Version 6 to 7](https://docs.particular.net/nservicebus/upgrades/acs-host-6to7) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/upgrades/acs-host-6to7.md)

[2016-11-04 12:35] SimonCropp opened #2199 "The page 'Gateway Upgrade Version 1 to 2' requires a review"
The page [Gateway Upgrade Version 1 to 2](https://docs.particular.net/nservicebus/upgrades/gateway-1to2) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/upgrades/gateway-1to2.md)

[2016-11-04 12:35] SimonCropp opened #2200 "The page 'Exposing Endpoints via WCF' requires a review"
The page [Exposing Endpoints via WCF](https://docs.particular.net/nservicebus/wcf/) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/nservicebus/wcf/index.md)

[2016-11-04 12:35] SimonCropp opened #2201 "The page 'How to contribute' requires a review"
The page [How to contribute](https://docs.particular.net/platform/contributing) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/platform/contributing.md)

[2016-11-04 12:35] SimonCropp opened #2202 "The page 'Platform Releases' requires a review"
The page [Platform Releases](https://docs.particular.net/platform/release-notes) has never been reviewed.

 * [Page review instructions](https://github.com/Particular/docs.particular.net#reviewing-a-page)
 * [Location in GitHub](https://github.com/Particular/docs.particular.net/blob/master/platform/release-notes.md)

[2016-11-04 23:01] #2079 closed

[2016-11-05 01:43] SimonCropp commented on #2202
@andreasohlund can u give this page a once over and mark it as reviewed?

[2016-11-05 01:45] SimonCropp commented on #2201
@Particular/platform-dev-squad i think this page could do with a better guidance on how to contribute to particular pages. @adamralph given your background this might be something u could add value to?

also should out repo README.txt s link to this?

[2016-11-05 01:46] SimonCropp commented on #2200
@ramonsmits @danielmarbach both of u have WCF experience. can u give this a once over and mark it as reviewed. TBH i think it is pretty good as is but a second pare of eyes would be good

[2016-11-05 01:47] SimonCropp commented on #2199
@janovesk do i remember correctly u have some gateway experience? could u give this a once over and mark it as reviewed?

[2016-11-05 01:48] SimonCropp commented on #2198
@Particular/azure-host-maintainers given this page was only created recently i think the content is pretty good. can u give it a once over and mark it as reviewed?

[2016-11-05 01:50] SimonCropp commented on #2191
done https://github.com/Particular/docs.particular.net/commit/4a20149b7b261fa5eec9e2df8dcfe0f03fd53ed7

[2016-11-05 01:50] #2191 closed

[2016-11-05 01:56] SimonCropp commented on #2156
@Particular/azure-service-bus-maintainers can u have a look at this one

[2016-11-05 01:56] SimonCropp commented on #2157
@Particular/azure-storage-persistence-maintainers can u have a look at this one

[2016-11-05 02:00] SimonCropp commented on #2158
@Particular/nservicebus-maintainers what should we do with this one?

[2016-11-05 02:01] SimonCropp commented on #2161
@DavidBoike do i remember correctly u wrote this page? can u give it a once over and mark it as reviewed?

[2016-11-05 02:07] SimonCropp commented on #2162
@Particular/host-maintainers can u give this a review? i think it should be version split with partials for the text. let me know if u need help with the content or the split

[2016-11-05 02:07] SimonCropp commented on #2163
already done

[2016-11-05 02:07] #2163 closed

[2016-11-05 02:08] SimonCropp commented on #2164
@Particular/host-maintainers can u give this a once over?

[2016-11-05 02:09] SimonCropp commented on #2165
@mikeminutillo give u helped with the interface doco split. can u write some landing text for that page and mark it as reviewed?

[2016-11-05 02:10] SimonCropp commented on #2167
fixed https://github.com/Particular/docs.particular.net/commit/acf82e1f81d6880f5a732522be32a48c25ffb5bc

[2016-11-05 02:10] #2167 closed

[2016-11-05 02:12] SimonCropp commented on #2197
done https://github.com/Particular/docs.particular.net/commit/b93cae14fc45dc6a278d97578920154db315d53c

[2016-11-05 02:12] #2197 closed

[2016-11-05 02:16] SimonCropp commented on #2193
@MarcinHoppe thanks. some related stuff

 - https://github.com/Particular/docs.particular.net/issues/1684
 - and possibly chat to @ramonsmits about this since he prob has the most experience with the encryption feature in the core

[2016-11-05 02:17] SimonCropp commented on #2194
@MarcinHoppe thanks. also have a chat to @ramonsmits about this

[2016-11-05 02:18] SimonCropp commented on #2189
@janovesk @SzymonPobiega @andreasohlund i think given the current state of the distributor, and the fact that if we version split this page it is effectively one line, we should just merge the content into the main distributor. thoughts?

[2016-11-05 02:19] SimonCropp commented on #2192
@johnsimons give u wrote of of, and have worked on, this feature can u give this a once over and mark it as reviewed?

[2016-11-05 02:24] SimonCropp commented on #2182
@Particular/nservicebus-maintainers @Particular/azure-storage-persistence-maintainers @Particular/nhibernate-persistence-maintainers  @Particular/ravendb-persistence-maintainers

thoughts on what we should do here?

 - this page has not been updated to v6
 - IMHO the content says a lot without really helping in any significant way
 - i think this is one of those pages that we should not support ol

[2016-11-05 02:26] SimonCropp commented on #2184
done https://github.com/Particular/docs.particular.net/commit/534a64c5a96f37798da41ecde6ec4e7451d488d1

[2016-11-05 02:26] #2184 closed

[2016-11-05 02:27] SimonCropp commented on #2179
done https://github.com/Particular/docs.particular.net/commit/8457a9e9e7b95538de8e9cfd2e8074a78e0d0625

[2016-11-05 02:27] #2179 closed

[2016-11-05 02:29] SimonCropp commented on #2176
@Particular/nservicebus-maintainers can u handle this one

[2016-11-05 02:30] SimonCropp commented on #2178
@janovesk @SzymonPobiega can one of u give this a once over and mark it as reviewed?

[2016-11-05 02:31] SimonCropp commented on #2183
done https://github.com/Particular/docs.particular.net/commit/ac49182c7d2845149defeb4a8a5ac9e5da29c1a1

[2016-11-05 02:31] #2183 closed

[2016-11-05 02:35] SimonCropp commented on #2188
done https://github.com/Particular/docs.particular.net/commit/5d589e24d901d01c010a8859a1264ee02dd7e88e

[2016-11-05 02:35] #2188 closed

[2016-11-05 02:36] SimonCropp commented on #2181
@Particular/nservicebus-maintainers i think this one should be version split. who is the best person to work on that?

[2016-11-05 02:36] SimonCropp commented on #2195
@MarcinHoppe thanks. ping @ramonsmits since i think u wrote much of that content

[2016-11-05 02:42] SimonCropp commented on #2160
done

[2016-11-05 02:42] #2160 closed

[2016-11-05 02:42] SimonCropp commented on #2159
@Particular/nservicebus-maintainers who is the best person to give this a review?

[2016-11-05 02:47] SimonCropp commented on #2168
transport maintainers: can u please sign off (or fix) your sub sections in this document

 - [ ] MSMQ @Particular/nservicebus-maintainers  https://docs.particular.net/nservicebus/messaging/discard-old-messages#caveats-msmq-transport
 - [ ] SQL @Particular/sqlserver-transport-maintainers https://docs.particular.net/nservicebus/messaging/discard-old-messages#caveats-sql-transport
 - [ ] Azure @Parti

[2016-11-05 02:49] SimonCropp commented on #2166
@Particular/engineers  does anyone want to volunteer to write some intro content about messaging to go here?

[2016-11-05 02:49] SimonCropp commented on #2169
@indualagarsamy give your history with audit/forward can u review this ?

[2016-11-05 02:55] SimonCropp commented on #2186
so this page is problematic for a few reasons

 - refers to NSB host without and mention of self hosting
 - it is confusing if the content is specific to the Distributor  or not.
 - for the content that does talk about the Distributor how would that work with the new routing
 - talks about win server 2008. does 2016 or 2008r2 change any of this. are the screen shots still correct?

@SzymonPobiega

[2016-11-05 02:57] SimonCropp commented on #2173
@Particular/nservicebus-maintainers the various versions of this page look pretty good. but can u give it a once over and mark it as reviewed

[2016-11-05 02:58] SimonCropp commented on #2175
@Particular/nservicebus-maintainers thoughts on changing this to a working sample?

[2016-11-05 03:00] SimonCropp commented on #2172
transport maintainer: can u review and mark of the various part of this

 - [ ] SQL @Particular/sqlserver-transport-maintainers https://docs.particular.net/nservicebus/messaging/non-durable-messaging#effect-on-transports-sql-server
 - [ ] MSMQ @Particular/nservicebus-maintainers https://docs.particular.net/nservicebus/messaging/non-durable-messaging#effect-on-transports-msmq
 - [ ] Azure @Particul

[2016-11-05 03:02] SimonCropp commented on #2185
@janovesk @ramonsmits @SzymonPobiega seems one (or many) of you should have the history to write some intro content for this page?

[2016-11-05 03:03] SimonCropp opened #2206 "Distributor status include"
@SzymonPobiega given the current state of the distributor do u think we should put an include at the top of all the distributor pages?

[2016-11-05 03:03] SimonCropp commented on #2190
@SzymonPobiega can u review this?

[2016-11-05 03:04] SimonCropp commented on #2186
in the above context can u also have a look at this issue  https://github.com/Particular/docs.particular.net/issues/2187  ?

[2016-11-05 03:14] SimonCropp commented on #2174
@Particular/nservicebus-maintainers what should we do with this page?

cc @Particular/sqlserver-transport-maintainers @Particular/azure-service-bus-maintainers @Particular/azure-storage-queues-maintainers @Particular/rabbitmq-transport-maintainers

[2016-11-05 04:37] SeanFeldman commented on #2174
It's a nice consolidated information that each transport would reference from specific samples. Currently, it only references RabbitMQ and SQL Server though.

[2016-11-05 04:39] SeanFeldman commented on #2172
Updated for ASB & ASQ - info is correct

[2016-11-05 04:42] SeanFeldman commented on #2168
For ASB & ASQ info is correct.

[2016-11-05 04:43] SeanFeldman commented on #2156
This page will require review as we're going to clean up the public API. Please hold off on this till nsb.asb 7.1.0

[2016-11-05 04:44] SimonCropp commented on #2172
@SeanFeldman thanks. And the error/throw question I had?

[2016-11-05 04:44] SimonCropp commented on #2156
Ok. Sounds good

[2016-11-05 04:45] SeanFeldman commented on #2172
@SimonCropp throwing probably not, logging an error sounds like a good idea, 👍

[2016-11-05 04:47] SimonCropp commented on #2172
@SeanFeldman want me to raise an issue?

[2016-11-05 04:48] SeanFeldman commented on #2172
@SimonCropp https://github.com/Particular/NServiceBus.AzureServiceBus/issues/416

[2016-11-05 04:51] SimonCropp commented on #2172
@SeanFeldman same case for storage queues?

[2016-11-05 04:53] SeanFeldman commented on #2172
Would make sense. Could you please raise it @SimonCropp ? (need to sign off 😃)

[2016-11-05 08:47] andreasohlund commented on #2182
Should we also consider splitting this into a sample per storage type? (Since the current trend is to push pub/sub, timeouts etc into the transports users are less likely to implement all of the storages)

[2016-11-05 09:48] andreasohlund commented on #2172
We recently debated this in the core

https://github.com/Particular/NServiceBus/issues/4162

and the action point decided was to

[Move support for Express/NonDurable messages down to the transport level](https://github.com/Particular/NServiceBus/issues/4252)

Is there still value to update ASB/ASQ in the interim?

[2016-11-05 12:31] WojcikMike commented on #2168
@bording @adamralph I read the rabbit part and it seems correct. But I will allow a second pair of eyes to read it before we tick the box

[2016-11-05 19:12] SeanFeldman commented on #2172
@andreasohlund for ASB we'd need to investigate how big of a benefit that would be. See https://github.com/Particular/NServiceBus/issues/4252#issuecomment-258634202 for details.

[2016-11-06 23:46] johnsimons commented on #2192
Done, PR sent

[2016-11-07 06:25] SimonCropp commented on #2170
there are a few problems with this page

There are disadvantages of in

 * using the delegate interface API for publish publish negatively effects readability
 * not all serializers support interfaces as messages
 * uses more memory and CPU due to initial proxy generation (possibly negligible)
 * can make it harder to debug since if a bad exception occurs in some places the fact that u have a prox

[2016-11-07 06:28] SimonCropp commented on #2170
also i dont think XSD is at all relevant to this page

[2016-11-07 06:30] #2196 closed

[2016-11-07 06:50] mikeminutillo commented on #2165
Do the other pages need review or just the index? I've created a [PR](https://github.com/Particular/docs.particular.net/pull/2209) to try and put some content there.

[2016-11-07 06:57] SimonCropp commented on #2165
as part of this issue just the index

[2016-11-07 07:36] tmasternak commented on #2168
Looks good for SQL.

[2016-11-07 08:19] #2165 closed

[2016-11-07 08:19] weralabaj commented on #2165
Fixed in https://github.com/Particular/docs.particular.net/pull/2209

[2016-11-07 08:38] andreasohlund commented on #2168
MSMQ needs a few changes, will raise a PR

[2016-11-07 08:51] SzymonPobiega commented on #2185
@SimonCropp I think we should 🔥 this section entirely and move the content under the transports (mostly MSMQ). I think it would be also beneficial to add a small "Scaling out" page under "Transports" that would contain links to transport-specific scaling pages and describe the logical difference between scaling on a bus and on a broker transports.

[2016-11-07 08:52] SimonCropp commented on #2185
@SzymonPobiega I am ok with that. Do u have capacity to handle that?

[2016-11-07 08:52] SzymonPobiega commented on #2185
@SimonCropp yes. Let me try.

[2016-11-07 09:08] MarcinHoppe commented on #2168
@tmasternak This is no longer true for V6 SQL transport. We only peek and receive non-expired messages and no longer look at the TTBR value in the message pump. I'll submit a PR to clarify this in different versions.

[2016-11-07 09:36] MarcinHoppe opened #2210 "NServiceBus 6.1 mentioned on a doco page"
This doco page here:

https://docs.particular.net/nservicebus/messaging/discard-old-messages

mentions NServiceBus 6.1.

@Particular/nservicebus-maintainers Is this a mistake or a feature from the future documented right now?

[2016-11-07 10:30] Scooletz commented on #2157
I'm on it.

[2016-11-07 10:40] timbussmann commented on #2158
there doesn't seem to be any information which isn't already here: https://docs.particular.net/nservicebus/messaging/send-a-message?version=Core_5#inside-the-incoming-message-processing-pipeline ?

[2016-11-07 10:41] timbussmann commented on #2176
I'll take this.

[2016-11-07 10:43] SimonCropp commented on #2158
@timbussmann happy to burn it from my perspective

[2016-11-07 10:44] timbussmann commented on #2181
@janovesk could you have a look at this? Feel free to unassign if you can't take this.

[2016-11-07 10:44] #2202 closed

[2016-11-07 10:57] timbussmann commented on #2175
sounds like a good idea to me 👍

[2016-11-07 11:03] timbussmann commented on #2210
@MarcinHoppe it is a feature documented right now. See here: https://github.com/Particular/NServiceBus/issues/4163

[2016-11-07 11:06] timbussmann commented on #2158
happy to do that 🔥

[2016-11-07 11:44] SzymonPobiega commented on #2185
Here's a PR addressing this: https://github.com/Particular/docs.particular.net/pull/2212

[2016-11-07 11:44] SzymonPobiega commented on #2189
This PR attempts to address this issue too: https://github.com/Particular/docs.particular.net/pull/2212

[2016-11-07 12:12] MarcinHoppe commented on #2210
This looks odd to me as a doco reader. I'm reading about a feature on the official site (released) about a feature that is not available in any way (not even on MyGet, the 6.1 milestone has quite a few items open).

@Particular/docs-maintainers Do you have an opinion?

[2016-11-07 12:16] SzymonPobiega commented on #2206
@SimonCropp I don't think this is necessary. At least not before we have a more complete solution that covers decommissioning of endpoint instances and flow control. Only then we can say "don't use distributor" without any footnotes

[2016-11-07 13:28] SzymonPobiega commented on #2186
https://github.com/Particular/docs.particular.net/pull/2212 moves that content under msmq directly (not under distributor) because I can imagine a situation where a HA clustered queue is used for a non scaled-out endpoint.

Regarding the actual content, I don't have enough expertise to review/change it :-(

[2016-11-07 14:32] ramonsmits commented on #2186
@SimonCropp Just before the weekend I started rebuilding my lab to Windows Server 2016. If I finish that probably this or next week that I'll know if clustering has any changes.I'll assign myself to verify this.

[2016-11-07 15:32] weralabaj commented on #2186
from @ramonsmits on another issue

[2016-11-07 16:47] WojcikMike commented on #2172
@Particular/rabbitmq-transport-maintainers I think we need to update Rabbit section as currently using non-durable messaging will result in removing queues and exchanges after broker restart which should be included in the description. Or we should implement https://github.com/Particular/NServiceBus.RabbitMQ/issues/167

[2016-11-07 17:41] danielmarbach commented on #2200
See https://github.com/Particular/docs.particular.net/pull/2217

[2016-11-07 19:35] SimonCropp commented on #2206
Ok

[2016-11-07 19:35] #2206 closed

[2016-11-07 19:49] andreasohlund commented on #2172
PR raised to clarify msmq section https://github.com/Particular/docs.particular.net/pull/2218

[2016-11-07 20:31] bording commented on #2168
@WojcikMike The content looks fine to me as well, but I did push up #2219 to make a couple grammar tweaks.

[2016-11-07 21:21] bording commented on #2172
@WojcikMike The RabbitMQ section needs some updates in general, because the behavior being described there is no longer correct for 4.x versions of the transport, since we've decoupled publisher confirms from message durability.

[2016-11-07 22:08] #2200 closed

[2016-11-07 22:30] bording commented on #2172
PR opened to update the RabbitMQ section: #2220

[2016-11-08 01:57] SimonCropp commented on #2172
@bording i ticked off the rabbit parts on your behalf. thanks

[2016-11-08 02:05] #2172 closed

[2016-11-08 02:05] SimonCropp commented on #2172
thanks everyone. Team effort FTW

[2016-11-08 02:09] SimonCropp commented on #2158
@timbussmann thanks

[2016-11-08 02:09] #2158 closed

[2016-11-08 11:18] andreasohlund commented on #2170
I've created a generic sample

https://github.com/Particular/docs.particular.net/tree/multi-inheritance-messages/samples/multiple-inheritance

The sample works as expected using XmlSerialization, using JSON it blows up with

[code]

Before pursing this I want to review the sample with @udidahan in order to rename things to match some possible business use case.

Stay tuned

[2016-11-08 11:41] SzymonPobiega commented on #2190
Will be addressed by https://github.com/Particular/docs.particular.net/pull/2222. Closing.

[2016-11-08 11:41] #2190 closed

[2016-11-08 14:57] boblangley commented on #2166
I have some bandwidth to work on this.

[2016-11-09 00:15] SimonCropp commented on #1460
@SeanFeldman @yvesgoeleven is there any reason to keep this open?

[2016-11-09 00:18] SeanFeldman commented on #1460
👍 @SimonCropp

[2016-11-09 00:18] #1460 closed

[2016-11-09 00:20] SimonCropp commented on #2132
@ramonsmits i think initially a doco page under this dir https://docs.particular.net/nservicebus/serialization/    and a sample similar to this https://docs.particular.net/samples/serializers/xml/ would be sufficient

[2016-11-09 00:24] SimonCropp commented on #2131
@SzymonPobiega i think this is "done enough" we will evolve it going forward

for reference https://docs.particular.net/nservicebus/eventstoretransport/

[2016-11-09 00:24] #2131 closed

[2016-11-09 00:25] SimonCropp commented on #1462
related https://github.com/Particular/docs.particular.net/issues/1402

[2016-11-09 00:25] #1402 closed

[2016-11-09 00:27] SimonCropp commented on #1462
@dvdstelt since u did this https://github.com/Particular/docs.particular.net/pull/1335  do u want to have a go at applying it to the sample?

[2016-11-09 02:07] MeTitus opened #2224 "Feedback: Moving away from IBus in Version 6"
Page: /nservicebus/upgrades/5to6/moving-away-from-ibus.md

Should this code:

var endpointInstance = await Endpoint.Start(endpointConfiguration)
    .ConfigureAwait(false);
IMessageSession messageSession = endpointInstance;
await messageSession.Send(new SomeMessage())
    .ConfigureAwait(false);

Be something like this instead:

var endpointInstance = await Endpoint.Start(endpointConfiguration)

[2016-11-09 04:10] SimonCropp commented on #2224
@MeTitus

We did consider this but after much deliberation we decided to drop the async suffix. the reasoning is here https://docs.particular.net/nservicebus/upgrades/5to6/async-suffix

The current state of cancellation token overloads is covered here https://github.com/Particular/NServiceBus/issues/3785

[2016-11-09 04:26] SimonCropp commented on #2210
@MarcinHoppe it is a trade off.

 * the earlier we document the better feedback we get into the feature
 * if we leave it in a branch it reduces visibility and increases the likelihood of merge conflicts
 * if we write it in the future tense then we need to come back and fix that after the release

From my perspective I am happy with doco occasionally jumping in front of released versions. This is

[2016-11-09 04:27] SimonCropp commented on #1448
@Particular/azure-host-maintainers  still needs to be done?

[2016-11-09 07:31] MarcinHoppe commented on #2210
@SimonCropp If this is not a mistake and was planned, then I'm more than happy to close.

[2016-11-09 07:31] #2210 closed

[2016-11-09 10:40] MeTitus commented on #2224
Well Microsoft does it, so why not follow the standard and come up with your own thing? Whatever the reasoning is, it just doesn't make any sense, and yes I did read the link you post which.

http://stackoverflow.com/questions/14652773/is-the-async-suffix-required-in-the-name-of-an-async-asp-net-mvc-4-action

It's a convention use it.

[2016-11-09 13:24] dvdstelt commented on #1462
@SimonCropp Sure, I will have a look at it

[2016-11-09 18:03] SeanFeldman commented on #1448
@SimonCropp it's there: https://docs.particular.net/nservicebus/hosting/cloud-services-host/configuration#convention-to-override-configuration-applying-configuration-changes

[2016-11-09 18:03] #1448 closed

[2016-11-09 20:08] #2176 closed

[2016-11-09 20:29] SimonCropp commented on #2224
@MeTitus

When building any software it is important to understand any advice/conventions before making decisions based on it or following it. In this case there is no more reasons other than "because microsoft said so". given the other negatives in following that approach we decided to not follow the convention. It should also be noted that the async suffix convention conflicts with microsoft own

[2016-11-09 20:29] #2224 closed

[2016-11-09 22:19] MeTitus commented on #2224
What kind of sentence is that? Do you know what I know, where I have worked, the experience I have and so on to say something like that?

I hate it when people go personal for no good reason. I know all the long term ramifications way more than you it seems, since your justification for not following a convention is full of trash. You do know that .NET Core relies heavily on async methods right? I

[2016-11-09 22:26] MeTitus commented on #2224
https://msdn.microsoft.com/en-us/library/mt674882.aspx#Naming Convention

It's worth a read.

[2016-11-09 22:49] boblangley opened #2227 "Unify MSMQ queue permission guidance"
Both https://docs.particular.net/nservicebus/msmq/operations-scripting#create-queues and https://docs.particular.net/nservicebus/msmq/transportconfig#queue-permissions should be rewritten and changed to a shared partial.

[2016-11-10 07:24] andreasohlund commented on #2170
I also thinks the first line

sets the wrong tone.

We don't want users to get fancy with their messages (polymorphic
properties, IEnumerables, complex objects etc) to avoid them getting into
trouble.

How can we reword that part?

On Mon, Nov 7, 2016 at 7:28 AM, Simon Cropp <notifications@github.com>
wrote:

[2016-11-10 07:25] andreasohlund commented on #2170
Agreed, lets move that to
https://docs.particular.net/nservicebus/serialization/xml under a new
section called "integration with non nservicebus endpoints" ?

On Thu, Nov 10, 2016 at 8:24 AM, Andreas Ohlund <
andreas.ohlund@particular.net> wrote:

[2016-11-10 09:14] weralabaj commented on #2224
@MeTitus

It's an unfortunate phrase, but I'm sure Simon didn't mean to imply anything personal. Note that right after he said:

which much better reflects our stance. So apologies for misunderstanding, but it's just not well thought out bunch of words, not intentional personal remark.

We listed a couple of examples here https://docs.particular.net/nservicebus/upgrades/5to6/async-suffix#other-lib

[2016-11-10 09:37] distantcam commented on #2224
[https://msdn.microsoft.com/en-us/library/mt674882.aspx#Naming Convention](https://msdn.microsoft.com/en-us/library/mt674882.aspx#Naming Convention)

[https://msdn.microsoft.com/en-us/library/ms229045(v=vs.110).aspx#Word Choice](https://msdn.microsoft.com/en-us/library/ms229045(v=vs.110).aspx#Word Choice)

These suggestions from Microsoft don't agree with each other.

[2016-11-10 10:44] MeTitus commented on #2224
@weralabaj Maybe you're right, maybe he did not choose the right words, either way it sound a tad arrogant.

@distantcam Well that applies to different things. Microsoft does not recommend Hungarian notation but for a specific set of functionality/pattern it recommends the use of and "Async" sufix, which sounds very reasonable to me. Given the broad usage of async methods within the .NET Core it w

[2016-11-10 14:45] dvdstelt opened #2230 "ServiceControl older versions not in documentation"
### Issue

Although I didn't verify a lot, I was looking for the setting `<add key="ServiceControl/ExposeRavenDB" value="true" />` and it wasn't in documentation anymore.
I think we should have this around.

[2016-11-10 14:47] dvdstelt commented on #2230
I can search code history for the document and add it, but if someone can help with a quick Zoom how to properly set this up, I'd be much obliged.

[2016-11-10 18:41] SimonCropp commented on #2230
Ping @Particular/servicecontrol-maintainers

[2016-11-10 22:40] johnsimons commented on #2230
@dvdstelt we do not keep around old versions of documentation, **this is on purpose**, it ensures users that are having difficulty contact us via our support, and then we can tell them to update to latest.
So when handling ServiceControl support issues the first action is to make sure the customer updates to latest, 99% of the time we have already fixed the issue in a later version, obviously ping

[2016-11-11 00:15] #2161 closed

[2016-11-11 00:40] SimonCropp commented on #2230
Seems answered ... re open if not

[2016-11-11 00:40] #2230 closed

[2016-11-12 19:11] SimonCropp opened #2238 "Move to consistent phrasing in tutorials"
https://docs.particular.net/tutorials/nservicebus-101/

There is some mis-match between what this content is and what it claims to be.

The content is currently a single tutorial with several part. But some of the phrasing seems to imply it is online certification system. For examples. it reference "courses" and lessons, uses the phrasing "NServiceBus 101".

It comes across as the content is tryin

[2016-11-13 23:28] MeTitus commented on #2224
You should also either remove or update the documentation in here:

https://particular.net/blog/async-await-its-time

Also, since all the handlers are now async even if there are not reason to, we end up with this mess:

        public Task Handle(IPatientAdmitted message, IMessageHandlerContext context)
        {
            _patientInfoRepository.Add(new PatientInfoEntity
            {

[2016-11-14 07:06] weralabaj commented on #2238
I think the name "academy" came up as an alternative to "bootcamp", which we didn't want to use, and then it just became how we think about this content :)

[2016-11-14 20:18] SeanFeldman opened #2239 "[ASB] Partitioning strategies and fail over namespace clarification"
Built-in  partitioning strategies other than `FailOverNamespacePartitioning` do not support fail over namespaces.

Needs to be clarified in [Multiple Namespaces Support](https://docs.particular.net/nservicebus/azure-service-bus/multiple-namespaces-support) doco. If failover is needed in addition to HA, a custom strategy needs to be created.

If failover is needed in addition to HA, a custom strate

[2016-11-14 20:21] SeanFeldman opened #2240 "[ASB] Partitioning strategy for HA and failover both"
Document creation of a namespace partitioning strategy that supports both HA and failover in a sample.

[2016-11-14 20:23] SeanFeldman opened #2241 "[ASB] Update Custom Partitioning Strategy sample"
- [ ] Existing [sample for Custom Partitioning Strategy](https://docs.particular.net/samples/azure/custom-partitioning-asb/) should be explained/renamed as "Data Replication" strategy.
- [x] Existing sample for Custom Partitioning Strategy is not linked to the documentation [Multiple Namespaces support](https://docs.particular.net/nservicebus/azure-service-bus/multiple-namespaces-support). => link

[2016-11-14 20:27] SeanFeldman opened #2242 "[ASB] Multiple namespaces support doco is not connected to Addressing logic"
[Multiple Namespaces support](https://docs.particular.net/nservicebus/azure-service-bus/multiple-namespaces-support) should point to the section on "Implementing a custom namespace partitioning strategy" in [Addressing Logic](https://docs.particular.net/nservicebus/azure-service-bus/addressing-logic#namespace-partitioning-implementing-a-custom-namespace-partitioning-strategy) doco.

[2016-11-14 20:43] SeanFeldman commented on #1447
Should this one be closed?

[2016-11-14 20:44] SeanFeldman commented on #1394
Closing this one. `ITopology` is going to be internalized.

[2016-11-14 20:44] #1394 closed

[2016-11-14 22:58] kbaley commented on #2238
I don't think much conscious thought went into the repercussions of the terminology but here's my take.

One of the secondary goals of the tutorial is to sell the platform for people just starting out. This is artistic license to make them feel like they're doing something meaningful and to stay engaged in the hope that they eventually become a paying customer. I don't think anyone will mistake it

[2016-11-15 04:33] DavidBoike commented on #2238
I think a lot is being read into a couple words that have little to do with their definitions.

* [course](http://www.merriam-webster.com/dictionary/course) - a number of lectures or other matter dealing witha  subject; also: a series of such courses constituting a curriculum
* [lesson](http://www.merriam-webster.com/dictionary/lesson) - a piece of instruction, a reading or exercise to be studied

[2016-11-15 07:04] weralabaj commented on #2238
Not sure about other places, but I'm very familiar with that phrase, for me it's synonym of "intro".

[2016-11-15 10:52] SimonCropp commented on #2238
The problem is not with 101 being "everyday vernacular". Just that in this case we dont need it. "Messaging Basics" is enough to convey what the tutorial is about.

Given we only have one tutorial ATM, we dont know how this will evolve in the future, it is too early to apply a numbering scheme.

This is applying "keep it simple" and Yagni to content. At the moment we have one tutorial with a few p

[2016-11-15 14:29] timbussmann commented on #2181
assigning this to myself. /cc @janovesk

[2016-11-15 21:25] #2181 closed

[2016-11-16 02:51] SimonCropp commented on #1462
just added a link here instead https://docstest.particular.net/nservicebus/messaging/databus/file-share#cleanup-strategy

[2016-11-16 02:51] #1462 closed

[2016-11-16 03:12] SimonCropp commented on #990
@andreasohlund @ramonsmits i think this should be a blog post instead

[2016-11-16 03:12] #990 closed

[2016-11-16 03:35] #973 closed

[2016-11-16 03:52] #2195 closed

[2016-11-16 03:57] #2199 closed

[2016-11-16 04:00] #2198 closed

[2016-11-16 08:47] #2193 closed

[2016-11-16 09:39] MarcinHoppe commented on #1684
Do we have any indication that our customers are struggling with understanding how NServiceBus relates to security aspects of its downstream dependencies (mostly transports and persisters)?

What would be the value of providing such doco (concept + links)?

[2016-11-16 10:01] HEskandari commented on #1684
@MarcinHoppe AFAIR this issue got created as a result of a desk case. So to answer your question, yes, we have had a few cases struggling with this in the past year (and probably before that).

[2016-11-16 10:03] MarcinHoppe commented on #1684
Any chance of digging that original case out? I'd love to understand what the problem is.

[2016-11-16 15:31] sfarmar commented on #2166
@boblangley can I help?

[2016-11-17 04:39] HEskandari commented on #1684
@MarcinHoppe The initial support case is rather old and I couldn't find it anymore. Closest one I could find in SF is [this issue](https://eu1.salesforce.com/500D000001GDdxE?srPos=10&srKp=500). There are other cases asking about MSMQ permissions, security best practices, AAA and similar subjects. For some you can find a document to link to, but for others you may not find an official one, e.g. bes

[2016-11-17 07:05] weralabaj commented on #1684
Doesn't that issue actually fit our wave theme pretty well? Maybe we should open it as a PlatDev issue, as it might require a bit more effort than the usual doco?

[2016-11-17 08:22] andreasohlund commented on #2080
PR is merged

[2016-11-17 08:22] #2080 closed

[2016-11-17 08:28] #2194 closed

[2016-11-17 08:33] MarcinHoppe commented on #1684
@weralabaj I think security was one of the other theme candidates.

[2016-11-17 21:17] philjamaica opened #2257 "Feedback: Azure Cloud Services Host FAQ"
It would be great to see some documentation on how to use NServiceBus with Azure's Service Fabric offering.

[2016-11-17 23:10] DavidBoike commented on #2238
Disagree. Just focusing on more important edits to the course. I'm not at all OK with this.

[2016-11-17 23:23] SimonCropp commented on #2238
@DavidBoike so what of your concerns have not been addressed?

[2016-11-18 05:18] SimonCropp commented on #2238
another reason to avoid "courses" in the context of Particular/NserviceBus is that it conflicts with https://particular.net/courses-and-events

[2016-11-18 07:32] andreasohlund commented on #2168
PR as promised https://github.com/Particular/docs.particular.net/pull/2258

[2016-11-18 08:04] yvesgoeleven commented on #2257
@philjamaica I'll make sure this guidance gets in

[2016-11-18 08:27] SeanFeldman commented on #2257
@philjamaica thank you for your feedback. SF hosting would be under the [self-hosting](https://docs.particular.net/nservicebus/hosting/#self-hosting) category at this point. You would create your endpoints as SF services (statefull or stateless).

There's a [labs project](https://github.com/ParticularLabs/NServiceBus.ServiceFabric) SF sample for NSB v5 to demonstrate that SF reliable collections c

[2016-11-18 08:28] weralabaj commented on #2168
Merged PR, seems to be done.

[2016-11-18 08:28] #2168 closed

[2016-11-18 08:31] weralabaj opened #2259 "Replace current diagrams with mermeid diagrams"
From @SimonCropp proposition for [Pipeline diagram](https://github.com/Particular/docs.particular.net/compare/docs.particular.net/nservicebus/pipeline/steps-stages-connectors?expand=1)

### outgoing

[code]

![image](https://cloud.githubusercontent.com/assets/122666/20369985/488dcae2-acb0-11e6-81f9-17e074446308.png)

### Incoming

[code]

![image](https://cloud.githubusercontent.com/assets/122666/

[2016-11-18 08:31] weralabaj commented on #2259
@mikeminutillo since you're the author, would you rather keep it as is, or ok to update for the sake of having a single tool and consistency in docs?

[2016-11-18 16:29] DavidBoike commented on #2238
Discussed with @brittking, @sergioc, and @kbaley.

My primary concern is that a "tutorial" with "parts" is the absolute most generic, tepid, watered-down, boring taxonomy possible, which will harm efforts to market and drive consumption of the content. Anyone can put up a tutorial on their blog. We're the only ones with the authority to publish a definitive course.

Meanwhile, most of the argument

[2016-11-18 16:48] philjamaica commented on #2257
Thanks @yvesgoeleven  and @SeanFeldman . For a newbie like myself, building a composite app composed of a web app served by a bunch of microservices, which would be more straightforward for me to work with using NServiceBus: azure's App Service, or Service Fabric?

[2016-11-18 16:53] SeanFeldman commented on #2257
This is a great question @philjamaica. Answer is not as simple as I wish it would be: it depends. Depends on how complex is the system, what's the load you'll have, how much of a budget you have, will you be building and deploying more services on top of this solution or not.

App Services (webapps with webjobs) are powerful for solutions of small to mid minus size. Beyond that, I'd say SF is a be

[2016-11-18 16:56] DavidBoike commented on #2238
I lied, @sergioc says OTE isn't really interested in the branding aspects that much, so opened https://github.com/Particular/DeveloperEducation/issues/775.

[2016-11-18 18:52] SimonCropp commented on #2238
Just as anyone can publish tutorials, anyone can publish course. Pluralsight does exactly that.

And you dont own the definitive guidance on anything on the web these days by virtue of being the company that sells it. you do so by having the best contant that is kept up to date.

i simply think we should name things in a way that most closely imparts to the consumer what that thing is.

I would sa

[2016-11-18 19:00] SimonCropp commented on #2238
also re the overloaded "Courses" term inside particular. at one point the link to the current real "courses"  was linked in the header and footer of docs. based on how much priority that needs to be given in the future it might come back. this would clearly clash with any reference to "courses" inside the docs content or menu structure

[2016-11-18 22:14] philjamaica commented on #2257
@SeanFeldman I found your sample at https://github.com/Particular/docs.particular.net/tree/azure-cloud-showcase/samples/show-case/cloud-azure very helpful re how NServiceBus can work with Web App and Web Jobs.

Please bear with me with another question: in your sample all the Web Jobs are in the same VS Solution. Is this a requirement to host on Azure App Services?

I'm mystified at how you would

[2016-11-18 23:52] SeanFeldman commented on #2257
This is by no means a requirement, just a convenience. Keep in mind, it's a sample application 😃
Naming your endpoints should not be any different from what you'd do in other hosting environments. Notice that this sample is just an [on-premises sample](https://docs.particular.net/samples/show-case/on-premise/) converted to run in Azure.

[2016-11-19 00:39] SeanFeldman opened #2261 "Document Transport/Core seam"
Document transport seam with Core (API expected by core from transports) to go along with the [sample transport](https://docs.particular.net/samples/custom-transport/).

Content location: [Transports page](https://docs.particular.net/nservicebus/transports/)

This should help community transport creators/maintainers understand better expectations set by NSB Core.

[2016-11-21 01:04] mikeminutillo commented on #2259
:+1: to make it consistent.

On Fri, 18 Nov 2016 at 16:31 Weronika Łabaj <notifications@github.com>
wrote:

[2016-11-21 21:37] SimonCropp opened #2263 "broken link in 5to6/distributor"
so the text "Configure it to enlist it with the distributor" here
https://docs.particular.net/nservicebus/upgrades/5to6/distributor#general-upgrade-scenario

links to https://docs.particular.net/nservicebus/upgrades/5to6/distributor#enlist-version-6-endpoints-with-a-distributor which does not exist on that page.

The only similar reference is here https://docs.particular.net/samples/scaleout/distr

[2016-11-21 21:38] SimonCropp commented on #2263
ping @Particular/nservicebus-maintainers @SzymonPobiega

[2016-11-22 06:49] weralabaj commented on #2263
seems so

[2016-11-22 06:50] weralabaj commented on #2263
I'll work on anchor links checking today, that should help :)

[2016-11-22 07:26] SzymonPobiega commented on #2263
@timbussmann can you take a look at that link? I am not sure what it should be linking to (if anything).

[2016-11-22 14:54] timbussmann commented on #2173
I think we can close this @SimonCropp ?

[2016-11-23 00:09] SimonCropp commented on #2173
yep

[2016-11-23 00:09] #2173 closed

[2016-11-23 11:02] #2263 closed

[2016-11-23 11:04] #2189 closed

[2016-11-23 11:06] SimonCropp commented on #2192
pr mergd

[2016-11-23 11:06] #2192 closed

[2016-11-23 11:07] SimonCropp commented on #2166
@boblangley @sfarmar bump

[2016-11-23 11:08] SimonCropp commented on #2157
pr merged

[2016-11-23 11:08] #2157 closed

[2016-11-23 11:29] SzymonPobiega commented on #2178
@SimonCropp @janovesk I have no domain knowledge about MSMQ+FQDN. Otherwise the article looks OK.

[2016-11-23 11:48] janovesk commented on #2178
I'll do it

[2016-11-23 13:27] janovesk commented on #2178
[Done](https://github.com/Particular/docs.particular.net/commit/ba8e576761d98613b7c695803a34d6843e6c777f)

[2016-11-23 13:27] #2178 closed

[2016-11-23 15:13] timbussmann commented on #2182
discussed this with @Particular/nservicebus-maintainers and this seems to be quite a big task for a single person. We feel that this could be driven from persistence maintainers as they have the most experience implementing those interfaces + some assistance from a core maintainer.

[2016-11-23 15:28] timbussmann commented on #2174
@dbelcham and me will review this page from a core perspective.

[2016-11-23 16:19] sfarmar commented on #2166
@SimonCropp I'm unavailable this week, will get back to this next week.

[2016-11-23 17:14] boblangley commented on #2166
@SimonCropp I am out this week as well. I will upload my draft as a pr first thing when I get back.

@sfarmar yes I would appreciate the help

[2016-11-23 19:37] SimonCropp commented on #2178
@janovesk thanks :)

[2016-11-23 19:39] SimonCropp commented on #2257
@philjamaica it seems all your questions have been answered here. i will close this one for now. Thanks for asking a question and please feel free to re-open this one of ask a new question any time in the future.

[2016-11-23 19:39] #2257 closed

[2016-11-23 19:41] SimonCropp commented on #1719
is this call ever happens https://github.com/Particular/docs.particular.net/issues/1719#issuecomment-252331203 then please send a PR

[2016-11-23 19:41] #1719 closed

[2016-11-24 14:29] dvdstelt opened #2268 "Extensions link broken"
On https://docs.particular.net/ the link to the extensions page is broken. The trailing slash on https://docs.particular.net/components/ does this. Removing it and it works fine.

[2016-11-24 22:17] SimonCropp commented on #2268
fixed

[2016-11-24 22:17] #2268 closed

[2016-11-25 02:58] HEskandari opened #2270 "Cleaning up of the upgrade landing page"
Some of the generic content are in the 5-to-6 page which needs to be moved up.

https://github.com/Particular/docs.particular.net/pull/2271

[2016-11-25 03:06] HEskandari opened #2272 "Configure Delayed Retries needs to be clarified"
- The section about "Legacy .Retries message receiver" is not quite clear when creating a new endpoint.
- The suggested method `DisableLegacyRetriesSatellite` is already obsolete in version 6. Need to clarify how to disable the warn/error.
- In version 6.1 the method is not obsolete anymore (which makes more sense) but means we can't remove it in v7 anymore and if disabling warn/errors is not an o

[2016-11-25 07:07] weralabaj commented on #2272
ping @Particular/nservicebus-maintainers ☝️ can you take care of it?

[2016-11-25 07:25] weralabaj commented on #2201
ping @Particular/platform-dev-squad @adamralph ☝️  anybody interested in taking it?

[2016-11-25 07:25] weralabaj commented on #2186
@ramonsmits I know you've been busy with Service Control lately, do you have time now to look into it?

[2016-11-25 07:26] weralabaj commented on #2185
@SzymonPobiega can we close or is there anything left to do?

[2016-11-25 07:29] weralabaj commented on #2170
@andreasohlund @SimonCropp is either of you taking care of it or should we look for somebody?

[2016-11-25 07:29] #2185 closed

[2016-11-25 08:00] timbussmann commented on #2272
I don't see why we can't remove it in v7 as we can do major breaking changes.

we agreed that this was not the best option and therefore removed the obsolete again.

[2016-11-25 09:13] danielmarbach commented on #2272
@HEskandari like @timbussmann stated we can obsolete the method in the time frame of v7 and don't see any problems with that. As soon as 6.1 is out we can advise customers to upgrade, correct

[2016-11-25 10:34] HEskandari commented on #2272
@danielmarbach @timbussmann Maybe it's just the wording that's incorrect:

Don't think you can obsolete it *and* remove it in version 7.

[2016-11-25 10:36] weralabaj commented on #2272
So:

"This API will be obsoleted in Version 6.1 and removed in Version 7."?

[2016-11-25 10:39] HEskandari commented on #2272
@weralabaj Definitely not. In fact the reverse!

This API is being *un-obsoleted* in version 6.1 and I'm not sure about the plan to make it obsolete again when it will be removed.

[2016-11-25 10:39] danielmarbach commented on #2272
@HEskandari It will be obsoleted with error. Which means you can't use it after v7

[2016-11-25 10:41] HEskandari commented on #2272
@danielmarbach so this will be correct then:

"This API will be obsoleted in Version 7 and removed afterwards."

[2016-11-25 10:43] danielmarbach commented on #2272
@HEskandari yes

[2016-11-25 14:52] #2270 closed

[2016-11-28 07:50] andreasohlund opened #2276 "Create Video Store sample which runs on ASQ"
Connects to https://github.com/Particular/V6Launch/issues/83

In order to demo cloud with NSB we would like to create the video store sample running on ASQ transport and web jobs. The would be demoed with a real connection string. If meetup attendees try it out it should run with storage emulator locally.

http://docs.particular.net/samples/show-case/on-premise/?version=core_6

## Plan of Attack

[2016-11-28 10:13] weralabaj commented on #1458
@boblangley @janovesk is that something that we might want to do at some point, or should we burn it?

[2016-11-28 10:14] weralabaj commented on #1833
@ramonsmits ping ☝️

[2016-11-28 10:15] weralabaj commented on #1447
@yvesgoeleven @SeanFeldman should we close? there's a similar issue https://github.com/Particular/docs.particular.net/issues/1533, I'm not sure how both are (or aren't) related

[2016-11-28 10:16] weralabaj commented on #1533
@SeanFeldman given that was raised over 6 months ago, is this something we really want to do?

[2016-11-28 10:16] weralabaj commented on #1583
@Particular/azure-maintainers can you take care of it?

[2016-11-28 10:17] weralabaj commented on #2022
@Particular/nservicebus-maintainers will you take care of it?

[2016-11-28 10:19] weralabaj commented on #2153
@SeanFeldman can you adjust PoA or raise a new issue? I'm not sure what you decided, if that's planned to be done in v8 then probably it'd make sense to raise an issue in ASB repo with that milestone?

[2016-11-28 10:20] weralabaj commented on #2159
@janovesk @SzymonPobiega can either of you have a look? if not, who'd be best? ☝️

[2016-11-28 10:20] weralabaj commented on #2162
@ramonsmits do you need a hand with this?

[2016-11-28 10:20] weralabaj commented on #2164
@ramonsmits do you need a hand with this?

[2016-11-28 10:21] weralabaj commented on #1745
duplicate of https://github.com/Particular/docs.particular.net/issues/2166

[2016-11-28 10:21] #1745 closed

[2016-11-28 10:22] weralabaj commented on #2169
@indualagarsamy ping, if you don't have time any suggestions on who could help?

[2016-11-28 10:23] weralabaj commented on #2187
@SzymonPobiega didn't you review it as part of moving distributor under MSMQ? if not who could help?

[2016-11-28 10:24] weralabaj commented on #2182
@Particular/nservicebus-maintainers @Particular/azure-storage-persistence-maintainers @Particular/nhibernate-persistence-maintainers @Particular/ravendb-persistence-maintainers ☝️ any volunteers?

[2016-11-28 10:25] weralabaj commented on #2241
@SeanFeldman if that's just a cosmetic/editing I could help

[2016-11-28 10:25] SzymonPobiega commented on #2187
@weralabaj I only moved this particular page. It is a big task on its own to go through it. Let me assign it to myself but not sure how quickly I can start working on it.

[2016-11-28 10:29] weralabaj commented on #2187
ok I can do the first round plus ask some questions, would that help?

[2016-11-28 10:31] SzymonPobiega commented on #2187
well, the thing I am not sure is if I will be able to provide the answers. Let me try to tackle it this afternoon. If I fail, I'll let you know.

[2016-11-28 10:32] SzymonPobiega commented on #2159
I don't feel competent enough for it but if nobody else volunteers I can give it a try. Assuming that devops wave has a slow start.

[2016-11-28 10:32] weralabaj commented on #2276
@andreasohlund does that issue have a task force? can you add them?

[2016-11-28 10:51] andreasohlund commented on #2276
Not sure, don't think anyone is working on it. Perhaps @SeanFeldman ?

[2016-11-28 10:53] weralabaj commented on #2242
Fixed in https://github.com/Particular/docs.particular.net/commit/3aeae80319a50da6b0af364ae30a679dd4331fb7

[2016-11-28 10:53] #2242 closed

[2016-11-28 11:16] weralabaj commented on #2259
fixed in https://github.com/Particular/docs.particular.net/pull/2278

[2016-11-28 11:16] #2259 closed

[2016-11-28 11:18] weralabaj commented on #2276
so why some PoA checkboxes are ticked? :) who's done that?

[2016-11-28 11:28] #2272 closed

[2016-11-28 13:41] weralabaj commented on #2227
@boblangley what's the reason for that issue? just to make sure there's no duplication?
btw you can't have shared partial, we can make an include.

[2016-11-28 14:09] janovesk commented on #1458
As long as we have the feature, a sample would be helpful. Not seeing high priority here, though.. Backlog?

[2016-11-28 14:11] janovesk commented on #2159
I'll do it.

[2016-11-28 14:12] weralabaj commented on #1458
Given that now is quite slow period, I wonder if we don't do it now, will we honestly ever do? :)

[2016-11-28 16:54] SeanFeldman commented on #2276
Looks like assignees from the original issue were not moved here:
![image](https://cloud.githubusercontent.com/assets/1309622/20677338/fc5678b0-b54f-11e6-8f98-f934e642a2a0.png) (@andreasohlund taking you off, but if you're still interested, please re-add yourself).

Both @mikeminutillo and myself worked on this. I've updated PoA with names to indicate who worked on what.

Next step we should discu

[2016-11-28 16:57] SeanFeldman commented on #2241
@weralabaj absolutely. While reviewed the sample, it became apparent that it's a data replication strategy, but the sample doesn't explain it at all.

[2016-11-28 17:05] SeanFeldman commented on #2153
Description update and closing. Thank you @weralabaj

[2016-11-28 17:05] #2153 closed

[2016-11-28 17:06] SeanFeldman commented on #1533
Has been completed already. Closing this issue.

[2016-11-28 17:06] #1533 closed

[2016-11-28 17:07] SeanFeldman commented on #1447
👍

[2016-11-28 17:07] #1447 closed

[2016-11-29 09:47] andreasohlund commented on #2170
This section doesn't seem to be present on https://docs.particular.net/nservicebus/messaging/messages-as-interfaces any more?

[2016-11-29 09:50] andreasohlund commented on #2170
Ah, @SimonCropp probably meant the opening line:

Change to

?

[2016-11-29 22:53] dasjestyr opened #2285 "Feedback: Callback Usage"
Page: /samples/callbacks/sample.md

Example where I would have used SendLocal() ?

[2016-11-29 23:15] SimonCropp commented on #2285
@dasjestyr

SendLocal is essentially "Sending to self" https://docs.particular.net/nservicebus/messaging/send-a-message#sending-to-self

So in the context of Callback it doesnt really apply

could you perhaps elaborate a little?

[2016-11-29 23:59] dasjestyr commented on #2285
1. Request comes in through a web api endpoint, I request a reply from the handler which is just trying to create an object.
2. If the object is invalid (bad parameters; failed to construct) then the domain model throws and the handler catches it and replies that it fails and short-circuits, otherwise it replies that it is ok and continues on with the service asynchronously
3. If the client (the w

[2016-11-30 01:04] SimonCropp commented on #2285
Instead of using callbacks do as much validation as possible at the web api point. then dont have the handler catch the exception. assume that the message is valid. if it isnt then let the handler throw and the message can go to the error queue for manual intervention.

This may be desired but you will cause non-trivial architectural issues in an effort to achieve this

[2016-11-30 01:14] SimonCropp commented on #1654
@weralabaj i like "have a separate menu item" better. will close this

[2016-11-30 01:14] #1654 closed

[2016-11-30 13:36] danielmarbach commented on #2022
@dbelcham or @bording would you have capacity to deal with this? I currently have none.

[2016-11-30 17:50] dasjestyr commented on #2285
I understand. I think I came across an example that suggested that this could and/or should be done using this duplex pattern. May I ask then, what is the intent of this? What's the use case?

[2016-11-30 23:09] SimonCropp commented on #2285
@dasjestyr does this cover it https://docs.particular.net/nservicebus/messaging/callbacks#when-to-use-callbacks  ?

[2016-12-01 05:07] dasjestyr commented on #2285
Not really, or at least it isn't very clear. While it's labeled "when to you use callbacks" it seems that it only talks about *how* to use callbacks.

[2016-12-01 15:13] ramonsmits opened #2293 "Core V5 performance counter link not pointing to correct results"
V5 contains the following link:

- http://docs.particular.net/search?q=PerformanceCounters

This doesn't result any results that point to the following document:

- https://github.com/Particular/docs.particular.net/blob/master/nservicebus/operations/performance-counters.md

I would like to add the keyword `PerformanceCounters` to the page so that it will be listed in the results but I don't see an

[2016-12-02 00:03] SimonCropp commented on #870
@ramonsmits @andreasohlund so any proposed changes to docs based on this?

[2016-12-02 04:30] SimonCropp commented on #2227
@weralabaj yeah the issue is duplication and inconsistency. so yes either an include or make one point to the other

[2016-12-02 04:32] SimonCropp commented on #340
@weralabaj it should be here https://docs.particular.net/platform/contributing

[2016-12-02 05:16] mauroservienti commented on #2182
I can take it starting next week @weralabaj. Assigning myself, I'll take care of involving relevant people if needed.

[2016-12-02 08:39] weralabaj commented on #340
Hm that looks more like a support issue? How about I move it to https://github.com/Particular/Support? I know we have a few more or less "standard" ways we use, so it's just a matter of documenting.

[2016-12-02 08:42] weralabaj commented on #2293
it works if you do that https://docs.particular.net/search?q=performance+counters

[2016-12-02 08:44] weralabaj commented on #2293
the result
<img width="1271" alt="search" src="https://cloud.githubusercontent.com/assets/7335079/20827680/c517f64a-b873-11e6-80ee-0fd83f2da30a.png">

So IMO the solution is updating the link, it's incorrect. From the search perspective we can't know how to break spaces to find any possible combination of two words that is meaningful.

[2016-12-02 09:24] SimonCropp commented on #340
Sounds good. Feel free to move it

[2016-12-02 09:30] weralabaj commented on #340
raised as https://github.com/Particular/Support/issues/32

[2016-12-02 09:30] #340 closed

[2016-12-05 12:13] andreasohlund commented on #2285
In my opinion the use case for callback are when you want to use messaging behind a syncronous api that you can't change.

Example:

Old MVC app where the controller does loads of DB work that takes up to 20 seconds

#### Problem
The app has issues under load since each request will hog a webserver thread for up to 20 seconds and this causes IIS to run out of threads, server to run out of memory e

[2016-12-06 13:38] sfarmar opened #2307 "Do we need to clarify MaximumConcurrencyLevel and MaximumMessageThroughputPerSecond"
In the context of v5 distributor and worker
[reading this](https://docs.particular.net/nservicebus/operations/tuning?version=core_5) didn't quiet make it clear...

* How can I set the number messages a worker will receive from the distributor at one batch?

[2016-12-07 03:12] dasjestyr opened #2310 "Feedback: Using NServiceBus in an ASP.NET Core WebAPI Application"
Page: /samples/web/send-from-aspnetcore-webapi/sample.md

So, creating a new .net core application with the webapi template, and then pulling down the NServiceBus package from nuget immediately breaks the project due to incompatible dependencies. Perhaps some clarification on how to get this to work?

Doesn't targetting the full .net framework make it NOT .net core? This article says that this wil

[2016-12-07 03:25] dasjestyr opened #2311 "Feedback: Using NServiceBus in an ASP.NET Core WebAPI Application"
Page: /samples/web/send-from-aspnetcore-webapi/sample.md

So, creating a new .net core application with the webapi template, and then pulling down the NServiceBus package from nuget immediately breaks the project due to incompatible dependencies. Perhaps some clarification on how to get this to work?

![image](https://cloud.githubusercontent.com/assets/3200529/20953593/1ba4671a-bbf2-11e6-8ef1-3c25

[2016-12-07 04:17] dasjestyr commented on #2285
A little, but:

Isn't this just queuing? Why would I need a callback for that? I feel like the point of the callback would be that so the handler can respond in some way to give info back to the web application that sent the command. While it might be a bad practice, couldn't this be demonstrated by my validation example? Or am I still not seeing the picture that you're drawing?

[2016-12-07 08:29] andreasohlund commented on #2285
Your spot on, the callback is needed to keep the webrequest waiting until the backend responds with some kind of "order acked" message. This pattern frees up the webserver thread until the response comes back.

Remeber the use case is to get messaging into existing legacy code. If you built this from scratch you would go with fire and forget instead.

Does this make sense?

[2016-12-07 10:46] weralabaj commented on #2285
@dasjestyr @andreasohlund anything more to add here https://github.com/Particular/docs.particular.net/commit/8a1e3e11d4600f6a22f001434ad7f974a9d24af1?

[2016-12-07 10:51] andreasohlund commented on #2285
Looks like a good improvement to me

[2016-12-08 04:41] dasjestyr commented on #2285
@weralabaj I think that'll do it

@andreasohlund  yes I think that makes sense, thank you. Thanks you for taking the time to help me understand!

[2016-12-08 05:06] #2285 closed

[2016-12-08 17:09] andreasohlund commented on #870
@ramonsmits do you agree with https://github.com/Particular/docs.particular.net/issues/870#issuecomment-148015624 ?

[2016-12-09 02:31] SimonCropp commented on #2293
agreed not a problem we can solve in docs

[2016-12-09 02:31] #2293 closed

[2016-12-09 03:10] SimonCropp commented on #2201
done https://docs.particular.net/platform/contributing

[2016-12-09 03:10] #2201 closed

[2016-12-09 03:13] SimonCropp commented on #2156
@SeanFeldman @Particular/azure-maintainers 7.1 is out... ;)

[2016-12-09 03:23] SimonCropp commented on #2164
done

[2016-12-09 03:23] #2164 closed

[2016-12-09 03:32] SimonCropp commented on #2031
@Particular/ravendb-persistence-maintainers is this worth doing or should we close it?

[2016-12-09 03:36] SimonCropp commented on #2162
done

[2016-12-09 03:36] #2162 closed

[2016-12-09 03:48] SimonCropp commented on #1810
added a warning to both pages

[2016-12-09 03:48] #1810 closed

[2016-12-09 03:48] SimonCropp commented on #1810
https://github.com/Particular/docs.particular.net/commit/5e8161d2a50fd58d3922dd120396d10bf5ac82f9

[2016-12-09 03:58] SimonCropp commented on #1647
@andreasohlund give you made the change can u update the doco

[2016-12-09 04:01] SimonCropp commented on #1386
Now documented

 * https://docs.particular.net/nservicebus/lifecycle/endpointstartandstop
 * https://docs.particular.net/nservicebus/upgrades/host-6to7
 * https://docs.particular.net/nservicebus/upgrades/5to6/endpoint#interface-changes

[2016-12-09 04:01] #1386 closed

[2016-12-09 04:16] SimonCropp commented on #1889
@danielmarbach you interested in doing this doco?

[2016-12-09 05:26] mauroservienti commented on #2031
Do we somewhere talk about SQL Server clusters when it comes to NHibernate persistence? If no, then we can close this. If #787 will be done we can talk about replicas there.

[2016-12-09 05:30] SeanFeldman commented on #2156
Reviewed and ok.
[Full configuration doco](https://docs.particular.net/nservicebus/azure-service-bus/configuration/full) on the other hand was missed out. Fixed that [here](https://github.com/Particular/docs.particular.net/commit/bfd0baa726a2a76c29a9e6d3867994fb27fe5a88#diff-b043315dae65f9aa539fedcd9252fa43).

[2016-12-09 05:30] #2156 closed

[2016-12-09 06:23] SimonCropp commented on #2156
@SeanFeldman thanks

[2016-12-09 06:38] andreasohlund commented on #1647
Will do

[2016-12-09 08:04] SimonCropp commented on #965
@sfarmar a year later does this still require doing?

[2016-12-09 11:29] weralabaj commented on #965
we have a separate issue for follow up https://github.com/Particular/docs.particular.net/issues/1938, but I think the basics have been addressed already. anything to move out to the other issue?

[2016-12-09 20:50] SeanFeldman commented on #2276
Should we get on a call and figure it out?
I feel that we're missing a connector between NA and AU :)

[2016-12-09 21:36] DavidBoike opened #2319 "Targeted SignalR sample"
Only use of SignalR in our doco is currently the on-premise sample, where SignalR is far from being the focus.

Sample should show:

* Vanilla JS app, no Angular or anything
* Text field for input
* Button to send text input in message, via WebAPI call, to Server endpoint
* Web app shows "Processing task <input>" with a spinner gif, similar to Azure portal
* Server does 5s Task.Delay and then publ

[2016-12-11 20:32] MarcinHoppe commented on #2319
@DavidBoike We have this webinar sample project that seems like a good starting point:

https://github.com/particular/webinar.signalr

I'd be happy to strip it down, move on-prem and turn into a sample.

[2016-12-12 00:16] SimonCropp commented on #2310
@dasjestyr i added some more content around .net core https://docs.particular.net/samples/web/send-from-aspnetcore-webapi/#converting-to-the-full-net-runtime

does that answer your questions?

[2016-12-12 00:31] SimonCropp commented on #2127
@SzymonPobiega r u working on this?

[2016-12-12 00:59] gbiellem commented on #1140
@ramonsmits I think this should be closed.  Nothing about managing MSMQ queue permissions is specific to NServiceBus.  This information should be sourced from Microsoft

[2016-12-12 03:29] SimonCropp commented on #2139
@andreasohlund do u want to make that change?

[2016-12-12 06:57] andreasohlund commented on #2139
Will do

[2016-12-12 07:29] danielmarbach commented on #1889
@SimonCropp should I go with the approach outlined in https://github.com/Particular/NServiceBus/issues/1703#issuecomment-245869012 ?

[2016-12-12 11:48] andreasohlund commented on #2139
PR opened https://github.com/Particular/docs.particular.net/pull/2323

On Mon, Dec 12, 2016 at 4:29 AM, Simon Cropp <notifications@github.com>
wrote:

[2016-12-13 07:56] andreasohlund commented on #2139
Pr merged

[2016-12-13 07:56] #2139 closed

[2016-12-13 17:40] yvesgoeleven opened #2328 "Document how to host nsb in service fabric"
http://stackoverflow.com/questions/41122390/is-it-possible-to-use-nservicebus-with-azure-service-fabric

[2016-12-13 19:47] DavidBoike commented on #2319
@MarcinHoppe That would be awesome if you have bandwidth.

This is also another "promotable" sample we could add to the [Twitter campaign to promote doco/samples](https://github.com/Particular/DeveloperEducation/issues/722).

[2016-12-13 23:15] dasjestyr commented on #2310
Yes and no, I think. Correct me if I'm mistaken, but this says that you'll be talking to NSB from an  ASP.Net core application but then you remove the core dependencies and target the full framework which I think is misleading. By doing so, aren't you making the ASP.Net core project into a plain ASP.Net project that may or may not have references to .net core libraries? That seems to be something

[2016-12-13 23:28] SimonCropp commented on #2310
The core dependencies are not removed. you can see them here https://github.com/Particular/docs.particular.net/blob/master/samples/web/send-from-aspnetcore-webapi/Core_6/WebApplication/project.json

no. this sample still uses the ASP.Net core libraries

that is stated in the callout at the top  "So while .NET Core dependencies can be consumed in the .NET runtime, the .NET Core runtime is not curre

[2016-12-13 23:48] dasjestyr commented on #2310
Ok, fair enough. Thanks!

[2016-12-13 23:51] SimonCropp commented on #2310
and again sorry the the current NSB .net core story is painful

thanks for the feedback. i think it helped drive that sample to be of a higher quality

will close this one. but please call out any other issues you see in our doco. it is always appreciated.

[2016-12-13 23:51] #2310 closed

[2016-12-13 23:51] SimonCropp commented on #2311
closing as part of https://github.com/Particular/docs.particular.net/issues/2310#issuecomment-266899024

[2016-12-13 23:51] #2311 closed

[2016-12-14 11:23] MarcinHoppe commented on #2319
@DavidBoike I have some bandwidth and I'll give it a go. Is there a deadline, given the Twitter promotion plan?

[2016-12-14 15:22] DavidBoike commented on #2319
Nope we can add more tweets to the queue at any time.

[2016-12-14 16:52] stimms opened #2329 "Feedback: Heartbeat Plugin"
Page: /servicecontrol/plugins/heartbeat.md

Documentation correctly warns about not installing an old version of the plugin but the correct name of the nuget package (ServiceControl.Plugin.Nsb5.Heartbeat) is not apparent without looking in the page version drop down.

[2016-12-14 17:15] stimms opened #2330 "Feedback: ServicePulse"
Page: /servicepulse/index.md

Could use so top level mention of the port on which service pulse listens for http requests for those of us who feel, mistakenly, like they are too smart to read all the documentation before diving in.

[2016-12-14 19:49] MarcinHoppe commented on #2319
Cool. Assigned to myself and will work on it soon-ish.

[2016-12-14 20:23] boblangley commented on #2166
My apologies folks, I have been struggling to get back to this.

I started with @SimonCropp's request above and the summary as a guide. I think when I chatted with @SimonCropp about the approach I was taking I failed to properly convey the approach I was taking and after the review feedback and a great discussion with @indualagarsamy I would like to reset and start over.

@Particular/docs-maintain

[2016-12-14 23:40] SimonCropp commented on #1889
i think show multiple approaches. one per endpoint

 * switch by command line
 * switch by machine name convention. eg many orgs have naming conventions for machines. eg all production machines are "machine1-PROD"
 * switch by computer AD membership (if a corp environment)

[2016-12-15 00:21] #2238 closed

[2016-12-15 00:54] gbiellem commented on #2329
Thanks @stimms  - good point.
We'll add a table showing the correct nuget to use by NSB version in that section

[2016-12-15 01:57] #2330 closed

[2016-12-15 02:10] #2329 closed

[2016-12-15 19:31] indualagarsamy commented on #2307
@sfarmar - is the information you're after covered as part of the distributor documentation? Or is it completely missing?

[2016-12-15 19:32] indualagarsamy commented on #2186
@ramonsmits - any updates?

[2016-12-15 19:33] indualagarsamy commented on #2174
@timbussmann @dbelcham - any updates?

[2016-12-15 19:33] indualagarsamy commented on #2187
@SzymonPobiega - any updates?

[2016-12-15 19:34] indualagarsamy commented on #2182
@mauroservienti - any updates?

[2016-12-15 19:35] indualagarsamy commented on #2159
@janovesk - any updates?

[2016-12-15 19:37] indualagarsamy commented on #1421
@weralabaj @SzymonPobiega - can this issue be closed? Have all the concerns from @timbussmann addressed?

[2016-12-15 19:38] indualagarsamy commented on #1340
@gbiellem - any updates on this?

[2016-12-15 19:40] indualagarsamy commented on #965
@timbussmann - can you please review currently what we have in our doco and see if it sufficiently address your original concern and also check out the issue @weralabaj mentioned? If all is well, can you close it?

[2016-12-15 20:41] particularbot opened #2335 "Provide decision assisting guidance to potential / current users"
**Issue by [dbelcham](https://github.com/dbelcham)** _6/9/2016 9:14:52 PM +00:00_ _Originally opened as https://github.com/Particular/OptimizeTrialExtensions/issues/35_

----

The current website contains two types of information:
1.  Marketing information: "**High performance and scalability.** Extensively used in many mission-critical systems, business domains and usage scenarios. NServiceBus sc

[2016-12-15 20:41] particularbot opened #2336 "Poor guidance related to transport & persistence choice"
**Issue by [particularbot](https://github.com/particularbot)** _6/10/2016 12:54:04 PM +00:00_ _Originally opened as https://github.com/Particular/OptimizeTrialExtensions/issues/40_

----

**Issue by [SzymonPobiega](https://github.com/SzymonPobiega)** _2/4/2015 9:09:24 AM +00:00_ _Originally opened as https://github.com/Particular/PlatformDevelopment/issues/192_

---

I was going through our doco o

[2016-12-16 08:01] weralabaj commented on #1421
I think so, if not @timbussmann please reopen with details of what's left.

[2016-12-16 08:01] #1421 closed

[2016-12-16 13:36] SzymonPobiega commented on #2187
@indualagarsamy haven't started it yet :(

[2016-12-16 13:36] SzymonPobiega commented on #2127
@SimonCropp nope. I haven't started.

[2016-12-16 14:46] timbussmann commented on #2174
sorry, had to backlog this a bit. Will try to tackle this next week.

[2016-12-19 03:18] gbiellem commented on #1340
@indualagarsamy  - Sorry dropped the ball here.  This one is still something I intend to do though.
Will get to it in the new year

[2016-12-19 08:28] MarcinHoppe commented on #2319
Realistically I will not be able to make any progress on it before the holiday break. I will unassign myself from this issue for now.

[2016-12-19 08:30] SzymonPobiega commented on #2127
Closing as PoA has been included in https://github.com/Particular/docs.particular.net/issues/2187

[2016-12-19 08:30] #2127 closed

[2016-12-19 08:30] SzymonPobiega commented on #2187
I've created a PoA and I'll start going through these points whenever I have some time.

[2016-12-19 16:17] timbussmann commented on #965
taking the bullet points from the issue description:

This is not done. Not even sure which parts can be done as there is no easily usable way to test features for example. The last time I had a conversation about this, the conclusion was that it doesn't seem to yield huge value to make feature definitions testable. Custom behaviors should be fully testable with AAA tests and a sample would make s

[2016-12-19 16:17] #965 closed

[2016-12-19 16:19] timbussmann opened #2345 "Document how to test custom behaviors"
split out from https://github.com/Particular/docs.particular.net/issues/965

We should add some doco [here](https://docs.particular.net/samples/unit-testing/) on how to test a custom behavior using the testable contexts we provide.

[2016-12-21 10:25] joseph991229 opened #2350 "Feedback: Centralized file-based routing - FileBasedRouting"
Page: https://docs.particular.net/nservicebus/messaging/file-based-routing

So, filebaserouting do not support "Message"?

[2016-12-21 11:57] SzymonPobiega commented on #2350
@Joseph991229 do you refer to the note that this feature is not fully supported?

[2016-12-21 14:25] ramonsmits opened #2352 "Custom routing sample active/inactive routes not working properly"
The custom routing sample is not working properly: https://docs.particular.net/samples/routing/custom/

### Inactive route still used

* Start all instances
* Exit sales-1
* Send multiple commands via Client
* Messages are still send round robin

Expected sending only to active route.

### When no active routes sending command fails:

* Start and stop all instances so that subscriptions are config

[2016-12-22 11:22] HEskandari opened #2354 "CreateQueues page is out of date and do not reflect obsoleted interface in v6"
The content is clearly incorrect as the interface is made obsolete.

https://docs.particular.net/nservicebus/transports/queuecreation

[2016-12-22 11:23] HEskandari opened #2355 "There's no migration guide for IWantQueuesCreated"
This interface was obsoleted in v6 but there's no migration guide for it.

[2016-12-22 11:26] HEskandari opened #2356 "Migration guide for transport seam incorrectly states IDispatchMessages as obsolete"
https://docs.particular.net/nservicebus/upgrades/5to6/extension-seams#transport-seam

[2016-12-22 17:54] #2356 closed

[2016-12-28 20:49] wyldebill opened #2361 "Feedback: Step by Step Sample - NServiceBus Samples"
Page: https://docs.particular.net/samples/step-by-step/?

For version 6.x of this page, under the Server section, there appears to be some copy from the version 5.x documentation.  The line that contains "The dependency injection system (which supports constructor or property injection) injects the IBus instance" is incorrect as version 6.x uses the new IMessageHandlerContext instead of the IBus p

[2016-12-29 09:36] ramonsmits commented on #2361
Thanks for the feedback @wyldebill

[2016-12-30 09:35] #2354 closed

[2017-01-04 10:14] #2361 closed

[2017-01-04 11:06] janovesk commented on #2159
Working on this now.

[2017-01-04 14:54] janovesk commented on #2159
[PR](https://github.com/Particular/docs.particular.net/pull/2367) ready.

[2017-01-05 07:15] janovesk commented on #2159
Closed by https://github.com/Particular/docs.particular.net/pull/2367

[2017-01-05 07:15] #2159 closed

[2017-01-05 07:15] SimonCropp commented on #2159
@janovesk thanks

[2017-01-05 11:17] nfdias opened #2370 "Typo error: Management using PowerShell - NServiceBus"
Page: https://docs.particular.net/nservicebus/operations/management-using-powershell#usage

There seems to be a typo here:

_If the module isn't available a restart the Windows session may be required for this change to to take effect._

I'm not an English native speaker but I believe the following is correct:

_If the module isn't available a restart to the Windows session may be required for thi

[2017-01-06 12:43] ramonsmits commented on #2370
@nfdias thanks for reporting, it will be corrected via https://github.com/Particular/docs.particular.net/pull/2371

[2017-01-06 12:43] #2370 closed

[2017-01-06 12:51] nfdias commented on #2370
There is still a typo in the end where it says:

for this change **to to** take effect.

[2017-01-13 09:35] ramonsmits opened #2372 "Should we adjust the menu on our corporate website to have Documentation listed under Support or even its own item?"
![image](https://cloud.githubusercontent.com/assets/152998/21925078/b79c3492-d973-11e6-95ba-f9dbc3cea9c0.png)

[2017-01-13 09:46] SimonCropp opened #2373 "RabbitMQ: what guide?"
this page
https://docs.particular.net/nservicebus/rabbitmq/cluster

has

and

what "guide". can we have a link?

[2017-01-13 09:46] SimonCropp commented on #2373
ping @Particular/rabbitmq-transport-maintainers

[2017-01-13 09:55] ramonsmits commented on #2372
Moved: https://github.com/Particular/Website.Frontend/issues/524

[2017-01-13 09:55] #2372 closed

[2017-01-13 16:53] indualagarsamy opened #2375 "Using Data Distribution using NServiceBus"
In a discussion earlier today with @DavidBoike and @udidahan and others in the unconference session, @udidahan mentioned that Data Distribution is a different style of architecture.

Step 1: Add a disclaimer in the sample:
https://docs.particular.net/samples/routing/data-distribution/
https://docs.particular.net/nservicebus/azure/data-distribution

~~Step 2: Come up with a general guidance for the

[2017-01-13 17:48] adamralph commented on #2373
@SimonCropp both references to the guide refer to the link at the beginning of the page:

![image](https://cloud.githubusercontent.com/assets/677704/21939601/716d697e-d9b8-11e6-9268-03192f5ffddc.png)

Should we repeat the hyperlink?

[2017-01-13 18:20] SzymonPobiega commented on #2375
@indualagarsamy @udidahan here's the issue where we discussed the subject: https://github.com/Particular/NServiceBus/issues/3495#issuecomment-197751542. TL;DR is that in Azure transports for NSB 5 there was a possibility of doing data distribution. The sample is there to show how the same thing can be done when they upgrade to NSB 6. The https://docs.particular.net/nservicebus/azure/data-distribut

[2017-01-13 21:39] fourpastmidnight opened #2376 "Feedback: Managing Instances via PowerShell - ServiceControl"
Page: https://docs.particular.net/servicecontrol/installation-powershell

This documentation is very poor. I thought, OK, perhaps loading the module into a PowerShell session and performing a `get-help -Full <ServiceControl_cmdlet>` would get me more detailed information. Alas, no, it's even more scant than what's available on the website. And what's worse is the website doesn't even detail all th

[2017-01-15 09:28] udidahan commented on #2375
I suggest opening up a new issue to cover the creation of the architectural guidance.

[2017-01-16 07:24] weralabaj commented on #2376
Hi @fourpastmidnight, thank you for taking the time to provide this feedback. It's really useful for us!

As for addressing your concerns. I was considering listing all parameters in the documentation, but that might get outdated and become confusing pretty quickly. On the other hand we make sure that all the parameters have descriptions and other required metadata in code, so seems using built-in

[2017-01-16 07:42] timbussmann commented on #2345
closed by #2347

[2017-01-16 07:42] #2345 closed

[2017-01-16 12:11] fourpastmidnight commented on #2376
I agree documentation _could_ get out of date on the website, but I would counter that 1) this is the nature of software and 2) since this software is paid software, I expect things like this to be documented. Now, I do have a few suggestions that might help.

First, `sc-help`, I believe, already does what you suggest in #2378. But, when looking at the help for individual PowerShell cmdlets, littl

[2017-01-16 12:38] weralabaj commented on #2376
Just to clarify, are you referring to my comment in the PR or did you also have a look at [the changes in files](https://github.com/Particular/docs.particular.net/pull/2378/files#diff-d2d3f21194d6108972a7c66fe5231c4eR50)?

Either way my thinking was that `get-help [ServiceControl Management command]` gives you high-level info on what parameters are available (including possible enum values, which

[2017-01-16 14:24] fourpastmidnight commented on #2376
I apologize, naming the offending cmdlet would've been helpful. The offending cmdlet is `New-ServiceControlInstance`. I also need to look more closely at the commits behind #2378, I didn't have a chance to fully review it this morning.

I just discovered something that may be the problem! I was using the Windows PowerShell ISE to view the help content in a window. When viewing the help in the ISE

[2017-01-16 17:44] fourpastmidnight commented on #2376
I also now see the enum values in the general syntax above....it's really hard to see (which explains why I keep missing it) and it would be more helpful to have that information in the parameter description, too (e.g. for `-Transport`).

[2017-01-16 20:58] SeanFeldman commented on #2276
We need to resolve the discussion in PR associated with this issue ( #2143 )

[2017-01-17 08:08] adamralph opened #2380 "Inconsistent behaviour of top level menus"
I'm not sure exactly which click sequences do what, but the expanding/collapsing behaviour seems inconsistent. Note how sometimes only the menu item being clicked expands, leaving other menu items expanded, and sometimes it collapses the other menu items.

<img src="https://cloud.githubusercontent.com/assets/677704/22012471/7966c97a-dc94-11e6-847b-bb2cb425db2a.gif" width="268" />

[2017-01-17 08:20] adamralph opened #2381 "Align top level menu items across SI, SP, and SC"
*From https://github.com/Particular/OptimizeTrialExtensions/issues/127#issuecomment-273045215*

<img src="https://cloud.githubusercontent.com/assets/677704/22011989/22375f7c-dc92-11e6-985c-97e2708b850d.png" width=146 />

<img src="https://cloud.githubusercontent.com/assets/677704/22012002/31a469aa-dc92-11e6-855e-b5bf2561f9e5.png" width="130" />

<img src="https://cloud.githubusercontent.com/assets

[2017-01-17 08:20] adamralph commented on #2381
@Particular/serviceinsight-maintainers @Particular/servicecontrol-maintainers thoughts?

[2017-01-17 08:22] adamralph opened #2382 "Add license installation docs for SC and SP"
*from https://github.com/Particular/OptimizeTrialExtensions/issues/127#issuecomment-272943415*

SI has [a page about license installation](https://docs.particular.net/serviceinsight/license) but SC and SP have none. Should they?

/cc @Particular/servicecontrol-maintainers

[2017-01-17 08:36] WilliamBZA commented on #2382
Duplicate of https://github.com/Particular/docs.particular.net/issues/2381? Do we really need 2 issues for this?

[2017-01-17 08:44] adamralph commented on #2382
@WilliamBZA we can align the top level menu items (as described in #2381) without adding license installation docs for SC and SP.

[2017-01-17 08:49] WilliamBZA commented on #2382
I think the first step should be to decide if it even makes sense to align the top level menu items. Off the top of my head, this issue needs a bit more though though as SP doesn't _actually_ have a license file so does it make sense to have a license installation doc?

I would prefer some thought going into #2381 first before opening smaller issues to action work that may not be necessary.

Can w

[2017-01-17 09:05] adamralph commented on #2382
For me the two issues are orthogonal, but if the preference is to combine them then I don't mind.

[2017-01-17 14:05] WojcikMike commented on #2381
I think that being more consistent might make the experience better. I like the change

[2017-01-17 18:58] SimonCropp commented on #2380
@adamralph this should be in the docsengine repo

[2017-01-17 23:31] gbiellem commented on #2382
ServiceControl already has a licensing docs page -> https://docs.particular.net/servicecontrol/license

[2017-01-18 00:10] SimonCropp commented on #2380
duplicate of https://github.com/Particular/DocsEngine/issues/213

[2017-01-18 00:10] #2380 closed

[2017-01-18 01:12] #491 closed

[2017-01-18 01:13] SimonCropp commented on #161
given the current state of persisters i no longer think this is worthwhile

[2017-01-18 01:13] #161 closed

[2017-01-18 23:11] #1889 closed

[2017-01-19 02:24] mikeminutillo commented on #2381
I agree with the problem statement. What does the solution look like? We don't really have intro content for SC.

[2017-01-19 02:47] gbiellem commented on #2376
@fourpastmidnight thanks for pointing this out.  Seems you have uncovered a bug for us. We do have an external XML help file for the PS module but it is not being included in the MSI install.  I'll correct that and also review the PS help content

[2017-01-19 07:19] mikeminutillo commented on #2382
This gets a bit complicated with SC/SP.

ServiceControl is not officially covered by our [licensing policy](https://particular.net/licensing) and ServicePulse is effectively an HTML/JS app which does not rely on a license file. Despite that, SC will not start without a valid license file and SP must be connected to a running SC instance in order to be of any use. In effect, the license file instal

[2017-01-19 12:08] fourpastmidnight commented on #2376
Awesome, thanks so much!!

[2017-01-19 12:20] adamralph commented on #2381
SP's "Introduction" node looks shaky. It has "Installation" under it, where SC has "Installation" under "Configuration".

Perhaps we should put all the third level (e.g. "Installation") and fourth level nodes into a single list, group them into appropriate second level nodes (e.g. "Configuration") and then pull them apart again into the top level nodes (i.e. SI/SP/SC)?

[2017-01-20 12:09] andreasohlund opened #2389 "Create doco and sample for native ASQ integration"
Since this soon will be possible:

https://github.com/Particular/NServiceBus.AzureStorageQueues/pull/160

[2017-01-22 04:51] #2373 closed

[2017-01-23 07:33] WilliamBZA commented on #2381
Is this big enough to require a TF?

[2017-01-23 07:39] gbiellem commented on #2382
@mikeminutillo the website is being updated to reflect the fact that SC is part of the licensing - See https://github.com/Particular/Website.Frontend/issues/480

[2017-01-23 07:40] mauroservienti commented on #2182
I need to opt out of this, my schedule says I won't be available till the 3rd week of February. Sorry 😢

[2017-01-23 15:48] SimonCropp commented on #2355
@Particular/nservicebus-maintainers can u chime in here?

[2017-01-24 01:03] SimonCropp commented on #2381
from my perspective "the best menu structure for the given product context" trumps "we want it to be consistent". having said that i dont think much thought went into the current structure for the products so i am happy for @Particular/servicecontrol-maintainers and @Particular/serviceinsight-maintainers to restructure on what they think is the best menu and if they happen to be consistent that is

[2017-01-24 07:50] danielmarbach commented on #2355
We currently have https://docs.particular.net/nservicebus/upgrades/5to6/extension-seams#queue-creation which is indeed very scarce. I'll send in a PR

[2017-01-24 20:44] andreasohlund commented on #1647
Pretty sure https://github.com/Particular/docs.particular.net/pull/2374 addressed this?

[2017-01-25 03:21] #1647 closed

[2017-01-26 20:43] #2355 closed

[2017-01-27 12:47] vahid8261 commented on #2352
I am suing this sample to use automatic routing. No subscriber is receiving events they subscribe to when using this sample code for automatic routing.  Please let me know how can we fix this ?

[2017-01-27 13:25] HEskandari commented on #2381
Generalizing everything under Installation, Introduction and Configuration, here's how it will look. Note that I have moved the pages onto appropriate sections as I saw fit. Please modify as you seem fit.

The 'Getting started' in SI is the same page as the product landing page. All the other products also have a similar page that contain an overview of the product.

### ServiceInsight
  - Install

[2017-01-27 15:01] adamralph commented on #2381
A couple of observations:

- I'm not sure that "Introduction" is the best term for the top level section. Introduction to what? Perhaps "Usage"?
- I'm not sure everything under the previous SC "Management" should go into "Configuration". E.g. compacting RavenDB doesn't sound like configuration.

I'm finding it quite nice to play around with the levels in this spreadsheet, which allows you to sort

[2017-01-31 04:36] SimonCropp commented on #2350
@joseph991229 hoping you could clarify you question a little. see @SzymonPobiega question above

[2017-02-01 02:28] #2307 closed

[2017-02-01 02:34] gbiellem commented on #2376
@fourpastmidnight ServiceControl 1.34 has been released. It contain the updated help files

[2017-02-01 02:34] #2376 closed

[2017-02-01 23:48] #2350 closed

[2017-02-01 23:49] #2276 closed

[2017-02-02 20:28] fourpastmidnight commented on #2376
@gbiellem Wow, that looks great. I especially found illuminating, the acceptable range of ports for ServiceControl. I expected it to be 0 - 65535 (in lieu of any documentation)--granted, 0 doesn't make must sense, but not being able to specify a port above 49151 was not expected; and so it's great that this documentation is readily available via the PowerShell help.

Thanks so much for getting the

[2017-02-06 01:11] #2174 closed

[2017-02-06 16:17] DavidBoike opened #2410 "Guidance on data distribution"
In a [Lisbon unconference session](https://github.com/Particular/Lisbon2017.Unconference/issues/24), we talked about data distribution being a different style of architecture that is not best handled using asynchronous messaging, and adjusting our docs site to make that clear.

#2375 covers adding a warning disclaimer.

This issue revolves around developing general guidance for the comparison of m

[2017-02-06 16:17] DavidBoike commented on #2375
Raised #2410 to cover the data distribution guidance.

[2017-02-06 16:25] DavidBoike opened #2411 "Azure "data distribution" article has issues"
The Azure section contains an article called [Data distribution](https://docs.particular.net/nservicebus/azure/data-distribution) but it's got some issues:

* The [V6 version](https://docs.particular.net/nservicebus/azure/data-distribution), which is (currently) default, doesn't really say much _at all_ and then links to the other sample, which is not even an Azure sample. As it stands now, the V6

[2017-02-06 16:26] DavidBoike commented on #2375
Raised #2411 to review the content of the Azure data distribution article.

[2017-02-07 16:46] outofcoolnames opened #2412 "Feedback: Custom Recoverability Policy - NServiceBus"
Page: https://docs.particular.net/nservicebus/recoverability/custom-recoverability-policy
Hi,
There is a spelling error on the tooltip text on the DelayedDeliveriesPerformed property of NServiceBus.Transport.ErrorContext
![tooltip text on delaydeliveriesperformed](https://cloud.githubusercontent.com/assets/6042780/22701081/8eab2954-ed54-11e6-97cb-744570bb16d1.jpg)
Class definition:
`// Summary:

[2017-02-07 17:18] DavidBoike commented on #2412
Hi @outofcoolnames, thanks for reporting this! I raised a pull request to fix this in the NServiceBus core here: https://github.com/Particular/NServiceBus/pull/4462

[2017-02-07 17:18] #2412 closed

[2017-02-08 22:35] #2375 closed

[2017-02-09 22:09] HEskandari opened #2423 "Clarify requirements of SagaAudit plugin"
Saga Audit requires on audit queue. There's no mentioning of it in the documentation page and the snippet shown [here](https://docs.particular.net/servicecontrol/plugins/saga-audit).

Connects to Particular/ServiceControl.Plugin.Nsb6.SagaAudit#22

[2017-02-13 08:49] andreasohlund opened #2433 "Document the new DLQ default for MSMQ messages with TTBR"
In v6.2 messages with TTBR set will default DLQ to off to avoid filling disk

* Review and update MSMQ doco to state this

* Upgrade guide for v6.2?

[2017-02-13 09:00] weralabaj commented on #2381
We could use "overview" instead of "introduction"? that would be consistend with other sections

@HEskandari do you want to take care of it?

[2017-02-14 03:05] distantcam commented on #2381
"Features"?

[2017-02-14 03:17] HEskandari commented on #2381
@distantcam "Feature" could be applied to some, but not all of what's under SI, e.g. "Data not available" is not really a feature, unless moved/changed.

[2017-02-14 08:04] adamralph commented on #2381
We discussed this in the @Particular/serviceinsight-maintainers sync this morning and we think it may be better to withdraw this since the value of aligning the menu structure across the three products seems to be low. We would like to improve the SI menu structure but we can take care of that separately. Any objections?

[2017-02-14 08:22] weralabaj commented on #2381
not on my side :)

[2017-02-14 20:12] bording opened #2446 ""Avoiding partial updates" section of Transport Transaction page in the wrong place"
The "Avoiding partial updates" section of the core v5 [Transport Transactions](https://docs.particular.net/nservicebus/transports/transactions?version=core_5#avoiding-partial-updates) page shouldn't be a top-level section, because it is only relevant for the "Transport transaction" mode. In fact, the text even says "In this mode there is a risk of partial updates", which makes me believe this was

[2017-02-15 08:24] #2381 closed

[2017-02-15 16:06] SeanFeldman opened #2448 "Verification of smoke tests"
Currently, any maintainer group that releases one of the packages also submits a documentation PR.

@Particular/azure-maintainers group assumes that doco PR work also includes smoke testing.

Questions:

1. How does it work for other maintainer groups?
1. How can we improve the process to ensure smoke testing is addressed w/o the need of @Particular/docs-maintainers to chaise other maintainers to

[2017-02-17 14:52] daerath commented on #1583
We're in the process of upgrading and we just ran smack into this issue.  I don't see documentation detailing how to accomplish this type of split-hosted configuration that allows for non-cloud hosted (including not using the emulator) when running locally (e.g. F5 debugging) and Azure hosting when deployed as an Azure Cloud Service.

If the documentation exists can you provide the link that detai

[2017-02-17 15:27] adammodlin commented on #1583
Agreed with @daerath , it would be great if you had any prototype or initial documentation even if it's not website ready. We've spent a considerable effort upgrading from 5 to 6 and ran into this unexpected issue right near the end of our upgrade.

[2017-02-17 15:44] yvesgoeleven commented on #1583
Thank you for confirming our initial concerns @daerath and @adammodlin sadly enough we do not have any document at this point. We'll take this into consideration for prioritizing our work.

[2017-02-20 08:37] SzymonPobiega commented on #2446
@bording It is applicable to all levels below TransactionScope, so it is similar (in scope of applicability) to the outbox. That's why it is a top level item. But I agree that the intro sentence is probably effect of bling copy-paste. I'll fix it.

[2017-02-20 08:56] SzymonPobiega commented on #2446
@bording addressed by https://github.com/Particular/docs.particular.net/pull/2454

[2017-02-20 08:56] #2446 closed

[2017-02-20 16:59] bording commented on #2446
@SzymonPobiega The only level below TransportTransaction is "Transactions Disabled" so I don't really see how that's relevant there.

Also, if you look at the snippet's showing TransportTransaction mode.

[2017-02-21 21:30] SeanFeldman commented on #1583
@daerath @adammodlin sorry for such a delay. I'm working on the doco to ensure this is captured and documented. Meanwhile, get you going, these are the things that you can do:

1. Use [NServiceBus.Hosting.Azure.HostProcess](https://www.nuget.org/packages/NServiceBus.Hosting.Azure.HostProcess) rather than NServiceBus.Host
1. For local debugging (F5) add an external program from the package in #1. T

[2017-02-21 21:45] adammodlin commented on #1583
Thanks @SeanFeldman . Any reason why you suggest running without CS emulator?

[2017-02-21 21:48] SeanFeldman commented on #1583
@adammodlin if you need to debug your endpoint(s) locally and you need a fast startup time rather than waiting for CS emulator to spin up, this approach helps. The sole issue was raised to address it.

[2017-02-21 21:50] adammodlin commented on #1583
@SeanFeldman Ah I see, so running the CS emulator locally will not allow us to debug? We will give this a shot.

[2017-02-21 21:53] SeanFeldman commented on #1583
@adammodlin CS emulator is always a local operation. It will allow you to debug, but it takes time to spin up (ie deploy your CS endpoint, run through CS code and start it). When you need a lightweight way to spin up your CS-based service, NServiceBus.Hosting.Azure.HostProcess.exe can do it. Same approach was used with NSB v5, just then `IConfigureThisEndpoint` was a part of a shared NSB core libr

[2017-02-22 00:04] #1583 closed

[2017-02-22 00:24] SeanFeldman commented on #1583
**Update**
- Documentation has been updated ([link](https://docs.particular.net/nservicebus/hosting/cloud-services-host/running-without-emulator))
- [Azure host 7.0.2](https://groups.google.com/forum/#!topic/particularsoftware/oTvwJegc1eM) has been released to remove the workaround mentioned [here](https://github.com/Particular/docs.particular.net/issues/1583#issuecomment-281487250)

[2017-02-22 10:17] outofcoolnames opened #2463 "Feedback: MS SQL Server Scripts - Sql Persistence"
Page: https://docs.particular.net/nservicebus/sql-persistence/sqlserver-scripts
Hi,
Our DBAs really despise nvarchars, would varchars suffice? I've scripted out a DB from SQL Server using DBGhost after changing to SQL Persistence and I'd need to justify why the columns need to be nvarchar.
Thanks

[2017-02-22 10:29] SimonCropp commented on #2463
@outofcoolnames we went back and forth on this in discussions.

We ended up on deciding to go with nvarchar for several reasons

 * sensitivity to cultures that have a complex character sets
 * saga type names can be Unicode
 * saga correlation property names can be Unicode
 * saga correlation property values can be Unicode
 * message correlation property names can be Unicode
 * message correlatio

[2017-02-22 11:00] outofcoolnames commented on #2463
Hi @SimonCropp ,
Thanks for the quick reply. Our DBA despises them as they are wasteful of data (using twice the amount of storage as varchar) and in our scenario (english speaking) it's just not needed.
### Specific columns I would argue over:
* TimeoutData.Headers being [nvarchar] (MAX). This is huge: [http://stackoverflow.com/questions/11131958/what-is-the-maximum-characters-for-the-nvarcharmax

[2017-02-22 11:15] SimonCropp commented on #2463
`(MAX)` is only huge if you store a huge amount of data in it. The links you quoted are the potential max size. if you do not think you will get close to them then that information does not apply.

We use `Max` since from a framework perspective we cant make any reasonable expectations of how big those fields are expected to be. And there seemed to be no downside to choosing `Max`

If you would st

[2017-02-22 11:36] outofcoolnames commented on #2463
That's fair enough, If our DBAs still kick up a fuss, I may raise an issue.
I've raised that issue regarding the extended properties in [https://github.com/Particular/NServiceBus.Persistence.Sql/issues/28]()

[2017-02-22 11:36] #2463 closed

[2017-02-22 11:38] SimonCropp commented on #2463
thanks for the feedback. and the issue raise

And yes if it becomes a larger issue with your DBA then raise an issue requesting it be configurable

[2017-02-22 14:43] ktheeten commented on #2328
Any update on this?  I'm very interested to see this explained.

[2017-02-22 16:11] SeanFeldman commented on #2328
We're working on it.

From NSB point of view, there are a few routes:

1. "Traditional" approach (running multiple stateless instances of a service with external persistence)
1. Statefull approach, where services are partitioned and data is sharded.
1. Guest executables

For `#1` statefull services can be using self-hosted approach. Endpoint initialization, start, and stop would happen in a [`ICom

[2017-02-22 18:07] SeanFeldman opened #2464 "Core settings"
One of the ways NSB Core communicates information with downstream projects is via SettingsHolder, a.k.a. `Settings`. Settings are accessible via `Features` and public APIs such as transports. We don't have any documentation on what "public" information is available via `Settings`.

Some examples:

[code]

Would it help if the settings / settings keys would be documented @Particular/nservicebus-mai

[2017-02-22 18:08] SeanFeldman commented on #2464
/cc @boblangley

[2017-02-23 07:00] timbussmann commented on #2464
strongly against documenting the settings-keys, that would be terrible from an API versioning perspective. The extension method could be documented though.

[2017-02-23 07:03] SeanFeldman commented on #2464
@timbussmann I'll clarify it - the intent is for all the extension methods that are already public, but only available if you happened to know those. Suggested documenting relates to those.

[2017-02-23 12:02] ChristianJensen commented on #2328
We are running #1 and it works great so far.

One question though: Is it possible to start/stop a logical NServiceBus endpoint running on multiple nodes in an Azure Service Fabric cluster? There is not way to do this using the Azure Service Fabric Cluster Manager. We would like to take a logical NServiceBus endpoint (Gateway service)  offline while doing maintenance on backend systems to temporari

[2017-02-23 19:06] SeanFeldman commented on #2328
@ChristianJensen good question. Optimally, this would be done via invocation of `ICommunicationListener` on all instances. This would make a great SF feature. For NSB it would be a question of "aside from SF, is this a feature that could be used with the platform as a whole". Assuming you have a ServiceControl, would you be able to perform the same action with endpoints running on SF (or anywhere

[2017-02-23 19:10] SeanFeldman commented on #2328
That request has already been made :) https://feedback.azure.com/forums/293901-service-fabric/suggestions/13714473-ability-to-stop-disable-services-without-removing

[2017-02-24 04:09] mikeminutillo opened #2470 "Document lack of support for MSMQ Public Queues"
We had a customer asking about MSMQ Public Queue Support. Looking through the code it looks as if we do not support this as we always translate addresses so that they contain `\private$\`. When I searched for this on the doco site I couldn't find reference to it. I don't know if [Remote Queues](https://docs.particular.net/nservicebus/msmq/#remote-queues) are the same thing as Public Queues?

On V5

[2017-02-24 04:12] mikeminutillo commented on #2470
Can the @Particular/nservicebus-maintainers take a look at where to document this please?

[2017-02-24 04:58] indualagarsamy commented on #2470
@mikeminutillo - Public Queues require Active Directory. Also there are additional constraints on the domain controller as well for public queues to be working right. We have never had support for public queues, since the original days of NServiceBus.

[2017-02-24 07:06] andreasohlund commented on #2470
👍

Question is what reason do we state for not supporting?

In the past the reason was that MSMQ didn't support remote transactional receives but that is no longer true since MSMQ 4.0. So what reason do we give?

[2017-02-24 07:38] SzymonPobiega commented on #2470
@andreasohlund some time ago I tried to setup remote receives on AWS but failed with DTC problems. Remote receives require DTC instances on both ends.

As for public queues, I don't have any experience.

[2017-02-24 07:46] andreasohlund commented on #2470
Agreed, but we require DTC anyway for the default MSMQ+SqlServer combo so this would not be a reason to not support public/remote queues?

[2017-02-24 07:57] SzymonPobiega commented on #2470
@andreasohlund I am not saying we should not support it. I think it would actually be a great thing to do in my opinion (if it worked). Just saying I tried and failed.

In fact this would be an amazing tool for DevOps because it would allow easier endpoint decommissioning.

[2017-02-24 10:25] ramonsmits opened #2472 "Add session ID message to distributor doco to make it SEO discoverable and add info from GG post to it"
NServiceBus.ReadyMessageSender SKIPPED Ready message for message with id 3c226a0e-8b8a-4b0b-a29d-a72200a04815 because of sessionId mismatch. MessageSessionId 3d2f76fc-f969-4d8e-b2df-322c67b174c4, WorkerSessionId 7ba4cff7-5040-4a33-bcb0-1029e248049c

any advice ?

https://groups.google.com/forum/#!topic/particularsoftware/x-hEX1_UgjY

[2017-02-24 11:46] timbussmann commented on #2470
should we raise an issue in nsb/pdev to investigate this?

[2017-02-24 13:16] ChristianJensen commented on #2328
@SeanFeldman Would it be recommendable to host a management NSB endpoint in the same process as our Gateway service NSB endpoint and send control messages to this management NSB endpoint to start/stop the Gateway NSB endpoints across all nodes in our SF cluster? How would we guarantee all management NSB endpoints would receive the control messages across all nodes?

[2017-02-24 20:08] daerath commented on #1583
Thank you!  We have the new host .exe working.  Yay!

[2017-02-24 20:52] indualagarsamy opened #2473 "NHibernate Persistence - Clarify what tables need to be created for deployment"
Currently we have documentation here:
https://docs.particular.net/nservicebus/nhibernate/#generating-scripts-for-deployment

However, it does not sufficiently describe what tables are needed and left up to the user to turn on / off certain features in order to see what tables are used or might be needed.

In certain environments, allowing the endpoints to automatically create the necessary tables

[2017-02-24 20:58] indualagarsamy commented on #2473
ping @Particular/nhibernate-persistence-maintainers

[2017-02-24 21:36] ericburcham-eprod commented on #2473
These are remarks invited in email from the Particular support team.  I have replied to them via email, but am duplicating them here for posterity...

The description is insufficient in general, though you might be best served to use two issues:
1.	For documentation.
2.	For an NServiceBus.NHibernate persister feature.

The fundamental problem I'm trying to address is not to get a list of tables, b

[2017-02-24 21:45] indualagarsamy commented on #2473
@ericburcham-eprod  - I have updated the issue description.
Yes, my goal for raising the issue in docs is to have the necessary SQL also posted to help create the tables. I should have clarified that much better! Thanks again.

[2017-02-24 21:52] indualagarsamy opened #2474 "The scripting documentation for NHibernate.Persistence is inadequate"
The current documentation we have for scripting the SQL for NHibernate is
https://docs.particular.net/nservicebus/nhibernate/scripting

It lacks a proper introduction, it also lacks all the other needed scripting such as creating the tables necessary for Persistence for timeouts, subscription, gateway, etc.

Relates to: https://github.com/Particular/docs.particular.net/issues/2473

[2017-02-24 21:52] indualagarsamy commented on #2474
ping @Particular/nhibernate-persistence-maintainers

[2017-02-26 09:22] Niklas-Peter opened #2475 "Feedback: DataBus - NServiceBus"
Page: https://docs.particular.net/nservicebus/messaging/databus/

You should mention which data types are allowed for the DataBus property (only `byte[]`, I think) and refer to https://docs.particular.net/samples/pipeline/stream-properties/ for transmitting larger amounts of data using a stream, i.e., without having to keep all the data in the memory.

[2017-02-26 15:02] Niklas-Peter opened #2476 "Feedback: NServiceBus Host"
Page: https://docs.particular.net/nservicebus/hosting/nservicebus-host/?

The headline `Roles - Built-in configurations` is still there, but the notes visible in the previous version of this article are disappeared.

[2017-02-26 16:10] Niklas-Peter opened #2477 "Feedback: Profiles For NServiceBus Host - NServiceBus Host"
Page: https://docs.particular.net/nservicebus/hosting/nservicebus-host/profiles

Section "Dependent profile behaviors": Is there a mismatch between the description and the sample code? The description mentions `IWantTheEndpointConfig`, but it is not in the code. In general, maybe you can improve the understandability of this section.

Section "Persistence": There are words in the table, which do n

[2017-02-26 20:08] indualagarsamy commented on #2477
Hi @Niklas-Peter - Thanks for letting us know. Yes, you're right. We will get this addressed.

[2017-02-26 20:12] indualagarsamy commented on #2476
@Niklas-Peter - Thanks again. We'll review our host documentation and fix the confusions.

[2017-02-27 03:44] mikeminutillo opened #2479 "Document hosting full duplex endpoint and web controllers in same host"
Spun out from https://github.com/Particular/docs.particular.net/pull/2424#issuecomment-278872635

We recommend that customers do not host message handlers/sagas in the same host as http request handlers. Some of the reasoning behind this is documented in [Publishing from Web Applications](https://docs.particular.net/nservicebus/hosting/publishing-from-web-applications).

It is also no longer possi

[2017-02-27 05:45] SeanFeldman commented on #2328
@ChristianJensen hosting the management in the same process as another endpoint could lead to the  management going down as a result of processing endpoint shutting down due to a critical error.

[2017-02-27 07:11] weralabaj commented on #2475
Thank you @Niklas-Peter for your feedback, I'll try to address your comments asap.

[2017-02-27 08:29] Niklas-Peter opened #2480 "Feedback: Steps, Stages and Connectors - NServiceBus"
Page: https://docs.particular.net/nservicebus/pipeline/steps-stages-connectors

Section "Other Pipeline Stages":
- "Transport Receive" stage is listed in both this section and in the previous section "Incoming Pipeline Stages".
- A [code search on GitHub for `IBatchDispatch`](https://github.com/Particular/NServiceBus/search?utf8=%E2%9C%93&q=IBatchDispatch&type=Code) yielded no result.

[2017-02-27 08:36] weralabaj commented on #2480
ping @Particular/nservicebus-maintainers does that article need an update?

[2017-02-27 09:50] ChristianJensen commented on #2328
@SeanFeldman Yeah, good point. Is there any recommended approach to solving this challenge with the current stacks and tool sets?

[2017-02-27 11:23] timbussmann commented on #2480
seems like it does need some update. Thanks for raising this @Niklas-Peter 👍

as the transport-receive stage is already documented, this can be removed which leaves the `IBatchDispatchContext` (instead of `IBatchDispatch`) left. Seems like this should be moved to the outgoing pipelines instead so we can remove the "others" section entirely. Thoughts?

[2017-02-27 17:17] Niklas-Peter opened #2482 "Feedback: Transport Transactions - NServiceBus"
Page: https://docs.particular.net/nservicebus/transports/transactions

Section "Transport transaction - Receive Only"

Which transport does that apply to? As far as I know, MSMQ will only really send the messages when committing the transaction. Or do you refer to failures during commit, that are not considered by 2PC, or the delay during commit of a distributed transaction, because some resources

[2017-02-27 17:37] Niklas-Peter opened #2483 "Feedback: Unit of Work - NServiceBus"
Page: https://docs.particular.net/nservicebus/pipeline/unit-of-work

Yes, I carefully read the article https://docs.particular.net/nservicebus/outbox/, but I still wonder what exactly the "Outbox transaction" is and which implications not wrapping it has.

Furthermore, in the article about the Outbox, why do you have to suppress the queue transaction for "Dispatch" and "Mark as dispatch"? These 2

[2017-02-27 19:39] indualagarsamy commented on #2482
@Niklas-Peter -  Thank you for your feedback.

That statement you mentioned is in the "Consistency Guarantees" in the "Transaction scope (Distributed transaction)" and not "Transport transaction - Receive Only".
This mode is only applicable for MSMQ and SqlTransport. See: [table for the transports' supported transaction modes](https://docs.particular.net/nservicebus/transports/transactions#transac

[2017-02-27 19:45] indualagarsamy commented on #2483
@Niklas-Peter - Thank you for your feedback. Much appreciated.

ping @Particular/nservicebus-maintainers - Can you please review the documentation and add more clarification to address @Niklas-Peter's questions?

[2017-02-27 19:59] Niklas-Peter commented on #2482
Yes, of course, I copied the wrong headline.

[2017-02-27 20:16] MarcinHoppe commented on #2482
This paragraph tries to convey an inconvenient truth about distributed systems in general and applies to both MSMQ and SQL Server transports running with the DTC:

Under the DTC consuming the incoming message, writing data to the data store and sending outgoing messages are atomic **from perspective of the message handler**. For external endpoints (e.g. endpoints that consume these outgoing messag

[2017-02-27 20:24] Niklas-Peter opened #2484 "Feedback: MSMQ Transport Configuration - MSMQ Transport"
Page: https://docs.particular.net/nservicebus/msmq/transportconfig

vs.

https://docs.particular.net/nservicebus/transports/transactions

[2017-02-28 06:37] weralabaj commented on #2480
@timbussmann I think we can remove the "others" section. Question though, is replacing behaviours in IBatchDispatchContext worse idea than replacing any other stage? Should we make a note about it?

[2017-02-28 07:04] #2476 closed

[2017-02-28 07:51] Niklas-Peter opened #2486 "Feedback: Routing topology - RabbitMQ Transport"
Page: https://docs.particular.net/nservicebus/rabbitmq/routing-topology

Is it not the other way around? derived types events also are moved to the exchanges for the base types

In section "Publishing using Direct Routing Topology" it is not mentioned at all how polymorphic dispatch is realized.

[2017-02-28 08:00] weralabaj opened #2487 "Review NServiceBus Host documentation"
We got some feedback on a couple of articles in this section https://github.com/Particular/docs.particular.net/issues/2477 and https://github.com/Particular/docs.particular.net/issues/2476, but upon closer look, it seems it needs even more attention.

E.g. the content structure doesn't make sense to me, why do we have three separate articles on profiles (profiles, logging profiles, more on profile

[2017-02-28 08:25] timbussmann commented on #2480
replacing behaviors is a bad idea in general, no need to differentiate imho. Will raise a PR.

[2017-02-28 08:34] tmasternak commented on #2482
@MarcinHoppe AFIK one of the production scenarios that comes to my mind is:
 1. We have two endpoints A and B, both using MSMQ and SqlServer for persistence
 2. Endpoint A uses DTC to
  a. Process incoming message `m_a`
  b. Create a saga instance `s`
  c. Publish an event `e`
 3. On transaction commit we have no control over order and delays between commits in resource managers (MSMQ and SqlServe

[2017-02-28 08:58] WojcikMike commented on #2486
@Particular/rabbitmq-transport-maintainers please respond

[2017-02-28 09:14] timbussmann commented on #2483
I agree with @Niklas-Peter , the statement about the outbox transaction is confusing. I tracked it down to the following issue: https://github.com/Particular/NServiceBus/issues/4134

so maybe something like

thoughts? /cc @tmasternak (you wrote that note I think)

if we would complete the queue transaction, the message is consumed. If then the dispatching fails, the consumed message will never be

[2017-02-28 09:34] Niklas-Peter opened #2488 "Feedback: Accessing data via NHibernate persistence - NHibernate Persistence"
Page: https://docs.particular.net/nservicebus/nhibernate/accessing-data

I am not familiar with NHibernate.
When accessing `context.SynchronizedStorageSession.Session()`: Which connection string is this session based on, because you can provide multiple connection strings, one per storage type?

[2017-02-28 09:44] tmasternak commented on #2483
@timbussmann I like it. From the user perspective the change in the behavior is that not all exceptions are visible in `IManageUnitsOfWork.End(Exception)`.

I think that the current [image](https://docs.particular.net/nservicebus/outbox/#how-it-works) in the doco is a legacy from V5. The reason why we used `Suppress Queue Tx.` vs. `Disptach Queue Tx.` is explicitly mentioned here is the fact that

[2017-02-28 09:45] SzymonPobiega commented on #2488
@Niklas-Peter this API uses the saga connection string.

[2017-02-28 16:51] Niklas-Peter opened #2492 "Feedback: Child Containers - NServiceBus"
Page: https://docs.particular.net/nservicebus/containers/child-containers?

Does the sample code in this article really belong to the text in the article?

UPDATE:
OK, probably the documentation is correct. However, the configured component in the sample code will only be scoped to a unit of work if it is resolved during message processing (not anywhere outside handlers/sagas), because NServiceBus

[2017-02-28 19:28] indualagarsamy commented on #2492
@Niklas-Peter - Thank you for all your feedback regarding our documentation.

@Particular/container-maintainers - Can you have a look and see how we can clarify this better?

[2017-02-28 20:28] bording opened #2493 "Follow up on RabbitMQ TLS settings content suggestions"
While #2366 has already been merged, there were suggestions for content tweaks that should still be considered.

[2017-02-28 22:37] #2493 closed

[2017-02-28 22:45] bording commented on #2486
@Niklas-Peter Looks like you've identified a couple problems with that page. You're correct that the relationship between the exchanges is the other way around.

Regarding the direct routing topology, it does support polymorphic dispatch through how the routing key is constructed (with the already mentioned on the page caveat with interfaces), so the page should mention that as well.

While lookin

[2017-03-01 14:20] Niklas-Peter opened #2495 "Feedback: ServiceControl Endpoint Plugins - ServiceControl"
Page: https://docs.particular.net/servicecontrol/plugins/

Maybe you should clarify, that ServiceControl must not be running all the time. Instead, only the queues must exist. Else it would destroy a lot of a bus architecture's robustness.

[2017-03-01 20:37] sfarmar commented on #2477
@weralabaj has a pull request in progress for this https://github.com/Particular/docs.particular.net/pull/2496

[2017-03-01 22:03] indualagarsamy commented on #2495
@Niklas-Peter - you are right. When the service control queue isn't configured but the plugins are installed, the code will throw the following exception:

"You have ServiceControl plugins installed in your endpoint, however, the Particular ServiceControl queue is not specified.
Please ensure that the Particular ServiceControl queue is specified either via code (config.HeartbeatPlugin(servicecontr

[2017-03-01 22:21] boblangley commented on #2495
I have updated the wording of the document's warning to be:

[2017-03-01 22:21] #2495 closed

[2017-03-01 23:38] SimonCropp commented on #2475
@Niklas-Peter this should now be addressed

[2017-03-02 02:32] indualagarsamy commented on #2488
@SzymonPobiega - is there anything in the document that we can add to clarify this better?

[2017-03-02 07:39] weralabaj commented on #2382
@adamralph  since #2381 was closed and we decided not to align the structure for now, what should we do with this issue? is this still relevant? also see updated licensing info on our website https://particular.net/licensing

[2017-03-02 07:42] weralabaj commented on #580
@mauroservienti is that still relevant? I'm thinking about replacing this issue with reviewing/updating this page https://docs.particular.net/nservicebus/persistence/authoring-custom, would that address your concern?

[2017-03-02 07:45] weralabaj commented on #135
@andreasohlund given that we're planning to get rid of NSB host is that still relevant? Should that be replaced by another issue or maybe could you update description to be more aligned with our current thinking?

[2017-03-02 07:48] weralabaj commented on #842
@Particular/servicecontrol-maintainers @mikeminutillo is that issue still relevant?

[2017-03-02 07:50] weralabaj commented on #866
@Particular/azure-maintainers can you take care of it?

[2017-03-02 07:52] weralabaj commented on #1189
@mauroservienti is that still relevant? anything to do here?

[2017-03-02 07:53] weralabaj commented on #1178
@timbussmann do you still think this

makes sense?

If so, can you take care of it?

[2017-03-02 07:54] weralabaj commented on #1167
@Particular/host-maintainers can you take care of it?

[2017-03-02 07:56] weralabaj commented on #1587
@Particular/nhibernate-persistence-maintainers @Particular/ravendb-persistence-maintainers is that issue relevant? any ideas on how to approach it?

[2017-03-02 07:57] mikeminutillo commented on #842
It is for V5. `IWantToRunWhenBusStartsAndStops` do not run for SendOnly endpoints. I'm not sure about V6.

[2017-03-02 08:02] weralabaj commented on #2448
@SeanFeldman not sure what you're after here. Generally, when reviewing PRs for upgrading packages we ask if smoke testing has been done, from time to time we remind people to do it, some remember about it, some not ;)

I think it's a matter of habit, and after a few reminders people remember to do this without intervention.

Does that answer your question?

[2017-03-02 08:03] weralabaj commented on #2470
@andreasohlund @timbussmann @SzymonPobiega can you decide on the PoA for this issue? does that belong here or should be moved to PlatDev?

[2017-03-02 08:04] weralabaj commented on #2389
@Particular/azure-maintainers is that issue relevant? can you take care of it in the near future?

[2017-03-02 08:04] weralabaj commented on #2464
@timbussmann have you just volunteered for this work? :)

[2017-03-02 08:06] weralabaj commented on #2423
@HEskandari can you address this issue? Seems to me that simply adding a Note/Warning with one or two sentences should be enough?

[2017-03-02 08:08] weralabaj commented on #842
OK then could that be done under @Particular/servicecontrol-maintainers budget?

[2017-03-02 08:09] weralabaj commented on #2352
@ramonsmits @SzymonPobiega is that issue still relevant or has it been addressed?

[2017-03-02 08:13] weralabaj commented on #2169
ping @indualagarsamy

[2017-03-02 08:14] weralabaj commented on #2170
@andreasohlund @SimonCropp can either of you review this page? if not, who would be a good person to chase?

[2017-03-02 08:16] weralabaj commented on #2166
@boblangley I'm not sure what were the problems you hit, but are you still interested in working on this? If so how could I help?

I think some kind of high-level introduction to the topic, like here https://docs.particular.net/nservicebus/hosting/, or here https://docs.particular.net/nservicebus/pipeline/
is what we're after.

[2017-03-02 08:19] MarcinHoppe commented on #1587
@weralabaj From NH standpoint, I think this issue is relevant. No clear idea how to approach it yet.

I do believe that it would be a good move to split this into NH and Raven specific parts.

[2017-03-02 08:20] weralabaj commented on #2022
ping @Particular/nservicebus-maintainers do you have capacity to take care of it now?

[2017-03-02 08:24] andreasohlund commented on #2389
I'll try to get this done next week

[2017-03-02 08:24] weralabaj commented on #2474
Related issue https://github.com/Particular/docs.particular.net/issues/1046

ping @Particular/nhibernate-persistence-maintainers can you take care of it under maintainers budget?

[2017-03-02 08:32] weralabaj commented on #1587
I think the first good step would be to clarify those three points before splitting:

@HEskandari do you have a specific example in mind (maybe a support case)?

Example?

- Do we want to encourage people to modify/migrate sagas or rather create new ones when requirements change? In what situations the first approach is better?

@HEskandari thoughts? ☝️

[2017-03-02 08:41] ramonsmits commented on #2352
@weralabaj Not sure, I see that @SzymonPobiega made this commit 2616eb8309e5ec98f98d050cbdc6c101e66ec7e5 so probably it is.

[2017-03-02 08:43] weralabaj commented on #2472
@ramonsmits can you handle this as you have all the context?

[2017-03-02 08:47] HEskandari commented on #2423
I think it depends on the outcome of the referenced SagaAudit issue. At the moment it is silently ignored, but it will change based on the agreement in Particular/ServiceControl.Plugin.Nsb6.SagaAudit#22

[2017-03-02 08:52] weralabaj commented on #2352
@ramonsmits just run the sample now

After starting Sales-1 and Sales-2 seems the messages are handled in the round-robin fashion.

Behaves as you described. Some messages are queued for sales-2 and get picked up by it after restarting. However, isn't that the expected behaviour?

[2017-03-02 08:56] MarcinHoppe commented on #2474
I am aware of it and plan to handle it. Given the current cardinality of @Particular/nhibernate-persistence-maintainers I encourage you not to expect wonders in terms of timeliness 😞.

[2017-03-02 08:59] weralabaj commented on #2423
Awesome, could you make a note in the https://github.com/Particular/ServiceControl.Plugin.Nsb6.SagaAudit/issues/22 to update docs once it's decided one way or another?

[2017-03-02 09:22] Niklas-Peter commented on #2475
Yes, it is. Thanks

[2017-03-02 09:22] #2475 closed

[2017-03-02 10:15] Niklas-Peter commented on #2483
@timbussmann Assumed, the handlers and the "Store recorded actions" were successful: Is the database transaction now committed independently from the receive transaction and the dispatching?
If the receive transaction is rolled back after committing the database transaction, the message will be retried. When receiving this message again, how do you prevent executing the business logic again while

[2017-03-02 10:59] timbussmann commented on #1178
I guess a sample would be the appropriate place to show this in case we don't already have one.
I can take care of it, but I can't give an ETA on it.

[2017-03-02 11:01] Niklas-Peter commented on #2483
If in previous versions the persistence transaction was wrapped by the unit of work, how did you realize this:

Are the 2 sections in https://docs.particular.net/nservicebus/pipeline/unit-of-work mutually excluding alternatives for unit of works or will there always be a `TransactionScope` wrapping the unit of work whilst  `IManageUnitsOfWork` is just an optional callback for the application to do

[2017-03-02 11:05] SzymonPobiega commented on #2484
Thanks @Niklas-Peter! Fixed.

[2017-03-02 11:05] #2484 closed

[2017-03-02 11:06] weralabaj commented on #1178
@timbussmann but isn't the reading from config file kind of a basic knowledge? I'm not sure if we need to show that. Or could we get away with a simple snippet?

[2017-03-02 11:07] Niklas-Peter commented on #2484
Do you have a source for this statement:

[2017-03-02 11:10] SzymonPobiega commented on #2484
@andreasohlund do you know the source?

[2017-03-02 11:11] SzymonPobiega commented on #2488
@indualagarsamy I reviewed the page but could not find a better way to express this.

[2017-03-02 11:12] timbussmann commented on #2464
@weralabaj nope, I already got enough doc issues on my plate.

[2017-03-02 11:53] andreasohlund commented on #2484
http://stackoverflow.com/questions/12462321/why-is-this-simple-msmq-transaction-escalated-to-dtc

[2017-03-02 12:26] tmasternak commented on #2483
This is correct.

Handler actions done in scope of db transactions, the outgoing messages and incoming messageId are stored in atomically. Thanks to that we can skip the handler processing part when we see the message with messageId second time and do the dispatch transaction only. If interested in the details [here](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Pipel

[2017-03-02 12:30] SzymonPobiega commented on #2352
I removed the failure detection to make the sample more clear and focused: https://github.com/Particular/docs.particular.net/pull/2503

[2017-03-02 12:37] mauroservienti commented on #580
yes, that would address the main concern. Feel free to close this one.

[2017-03-02 12:39] mauroservienti commented on #1189
Everything we need is listed here https://docs.particular.net/servicecontrol/servicecontrol-in-practice
I still believe, with no evidence, that we should link that page in the Platform Installer or find a better way to drive customers there

[2017-03-02 12:47] weralabaj commented on #1189
How about adding a warning/note box on this page https://docs.particular.net/servicecontrol/ with a link?

I'm concerned this is true for most of our documentation, so why this one is special? ;)

[2017-03-02 12:47] #580 closed

[2017-03-02 13:33] #2352 closed

[2017-03-02 13:47] tmasternak commented on #2483
I think that confusion comes from the `transaction` part here - it is inconsistently used in the doco. It refers to the `Db Tx.` on the [how it works](https://docs.particular.net/nservicebus/outbox/#how-it-works) page. What this statement means is that `Db Tx.` is committed after the `IManageUnitsOfWork.End` callback is called.

One of the ways to achieve `For example, committing ....` would be to

[2017-03-02 15:17] Scooletz commented on #2389
FYI The ASQ `7.1` has been staged for release and it's highly likely that it'll be published next week @andreasohlund

[2017-03-02 19:41] andreasohlund commented on #2470
Adding the doco section seems to be the immediate action? (The question still stands regarding what reason to give)

@timbussmann go ahead and raise a platdev issue if you feel strongly for the centralized queue idea

[2017-03-02 19:48] andreasohlund commented on #135
I'd say still relevant since this isn't tied to our host at all.

Perhaps this is covered by the launch wave? ( @Particular/launchwave-devopsadvancedmonitoring-squad )

[2017-03-02 20:46] adamralph commented on #2382
@weralabaj I'm content with @Particular/servicecontrol-maintainers @Particular/servicepulse-maintainers and @Particular/docs-maintainers making a decision on this.

[2017-03-02 21:44] Niklas-Peter opened #2508 "Feedback: Steps, Stages and Connectors - NServiceBus"
Page: https://docs.particular.net/nservicebus/pipeline/steps-stages-connectors

Does it mean that the code listings on this page, e.g., for `CustomStageConnector :  StageConnector<IOutgoingLogicalMessageContext, IOutgoingPhysicalMessageContext>` are valid, but would not do anything, because they can not be registered?

How?

[2017-03-02 23:27] gbiellem commented on #2382
I'm going to close it.  Reopen it if you disagree

[2017-03-02 23:27] #2382 closed

[2017-03-03 06:28] SeanFeldman commented on #2448
Azure maintainers took a different approach. We decided that our doco updates always assume smoke testing. Not sure about other groups.

[2017-03-03 06:28] #2448 closed

[2017-03-03 06:29] SeanFeldman commented on #866
The sample already contains explanation about date, so I'm closing this.

[2017-03-03 06:29] #866 closed

[2017-03-03 07:40] weralabaj commented on #2448
@SeanFeldman we'll get there one day, I hope, with everybody :D

[2017-03-03 07:43] weralabaj commented on #2470
Easiest would be to not give any, just say it works like this ;)

[2017-03-03 08:46] #2487 closed

[2017-03-03 08:46] weralabaj commented on #2487
Fixed in https://github.com/Particular/docs.particular.net/pull/2489, https://github.com/Particular/docs.particular.net/pull/2490 and https://github.com/Particular/docs.particular.net/pull/2496

[2017-03-03 08:47] weralabaj commented on #2477
@Niklas-Peter I've made a series of updates to the whole NServiceBus Host section, please see if now it's more reader-friendly and accurate. Once again, thank you for your feedback!

[2017-03-03 09:07] sergioc commented on #2382
In any case, it's already [documented for SC](https://docs.particular.net/servicecontrol/license), so it's only missing the article for SP.

[2017-03-03 09:31] sergioc commented on #2382
I've also done some improvements to https://docs.particular.net/servicepulse/installation in https://github.com/Particular/docs.particular.net/pull/2511

[2017-03-03 09:51] ramonsmits opened #2512 "Doco on transports and persistence isn't structured the same"
The transports are having their own heading. SHouldn't they be structure the same as the other components?

![image](https://cloud.githubusercontent.com/assets/152998/23546261/0cbea318-ffff-11e6-9f20-64a191528d9d.png)

[2017-03-03 10:27] weralabaj commented on #2512
@ramonsmits the problem is that there's much more content on transports and we don't support that much nesting in menu to make it readable

[2017-03-03 17:52] indualagarsamy commented on #2508
@Particular/nservicebus-maintainers  - can you review this documentation and see if it can be improved?

[2017-03-03 22:16] boblangley commented on #2492
@Niklas-Peter Thanks for raising this. You are correct, the sample code was not showing the intended `DependencyLifeCycle` for the the article. It should be `InstancePerUnitOfWork`.

[2017-03-03 22:16] #2492 closed

[2017-03-04 08:53] andreasohlund commented on #2389
The doco PR is merged and I'm starting to think that a sample is overkill?

To demo you would just use the code snippet in the docs and "paste a JSON string in the message body in Storage Explorer".

[2017-03-05 03:37] SeanFeldman commented on #2389
Can be converted into doco 😉

[2017-03-06 07:27] weralabaj commented on #2389
@andreasohlund is that much simpler than ASB (https://docs.particular.net/samples/azure/native-integration-asb/ and https://docs.particular.net/nservicebus/azure-service-bus/native-integration)?
If similar, then might make sense to have a sample, for the sake of consistency if nothing else ;)

[2017-03-06 08:16] danielmarbach commented on #2508
Hi @Niklas-Peter

Right now you can only replace existing elements. I will update the doco to make that clearer and ping you on this issue. Thanks for the feedback

Daniel

[2017-03-06 08:25] andreasohlund commented on #2389
It would be a bit simpler, just a single "receiver" project that has the custom unwrapper configured, then just a instruction to:

1. Open ServiceBus Explorer or you toll of choise
2. Paste this JSON in as a new message and notice how the endpoint process the message

That said I agree that it make sense to have a sample for consistency. Will send a PR

[2017-03-06 08:53] danielmarbach commented on #2464
@weralabaj If you help me to find a good location to put the doco I'm happy to do it

[2017-03-06 09:22] weralabaj commented on #2464
@danielmarbach Looking at it now, and I'm having a hard time coming up with something sensible. Various settings could be used in completely different contexts, so IMO it doesn't make much sense to have them all in one place.

We could just go over the settings and ensure they are documented somewhere, as some are not mentioned at all. So it'd probably make the most sense to decide on a case by ca

[2017-03-06 09:58] SimonCropp commented on #2512
this is by design since the each transport has enough content and depth pertaining to it that they warrant a higher level menu

[2017-03-06 10:14] ramonsmits commented on #2512
It still feels incorrect imho. It looks as if it incorrectly categorized but is this is all intensional then feel free to close this issue.

[2017-03-06 10:26] SimonCropp commented on #2512
@weralabaj  thinking some more about this i think we should move the persistences up. i think the current doco in persistence is fairly poor. and if we properly backfilled all the content it would be worth moving up one level. i know i intend to add significantly more doco to the sql persistence.

i also think the selection persistence, like transports, is significant decision that has long term r

[2017-03-06 10:43] weralabaj commented on #2512
fair enough, although it should look differently than current main menu items (organized around products)

[2017-03-06 10:45] SimonCropp commented on #2512
@weralabaj yeah my OCD doesnt like that either but i think it results in a better menu structure. and the result wont be ambiguous

[2017-03-06 12:06] timbussmann commented on #2483
@tmasternak do you know how to update the image as you proposed?

[2017-03-06 12:24] weralabaj commented on #1189
I added comment https://github.com/Particular/docs.particular.net/commit/be123887abc4984277edd4ba462af179c4b631d0 with a link, for now I don't see other quick wins.

[2017-03-06 12:24] #1189 closed

[2017-03-06 12:30] weralabaj commented on #2470
Fixed in https://github.com/Particular/docs.particular.net/pull/2516

[2017-03-06 12:30] #2470 closed

[2017-03-06 14:32] MarcinHoppe commented on #2474
@Particular/docs-maintainers Can we close this as a duplicate of #1046 and get together a TF for #1046?

The issues can be the other way around, just recognizing a duplicate.

[2017-03-06 14:48] weralabaj commented on #2474
sure

[2017-03-06 14:48] #2474 closed

[2017-03-06 14:48] weralabaj commented on #1046
ping @Particular/nhibernate-persistence-maintainers :)
let me know if I can help with pushign this forward

[2017-03-06 15:37] SeanFeldman commented on #2036
Multiple options, one of them is [NServiceBus.Raw](https://docs.particular.net/nservicebus/rawmessaging/)

[2017-03-06 15:41] SeanFeldman commented on #2411
A warning has been added to the content.
Need to review this doco.

[2017-03-06 15:46] SeanFeldman commented on #1434
This has been addressed (the new algorithm implemented by ASQ).
[Doco updated](https://docs.particular.net/nservicebus/azure-storage-queues/performance-tuning#parallel-message-retrieval) as well.

[2017-03-06 15:46] #1434 closed

[2017-03-06 15:58] #2508 closed

[2017-03-06 15:59] indualagarsamy commented on #2508
@Niklas-Peter - Thanks again for your feedback. @danielmarbach has addressed this and the documentation is now updated to reflect that.

[2017-03-06 16:24] SzymonPobiega commented on #1046
@weralabaj well, I guess what needs to be done is somebody has to configure the NHibernate for all the dialects we support and capture the generated scripts and add to the doco. I am still not convinced about the value of this exercise as the documented scripts would not contain the saga tables. So we are talking only about Outbox, Subscriptions and Timeouts.

[2017-03-06 18:45] SeanFeldman commented on #1256
Suggested approach to take is similar to [ASB](https://docs.particular.net/nservicebus/azure-service-bus/operational-scripting).
- [.NET API](https://docs.microsoft.com/en-us/azure/storage/storage-dotnet-how-to-use-queues)
- [REST API](https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/queue-service-rest-api)
etc

[2017-03-06 19:09] SeanFeldman commented on #1256
Moved to https://github.com/Particular/NServiceBus.AzureStorageQueues/issues/204.

[2017-03-06 19:09] #1256 closed

[2017-03-06 19:10] #2177 closed

[2017-03-06 19:14] SeanFeldman commented on #2411
Moved to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/503.

[2017-03-06 19:14] #2411 closed

[2017-03-06 19:17] SeanFeldman commented on #2036
Moved to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/504.

[2017-03-06 19:17] #2036 closed

[2017-03-06 19:20] SeanFeldman commented on #2239
Moved to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/505.

[2017-03-06 19:20] #2239 closed

[2017-03-06 19:22] SeanFeldman commented on #2240
Moved to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/506.

[2017-03-06 19:22] #2240 closed

[2017-03-06 19:24] SeanFeldman commented on #2241
Moved to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/507.

[2017-03-06 19:24] #2241 closed

[2017-03-06 21:17] SeanFeldman commented on #2464
Settings are often used for to extend NSB or with downstream to get information from the Core.
Having these sprinkled in various documents doesn't sound like a good approach imo.

[2017-03-07 08:52] Niklas-Peter opened #2523 "Feedback: Saga Timeouts - NServiceBus"
Page: https://docs.particular.net/nservicebus/sagas/timeouts

(https://docs.particular.net/nservicebus/sagas/message-correlation)

(https://github.com/Particular/NServiceBus/blob/18e4f48f34553206fc9ae9697ac12d93c19d6659/src/NServiceBus.Core/Sagas/Saga.cs#L126)

Is it safe to complete a saga instance with correlation key X and immediately start another saga instance with the same key X? I use a sag

[2017-03-07 10:08] weralabaj commented on #2464
@SeanFeldman given that they're related to so many different areas, and also some are declared as extension methods IMO it doesn't make sense to bundle them together either. also some of them are relevant only for people creating custom transport, persistence, some are more relevant for the "wider" public

If you could propose a specific draft, then it'd be easier to come up with something sensibl

[2017-03-07 10:10] weralabaj commented on #1046
Synced with @MarcinHoppe - the issue will be taken care of, but is not a top priority for maintainers, so probably we have to wait a bit.

[2017-03-07 10:43] udidahan commented on #135
I'd like to clarify something:

There hasn't yet been any decision to "get rid of the NSB host".

[2017-03-07 17:57] indualagarsamy commented on #2523
@Niklas-Peter - Thanks for your question.  Calling MarkAsComplete() will delete the saga entry from the persistence. When a saga is completed and you have a new message with the same correlation id, that should start a new saga instance.
I think the code comment needs to get updated.

@Particular/nservicebus-maintainers - please review and comment: https://github.com/Particular/NServiceBus/blob/18

[2017-03-07 18:37] SeanFeldman commented on #2464
@weralabaj what's the point of a draft if there's no agreement on the way of grouping the doco?
My point was that it's all going to be scattered in various documents. So when looking at the `Settings` and asking "what can I get out of it" when implementing X", it will not be helpful that individual methods are covered by N various documents.

[2017-03-08 08:11] weralabaj commented on #2464
@SeanFeldman the point of having a draft is to see what you're proposing. IMO if we have everything in one place, then some settings will be hard to understand as there's no context in which they'll be used. One setting is for persistence, another for transport, yet another for endpoint name.

But I'm happy to be proven wrong, hence the idea of having a draft.

[2017-03-08 15:24] timbussmann commented on #2483
as #2519 is merged I think the feedback is addressed. I still like @tmasternak proposal to update the image, but I don't know whether there is some kind of editable file to regenerate the image, so I'll unassign myself and hand this back to @Particular/docs-maintainers.

[2017-03-08 15:30] timbussmann commented on #1178
closing this. So far the obsoletion note seems to be way docs maintainer agreed on and according to @weralabaj there doesn't seem to be interest in a sample.

[2017-03-08 15:30] #1178 closed

[2017-03-08 18:51] SeanFeldman commented on #2464
Sounds like you've outlined a possible structure - a page for those settings broken down by categories settings are used in. Either way, I don't have the capacity right now, but can give it a shot a bit later.

[2017-03-09 04:04] SimonCropp commented on #2483
the diagram has been updated by @mikeminutillo https://docs.particular.net/nservicebus/outbox/ https://github.com/Particular/docs.particular.net/pull/2530  it is now a visio file if anyone wants to edit it.

[2017-03-09 06:23] mikeminutillo opened #2531 "Review setting up SC with SI doco experience"
We had a customer go through this and a number of things were not obvious fro reading the existing doco.

From the [GG post](https://groups.google.com/d/msg/particularsoftware/Nlf9o_8OMlU/MejTASpjDwAJ):

- If audits aren't enabled, SC will show no endpoints because it uses the contents of the queues to populate rather than the existence of the queues.So if the queues are empty, it looks like there

[2017-03-09 06:54] timbussmann commented on #2480
removed the "other pipeline stages" section in #2529 and moved the mentioned stages to their corresponding incoming/outgoing stages section.

Thanks again for the feedback @Niklas-Peter 👍

[2017-03-09 06:54] #2480 closed

[2017-03-09 07:07] timbussmann commented on #2523
@indualagarsamy is correct that there will be a new saga instance created. As for the comment on the method I'm on the fence. It's up to the persistence whether they delete the saga instance data or not, but even if the saga isn't deleted it would not interfere with the mentioned behavior, as each saga instance has an unique id (not the correlation id) which maps to the correlation id. If a saga i

[2017-03-09 12:49] Niklas-Peter opened #2534 "Feedback: 'Saga Concurrency'"
Feedback for 'Saga Concurrency' https://docs.particular.net/nservicebus/sagas/concurrency

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/sagas/concurrency.md

ping @Particular/nservicebus-maintainers

The documentation only mentions NHibernate and RavenDB concerning concurrency. What is about SQL Persistence?

Why this question?
I use a saga for aggr

[2017-03-09 15:07] ramonsmits opened #2537 "How to add reply redirect sample to docs?"
@Particular/docs-maintainers The following class demonstrates how to override the host when doing a `context.Reply`. Is this something we want to add as a sample on docs? If so, any suggestions on how to position this? Rationale behind it is that you can have message in the error queue, that get retried via ServicePulse. During processing the Reply is using an obsolete host. Instead of the message

[2017-03-09 19:09] indualagarsamy commented on #2537
@ramonsmits - If the main premise of this code is the following:

then it can be achieved by using the redirects feature in ServicePulse. See https://docs.particular.net/servicepulse/redirect

[2017-03-09 21:56] danielmarbach commented on #2537
@indualagarsamy I think there is a misunderstanding here. Redirect feature would need the messages to fail first, being processed by SC and then redirected. The approach above reroutes replies when you do a reply.

[2017-03-10 07:29] Niklas-Peter opened #2538 "Feedback: 'DataBus'"
Feedback for 'DataBus' https://docs.particular.net/nservicebus/messaging/databus/

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/databus/index.md

ping @Particular/nservicebus-maintainers

If I look especially at the updated Outbox pattern image, I do not know how this could happen.

[2017-03-10 08:16] Niklas-Peter commented on #2477
In https://docs.particular.net/nservicebus/hosting/nservicebus-host/ `AsA_Server` is still used.

[2017-03-10 10:46] Niklas-Peter opened #2541 "Feedback: 'Configure delayed retries'"
Feedback for 'Configure delayed retries' https://docs.particular.net/nservicebus/recoverability/configure-delayed-retries

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/recoverability/configure-delayed-retries.md

ping @Particular/nservicebus-maintainers

Merge section Custom Retry Policy with https://docs.particular.net/nservicebus/recoverability/cu

[2017-03-10 13:34] Niklas-Peter opened #2543 "Feedback: 'NHibernate Persistence Saga concurrency'"
Feedback for 'NHibernate Persistence Saga concurrency' https://docs.particular.net/nservicebus/nhibernate/saga-concurrency

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/nhibernate/saga-concurrency.md

ping @Particular/nhibernate-persistence-maintainers

If the row is locked anyway, why is additional optimistic locking needed at all?
Is it possible t

[2017-03-10 18:26] Niklas-Peter opened #2544 "Feedback: 'Child Containers'"
Feedback for 'Child Containers' https://docs.particular.net/nservicebus/containers/child-containers

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/containers/child-containers.md

ping @Particular/container-maintainers

After reading the link below I believed that a transport message contains exactly 1 logical message or is a "user defined message" no

[2017-03-10 23:00] indualagarsamy commented on #2523
@timbussmann - For: https://github.com/Particular/NServiceBus/blob/18e4f48f34553206fc9ae9697ac12d93c19d6659/src/NServiceBus.Core/Sagas/Saga.cs#L126

Instead of:

How about:

This will result in the saga being marked as closed by the persistence. Any pending timeouts for the current saga instance will be removed. In the event of a race condition that the timeout message was just dispatched, when th

[2017-03-10 23:03] indualagarsamy commented on #2534
@Particular/sqlpersistence-maintainers - can you evaluate this to see if it's a bug in the persistence?

[2017-03-10 23:05] indualagarsamy commented on #2534
@Niklas-Peter - Thank you for your feedback. We will evaluate to see if this is a bug in the SqlPersistence. If so, we will raise an issue in the SqlPersistence repository here: https://github.com/particular/nservicebus.persistence.sql

As far as the missing documentation, we will also review it and see what relevant section needs to be added.

[2017-03-11 06:50] andreasohlund commented on #2523
None of the transports that have native timeout support are able to "remove timeouts by saga id" so I think we have to see that more and more as an under the hood optimization?

[2017-03-11 09:07] Niklas-Peter opened #2545 "Feedback: 'Containers'"
Feedback for 'Containers' https://docs.particular.net/nservicebus/containers/

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/containers/index.md

ping @Particular/nservicebus-maintainers

`RegisterComponents` is only available in `EndpointConfiguration`. Is the only possibility to register objects after the endpoint instance was started using the con

[2017-03-11 15:57] indualagarsamy commented on #2545
@Niklas-Peter - Rather than have IMessageSession injected in your custom class, it should be passed in from the same handler or the endpoint instance. Can you please explain your use case you're trying to achieve?
More on this: https://docs.particular.net/nservicebus/upgrades/5to6/moving-away-from-ibus#dependency-injection

cc / @Particular/container-maintainers

[2017-03-11 16:39] indualagarsamy commented on #2541
@Niklas-Peter - thanks for your comment. Yes, I agree. It's good idea to link the section to the custom recoverability policy section.

[2017-03-11 17:23] Niklas-Peter opened #2546 "Feedback: 'Complex saga finding logic'"
Feedback for 'Complex saga finding logic' https://docs.particular.net/nservicebus/sagas/saga-finding

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/sagas/saga-finding.md

ping @Particular/nservicebus-maintainers

You should refer to this note from https://docs.particular.net/samples/nhibernate/custom-mappings/
I had to learn it the hard way right now

[2017-03-11 22:16] Niklas-Peter commented on #2545
Thanks for your reply.

Is it a goal of NServiceBus to abstract the containers or do you intend to use the container-specific API anyway? If the latter is true, I wonder why there are independent methods like EndpointConfiguration.ConfigureComponent(), i.e., why can you do container-independent registrations at configuration time, but not at the endpoint runtime?
Maybe I got something wrong.

[2017-03-11 22:46] SeanFeldman commented on #2328
@ChristianJensen probably not under this issue as it would solely focus on hosting NSB with SB (BTW, partially addressed with a sample for Stateful services [here](https://docs.particular.net/samples/azure/azure-service-fabric-routing/)). And this would probably be something on the platform level, not just a specific technology.

[2017-03-13 02:21] mikeminutillo commented on #2544
@Niklas-Peter you are correct that an endpoint running Version 5 and above will not send a transport message containing more than one logical message (which is the same thing as a "user defined message" in this context).

These endpoints _can_ receive a transport message containing more than one logical message. This allows newer endpoints to integrate with endpoints running on NServiceBus Version

[2017-03-13 03:06] mikeminutillo commented on #2545
Not all of the containers that can be used with NServiceBus allow updating the contents of the container once it has been built. The API provided allows you to contribute to the configuration of the container before the container is constructed (during the endpoint start) but not afterwards.

If you want to do this in a container independent way, you can do something like this:

[code]

Every atte

[2017-03-13 03:22] mikeminutillo commented on #2546
I think the best place to put this code will be in a [feature startup task](https://docs.particular.net/nservicebus/pipeline/features#feature-startup-tasks). These are executed after the installers have run (so your tables should exist) but before the endpoint is started.

[2017-03-13 06:41] timbussmann commented on #2523
I don't like the term closed. From an API perspective we call it "completed" and neither of them explains what this means in technical terms.

I'm with andreas here, this sounds like a too detailed description of a potential implementation. Also, what about responses? It's not just replies I think.

[2017-03-13 06:53] SimonCropp commented on #2537
does it need to be a new sample? or will a single doco page suffice?

[2017-03-13 11:04] Niklas-Peter opened #2547 "Feedback: 'Message Headers' - CorrelationId when sending from a saga"
Feedback for 'Message Headers' https://docs.particular.net/nservicebus/messaging/headers

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/messaging/headers.md

ping @Particular/nservicebus-maintainers

When sending a request from within a saga and trying to receive the response in a handler outside the saga (special case, I can not receive the response

[2017-03-13 13:16] sfarmar commented on #2477
@Niklas-Peter Can I ask what is the issue with that?

[2017-03-13 13:17] Niklas-Peter commented on #2477
@sfarmar Nowhere in the documentation is mentioned what it means.

[2017-03-13 13:52] sfarmar commented on #2477
@Niklas-Peter got it, I'll create a PR to fix it

[2017-03-14 02:19] SimonCropp commented on #418
if anyone wants to get around to this please submit a PR

[2017-03-14 02:19] #418 closed

[2017-03-14 02:21] SimonCropp commented on #835
@Particular/azure-maintainers @Particular/nhibernate-persistence-maintainers @Particular/ravendb-persistence-maintainers @Particular/sqlpersistence-maintainers please submit a PR for your specific nuget if you feel this is valuable

[2017-03-14 02:21] #835 closed

[2017-03-14 02:22] SimonCropp commented on #607
not worth doing for now. if anyone wants to get around to this please submit a PR

[2017-03-14 02:22] #607 closed

[2017-03-14 02:22] SimonCropp commented on #641
if anyone wants to get around to this please submit a PR

[2017-03-14 02:22] #641 closed

[2017-03-14 02:23] SimonCropp commented on #609
moved to https://github.com/Particular/DocsEngine/issues/300

[2017-03-14 02:23] #609 closed

[2017-03-14 02:24] SimonCropp commented on #2389
@andreasohlund not worth a sample

[2017-03-14 02:24] #2389 closed

[2017-03-14 02:24] SimonCropp commented on #743
not worth doing

[2017-03-14 02:24] #743 closed

[2017-03-14 02:26] SimonCropp commented on #801
@Particular/nservicebus-maintainers please submit a PR if you feel this is important

[2017-03-14 02:26] #801 closed

[2017-03-14 02:26] SimonCropp commented on #915
@Particular/nservicebus-maintainers please submit a PR if you feel this is important

[2017-03-14 02:26] #915 closed

[2017-03-14 02:27] SimonCropp commented on #2336
duplicate if https://github.com/Particular/docs.particular.net/issues/786 and https://github.com/Particular/docs.particular.net/issues/787

[2017-03-14 02:27] #2336 closed

[2017-03-14 02:28] SimonCropp commented on #931
please submit a PR if you feel this is still important

[2017-03-14 02:28] #931 closed

[2017-03-14 02:29] SimonCropp commented on #1426
please submit a PR if you still feel this is important

[2017-03-14 02:29] #1426 closed

[2017-03-14 02:29] SimonCropp commented on #842
@Particular/servicecontrol-maintainers please submit a PR if you still feel this is important

[2017-03-14 02:29] #842 closed

[2017-03-14 02:31] SimonCropp commented on #1251
@Particular/nservicebus-maintainers this would seem to be un finished work from v6. please submit a PR if you still feel this is important

[2017-03-14 02:31] #1251 closed

[2017-03-14 02:31] SimonCropp commented on #2423
@Particular/servicecontrol-maintainers please submit a PR if you still feel this is important

[2017-03-14 02:31] #2423 closed

[2017-03-14 02:33] SimonCropp commented on #135
@andreasohlund this would seem to be well out of date and and bundling a large amount of work together. I suggest raising a plat dev issue instead

[2017-03-14 02:33] #135 closed

[2017-03-14 02:34] SimonCropp commented on #909
@indualagarsamy can u submit a PR for this if u think it is worth it

[2017-03-14 02:34] #909 closed

[2017-03-14 02:40] #1004 closed

[2017-03-14 02:41] SimonCropp commented on #939
@SzymonPobiega if u still feel this is valuable can u start a PR

[2017-03-14 02:41] #939 closed

[2017-03-14 02:41] SimonCropp commented on #1167
@Particular/host-maintainers please submit a PR if you think this is valuable

[2017-03-14 02:41] #1167 closed

[2017-03-14 02:42] #1140 closed

[2017-03-14 02:43] SimonCropp commented on #954
@Particular/nhibernate-persistence-maintainers if you want to expose this please submit a PR

[2017-03-14 02:43] #954 closed

[2017-03-14 02:44] SimonCropp commented on #1046
this would seem larger than can be handled under just docs. suggest raising a plat dev issue to see if the ROI is there given he current state of nhibernate

[2017-03-14 02:44] #1046 closed

[2017-03-14 02:45] SimonCropp commented on #870
@ramonsmits  please re-open as a PR if ever get back to this

[2017-03-14 02:45] #870 closed

[2017-03-14 02:46] SimonCropp commented on #1188
@mauroservienti not really enough information to act on here. perhaps work with the @Particular/servicecontrol-maintainers to submitting a draft PR

[2017-03-14 02:46] #1188 closed

[2017-03-14 02:48] SimonCropp commented on #1049
@ramonsmits if you still feel this is required can u start a draft PR